  <div class="innercontainer metad">
    <div class="dialog">
      <h1><%= t('biomodelos.models.metadata.title') %> <em><%= @species_name.blank? ? "" : @species_name %></em></h1>
      <% if @metadata %>
        <p><b><%= t('biomodelos.models.metadata.model_id') %> </b><%= @metadata[0]["modelID"] %></p>
        <p><b><%= t('biomodelos.models.metadata.records_number') %> </b><%= @metadata[0]["recsUsed"].blank? ? 0 : @metadata[0]["recsUsed"] %></p>
        <p><b><%= t('biomodelos.models.metadata.date') %> </b><%= @metadata[0]["yyyy"].blank? ? "NA" : @metadata[0]["yyyy"] %>-<%= @metadata[0]["mm"].blank? ? "NA": @metadata[0]["mm"] %>-<%= @metadata[0]["dd"].blank? ? "NA" : @metadata[0]["dd"] %></p>

        <h2><%= t('biomodelos.models.metadata.info') %></h2>
        <div class="infocontent">
            <% modelingMethod = @metadata[0]["modelingMethod"] %>
            <% if modelingMethod.present? %>  
                <h3 rel="tooltip" title="<%= t('biomodelos.models.metadata.method_tt') %>"><%= t('biomodelos.models.metadata.method') %> <b><%= map_method_name(modelingMethod) %></b></h3>
            <% end %>
            
            <% thresholdType = @metadata[0]["thresholdType"] %>
            <% if thresholdType.present? %>
                <h3 rel="tooltip" title="<%= t('biomodelos.models.metadata.threshold_tt') %>"><%= t('biomodelos.models.metadata.threshold') %> <b><%= thresholdType %></b></h3>
            <% end %>
            
            <% validationType = @metadata[0]["validationType"] %>
            <% if validationType.present? %>
                <h3 rel="tooltip" title="<%= t('biomodelos.models.metadata.validation_type_tt') %>"><%= t('biomodelos.models.metadata.validation_type') %> <b><%= validationType %></b></h3>
            <% end %>
            
            <% perfStatType = @metadata[0]["perfStatType"] %>
            <% if perfStatType.present? %>
                <h3 rel="tooltip" title="<%= t('biomodelos.models.metadata.stat_type_tt') %>"><%= perfStatType %> <b><%= @metadata[0]["perfStatValue"] %></b></h3>
            <% end %>
            
            <% modelLevel = @metadata[0]["modelLevel"] %>
            <% if modelLevel.present? %>
                <h3 rel="tooltip" title="<%= t('biomodelos.models.metadata.level_tt') %>"><%= t('biomodelos.models.metadata.level') %> <b><%= map_level_name(modelLevel) %></b></h3>
            <% end %>

            <% methodFile = @metadata[0]["methodFile"] %>
            <% if methodFile.present? %>
                <% if methodFile.start_with?("http://", "https://") %>
                    <h3 rel="tooltip" title="<%= t('biomodelos.models.metadata.docs_tt') %>"><%= t('biomodelos.models.metadata.docs') %> <b><%= link_to(methodFile, methodFile, target: "_blank") %></b></h3>
                <% else%>
                    <h3 rel="tooltip" title="<%= t('biomodelos.models.metadata.docs_tt') %>"><%= t('biomodelos.models.metadata.docs') %> <b><%= link_to(methodFile, "/methods/#{ERB::Util.url_encode(methodFile)}", target: "_blank") %></b></h3>
                <% end %>
            <% else %>
                <h3 rel="tooltip" title="<%= t('biomodelos.models.metadata.docs_tt') %>"><%= t('biomodelos.models.metadata.docs') %> <b>NA</b></h3>
            <% end %>
        </div>

        <h2><%= t('biomodelos.models.metadata.citation') %></h2>
        <blockquote>
        <p><% if @metadata[0]["citation"].blank? %>
              <%= @metadata[0]["modelAuthors"] %>. <%= @metadata[0]["yyyy"].blank? ? "NA" : @metadata[0]["yyyy"] %>. Modelo de distribución de <em><%= @species_name.blank? ? "" : @species_name %></em> ID <%= @metadata[0]["modelID"] %>. Instituto Alexander von Humboldt.</p><div class="overf"><%= link_to url_for(controller: 'species', action: 'visor', params: { :species_id => @metadata[0]["taxID"] }, only_path: false) %></a>.</div>
           <% else %>
              <%= @metadata[0]["citation"] %>
           <% end %>
        </p>
        </blockquote>
      <% end %>


      <h2><%= t('biomodelos.models.metadata.contact') %></h2>

      <p>Equipo BioModelos
      <a href="mailto:biomodelos@humboldt.org.co" class="overf">biomodelos@humboldt.org.co</a></p>
    </div>
  </div>
