  <div class="innercontainer metad">
    <div class="dialog">
      <h1>Metadatos modelo <em><%= @species_name %></em></h1>

      <p><b>ID del Modelo: </b><%= @metadata[0]["Modelo_ID"] %></p>
      <p><b>Número de registros: </b><%= @records_number %></p>
      <p><b>Fecha desarrollo: </b><%= @metadata[0]["Año_corrida"] %>-<%= @metadata[0]["Mes_corrida"] %>-<%= @metadata[0]["Día_corrida"] %></p>

      <h2>Info</h2>
      <div class="infocontent">
      <h3>Método <b><%= @metadata[0]["Metodo"] %></b></h3>
      <h3>Umbral <b><%= @metadata[0]["Umbral"] %></b></h3>
      <h3>Tipo validación <b><%= @metadata[0]["Validación"] %></b></h3>
      <h3><%= @metadata[0]["Estadístico_Tipo"] %> <b><%= @metadata[0]["Estadístico_Promedio"] %></b></h3>
      <h3>Nivel <b>
        <% if @metadata[0]["Nivel"] == 1 %> 
          Climático
        <% else %>
          Coberturas
        <% end %></b></h3>
      <h3>Documentación <b>NA</b></h3>
      </div>

      <h2>Cita</h2>
      <blockquote>
<<<<<<< HEAD
      <p>Velásquez, Jorge - Gutiérrez, César. 2014. Modelo de distribución de <em>Aburria aburri</em>. ID xxxxxx. Laboratorio de Biogeografía Aplicada. Instituto Alexander von Humboldt.</p><div class="overf"><a href="http://biomodelos.humboldt.org.co/">http://biomodelos.humboldt.org.co/dirmodelo</a>.</div>
=======
      <p><%=  @metadata[0]["Autores"] %>. <%= @metadata[0]["Año_corrida"] %>. Modelo de distribución de <em>Aburria aburri</em> ID <%= @metadata[0]["Modelo_ID"] %>. Laboratorio de Biogeografía Aplicada. Instituto Alexander von Humboldt.</p><div class="overf"><a href="http://biomodelos.humboldt.org.co/">http://betabiomodelos.humboldt.org.co/models/visor?species_id=<%= @metadata[0]["taxID"] %></a>.</div>
>>>>>>> a2ccc4c122d9c236ae880ff463f4da5bb366de15
      </blockquote>
      


      <h2>Contacto</h2>

      <p>BioModelos - Laboratorio de Biogeografía Aplicada
      <a href="mailto:biomodelos@humboldt.org.co" class="overf">biomodelos@humboldt.org.co</a></p>
    </div>
  </div>