<div class="innercontainer fondoplumas nbg7">
  <div class="loginbox">
    <h2>Editar mi usuario</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <br \>
      <h3>Completando tu perfil de usuario aumentas la posibilidad de ingresar a los grupos de expertos y de mejorar la interacción con los demás usuarios.</h3>
      <div class="field">
        <%= f.label :Email, rel: "tooltip", title: "Es importante tener un email válido para recibir notificaciones e información desde la aplicación."%>
        <%= f.input :email, required: true, autofocus: "off", label: false %>
      </div>

      <div class="field">
        <%= f.label :nombre %>
        <%= f.input :name, required: true, autofocus: "off", label: false, placeholder: "Nombre y Apellido", :input_html => {maxlength: 55} %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :Grupos_de_interes %>
        <%= f.input :expertise, autocomplete: "off", label: false, placeholder: "Grupo(s) taxonómico(s) de interés", :input_html => { maxlength: 100 } %>
      </div>

      <div class="field">
        <%= f.label :organización %>
        <%= f.input :organization, autocomplete: "off", label: false, placeholder: "Organización", :input_html => {maxlength: 50 } %>
      </div>

      <div class="field"> 
        <%= f.label :Ubicación %>
        <%= f.input :location, autocomplete: "off", label: false, placeholder: "País, ciudad o municipio", :input_html => {maxlength: 50 } %>
      </div>

      <div class="field mb40">
        <%= f.label :Biografia %>
        <%= f.text_area :bio, autocomplete: "off", label: false, placeholder: "Biografía resumida (max 600 caracteres)", :input_html => { maxlength: 600} %>
      </div>

      <div class="inputBtnSection ml0">
        <input id="uploadFile" class="disableInputField w203" placeholder="Seleccionar Archivo" />
          <label class="fileUpload">
            <%= f.input :avatarURL, :as => :file, :required => true, label: false, error_html: {:class => 'publierror'}, :input_html => { :id => "uploadBtn", :class => "upload"} %>
            <span class="uploadBtn">CAMBIAR FOTO</span>
          </label>
      </div>
      <h3>Cambio de clave</h3>
      <div class="field">
        <%= f.label :nueva_contraseña %> <i>(sólo si va a cambiarla)</i>
        <%= f.input :password, autocomplete: "off", label: false, placeholder: "Ingrese una nueva contraseña", required: false %>
      </div>

      <div class="field">
        <%= f.label :confirmar_contraseña %>
        <%= f.input :password_confirmation, label: false, placeholder: "Confirmar nueva contraseña", required: false %>
      </div>
      <br \>
      <h3>Confirmación de cambios</h3>
      <div class="field mb40">
        <%= f.label :clave_actual %> <i>(Necesaria para confirmar los cambios)</i>
        <%= f.input :current_password, autocomplete: "off", label: false, placeholder: "Ingrese su clave actual", required: true  %>
      </div>

        <%= f.submit "ACTUALIZAR", :class => "ml20" %>
    <% end %>

   <%= link_to "Volver", :back %>
  </div>
</div>

<script>
  $(document).ready(function(){
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.value;
    };
  });
</script>