<div class="innercontainer fondoplumas nbg6">
  <div class="loginbox">
    <h2><%= t('biomodelos.sign_up.title') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <!-- <%= flash[:recaptcha_error] %> -->
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :clave %>
        <% if @minimum_password_length %>
        <em><%= t('biomodelos.sign_up.password_min_txt', caracteres: @minimum_password_length) %></em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="field2">
        <%= f.check_box :terms_of_service, {:class => "vamiddle"} %>
        <label class="checkboxterm"><%= link_to t('biomodelos.sign_up.terms_txt'), home_terms_path(:anchor => "politica"), {class: 'linkterminos', target: '_blank'} %></label></br>
        <%= f.check_box :data_policy, {:class => "mb40"} %>
        <label class="checkboxterm2"><%= link_to t('biomodelos.sign_up.data_policies_txt'), home_terms_path(:anchor => "personales"), {class: 'linkterminos', target: '_blank'} %></label></br>
        <!-- <input type="checkbox" name="aceptoterms" value="terms" id="acepto-chk" class="mb40" />
        <label  class="checkboxterm"><a class="linkterminos" href="">He leído y acepto los términos y condiciones</a></label></br>
        </input> -->
      </div>
      <% if @show_checkbox_recaptcha %>
        <%= recaptcha_tags %>
      <% else %>
        <%= recaptcha_v3(action: 'registration', site_key: Rails.application.credentials.dig(:recaptcha, :RECAPTCHA_SITE_KEY_V3)) %>
      <% end %>
      <div class="actions">
        <%= f.submit t('biomodelos.sign_up.sign_up_btn') %>
      </div>
    <% end %>
    <div class="respclear"></div>
    <%= render "devise/shared/links" %>
  </div>
</div>