<div class="innercontainer fondoplumas">
  <div class="loginbox">
    <h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Nombre_y_Apellidos %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :clave %>
    <% if @minimum_password_length %>
    <em>(mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field mb40">
    <%= f.label :confirmar_clave %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "REGISTRARSE" %>
  </div>
<% end %>
<div class="respclear"></div>
<%= render "devise/shared/links" %>

  </div>
</div>