<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="author" content="BioModelos - biomodelos@humboldt.org.co">
    <title>Mensaje administrador</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
<style>
* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
	color: #db3f2a;
}

.linewidth {
	width: 700px;
	height: 150px;
	background-color: #1b3337;
	margin: 0 auto;
}

.contenido {
	width: 600px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 0 auto;
	margin-top: -70px;
}

h3 {
	color: #393836;
	margin-bottom: 35px;
}

h3 i,
h3 b {
	color: #424242;
}

h3 span {
	color: #db3f2a;
}

</style>

</head>
<body>
<div class="linewidth"></div>
<div class ="contenido">
	<h3>Saludos <%= @user.name %>,<br/>
	Ha recibido un mensaje de <i><%= link_to  @sender.name, user_url(id: @sender.id), target: '_blank' %>,</i> desde <span>BioModelos:</span></h3>
	Hora de recepción: <%= @datetime.strftime("%F %r") %><br/>
	<br/>
	Mensaje:<br/>
	<p><%= @message %></p>
	<br/>
	<br/>
	Este correo está siendo enviado a su dirección de correo electrónico consignada en la base de datos de BioModelos. Sus datos están siendo tratados de acuerdo a la Ley Estatutaria 1581 de 2012 y el Decreto Reglamentario 1377 de 2013, por las cuales se dictan disposiciones para la protección de datos personales.
	<br/><br/>
	Si desea eliminar su dirección de correo electrónico de nuestra base de datos, por favor responda este correo con el asunto “Deseo dejar de recibir correo”. Ante cualquier inquietud puede comunicarse con nosotros al correo electrónico biomodelos@humboldt.org.co o desde la forma de contacto en  <%= link_to 'BioModelos', url_for(controller: 'home', action: 'contact_us') %>
</div>
</body>
</html>
