<% if @models && !@models.blank? %>
	<p><%= t('biomodelos.visor.hypotheses.text_1') %></p>
	<!-- <div class="button-group filter-button-group">
	  <button class="filterbtn is-checked" data-filter="*">Todas</button>
	  <button class="filterbtn" data-filter=".nivel1">Climáticos</button>
	  <button class="filterbtn" data-filter=".nivel2">Coberturas</button>
	  <button class="filterbtn" data-filter=".publicados">Publicados</button>
	  <button class="filterbtn" data-filter=".validado">Validado</button>
	</div> -->

	<div class="grid">

	<% @models.each_with_index do |model, i| %>
		<div class="maparea publicados">
			<div href="" class="mapthumb">
				<div class="flipper">
					<div class="front2"><%= image_tag(set_path(model.thumbUrl, "thumb")) %></div>
					<a class="back2 sp_model_link">
						<%= hidden_field_tag('model_layer', model_layer(model).html_safe) %>
						<div class="titlethumb">
							<%= model_title_thumb(model.modelStatus, model.published) %>
							<%= hidden_field_tag 'txt_model_status', model.modelStatus %>
						</div>
						<div class="citathumb"><b>
							<% if !model.level.blank? %>
						 		<%= t('biomodelos.visor.hypotheses.level') %> <%= model.level %>
						 	<% end %>
						</b></div>
						<div class="infothumb">
							<%= t('biomodelos.visor.hypotheses.rating_mean') %>
							<div class="calificacion"><%= Rating.average_rating(model.modelID) %> <b>(<%= Rating.rating_number(model.modelID) %> <%= t('biomodelos.visor.hypotheses.votes') %>)</b></div>
						</div>
						<div class="infothumb">
							<%= t('biomodelos.visor.hypotheses.downloads_number') %>
							<div class="calificacion"><%= Download.downloads(model.modelID) %></div>
						</div>
						<div class="citathumb lhlow"><%= model.citation.blank? ? "": model.citation %></div>
						<div class="commons">
							<% if model.license == 'by' %>
								<%= image_tag("cc1.png") %>
								<%= image_tag("cc2.png") %>
							<% elsif model.license == 'by-sa' %>
								<%= image_tag("cc1.png") %>
								<%= image_tag("cc2.png") %>
								<%= image_tag("cc4.png") %>
							<% elsif model.license == 'by-nc' %>
								<%= image_tag("cc1.png") %>
								<%= image_tag("cc2.png") %>
								<%= image_tag("cc3.png") %>
							<% elsif model.license == 'by-nc-sa' %>
								<%= image_tag("cc1.png") %>
								<%= image_tag("cc2.png") %>
								<%= image_tag("cc3.png") %>
								<%= image_tag("cc4.png") %>
							<% elsif model.license == 'cc-zero' %>
								<%= image_tag("cc5.png") %>
							<% end %>
						</div>
					</a>
				</div>
			</div>
			<div class="mmicon clearfix">
				<%= button_to models_download_terms_path(:zip_url => set_path(
				model.zipUrl, "zip"), :box => 2, :model_id => model.modelID , :species_id => @species_id), {:class => 'pad3', :title => t('biomodelos.visor.hypotheses.download_tt'), :rel => "tooltip", :remote => true} do %>
						<%= image_tag("downicon.png") %>
					<% end %>
				<!-- <a target="_blank" href="/models/<%= model.modelID %>/metadata" title="<%= t('biomodelos.visor.hypotheses.metadata_tt') %>" rel="tooltip" class="pad3"><%= image_tag("metaicon.png") %></a> -->
				<%= link_to "/#{I18n.locale}/models/#{model.modelID}/metadata", target: "_blank", title: t('biomodelos.visor.hypotheses.metadata_tt'), rel: "tooltip", class: "pad3"  do %>
					<%= image_tag("metaicon.png") %>
				<% end %>
				<% if user_signed_in? && can_edit %>
					<div class="user_star">
						<%= hidden_field_tag('myscore', ratings[model.modelID], :class => 'myscore') %>
						<%= hidden_field_tag('model', model.modelID, :class => 'model_id' )  %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>

	</div>

<% else %>
	<p><%= t('biomodelos.visor.hypotheses.text_2_html') %></p>
		<div class="maparea">
			<div href="" class="mapthumb">
				<div class="flipper">
					<div class="front2"><%= image_tag("nomap2.png") %></div>
					<div class="back2">
						<div class="titlethumb">
							<%= t('biomodelos.visor.hypotheses.no_model') %>
						</div>
					</div>
				</div>
			</div>
			<div class="mmicon clearfix">
			</div>
		</div>
<% end %>
<div class ="termbox2"></div>

<!-- <h3>FORO <i>Aglaiocercus coelestis</i></h3>
<form action="">
	<textarea name="" id="" cols="30" rows="4" placeholder="Foro exclusivo para comentar las hipótesis de distribución disponibles para esta especie."></textarea>
</form>
<input type="submit" value="COMENTAR"></input>
<div class="clearfix"></div>
<div class="notif">
	<%= image_tag("nouserthumb.png") %>
	<a class="foroname" href="">Victor Setina Liz</a>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	<p>Fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
	<div class="foroactions">
		<a href="">responder</a>
		<a href="">editar</a>
		<a href="">borrar</a>
	</div>
</div>
<div class="notif reply">
	<%= image_tag("userthumbp.png") %>
	<a class="foroname" href="">César Gutiérrez</a>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	<p>Fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
	<div class="foroactions">
		<a href="">responder</a>
		<a href="">borrar</a>
	</div>
</div> -->
<script type="text/javascript">
/* Rating */
var raty_icon_path = "http://biomodelos.humboldt.org.co/assets/raty/lib/images";
$('.user_star').raty({
	path: raty_icon_path,
	hints: ['<%= t('biomodelos.visor.hypotheses.rating_0_hint') %>', '<%= t('biomodelos.visor.hypotheses.rating_1_hint') %>', '<%= t('biomodelos.visor.hypotheses.rating_2_hint') %>', '<%= t('biomodelos.visor.hypotheses.rating_3_hint') %>', '<%= t('biomodelos.visor.hypotheses.rating_4_hint') %>'],
	cancel: true,
	cancelHint:   '<%= t('biomodelos.visor.hypotheses.rating_delete') %>',
	score:  function() {
		return $(this).find('.myscore').val();
	},
	click: function(score, evt) {
		model_clicked_id = $(this).find('.model_id').val();
		if(evt.currentTarget.className === "raty-cancel")
		{
			if(<%= user_signed_in? %>){
				$.ajax({
					type: "DELETE",
					url: "/ratings/destroy",
					data: { model_id: $(this).find('.model_id').val(), uid: $('#bio_user_id').val()}
				});
			}
		}
		else{

			$.ajax({
				type: "POST",
				url: "/ratings/rate_model",
				data: { model_id: $(".model_id[value='"+model_clicked_id+"']").val(), species_id: $("#species_id_field").val(), score: score,},
				success: function(data){

				},
				error: function(data){
					alertify.alert("<%= t('biomodelos.visor.hypotheses.rating_error') %>");
				}
			});

		}
	}
});

// init Isotope
var $grid = $('.grid').isotope({
});

$('.filter-button-group').on( 'click', 'button', function() {
  var filterValue = $(this).attr('data-filter');
  $grid.isotope({ filter: filterValue });
});

// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
});
</script>
