		<div class="cvcolumn">
			<div class="followstate fright"><div class="follow siguiendo">siguiendo</div></div>
			<p>BioModelos te ofrece tres opciones para contribuir a documentar las distribuciones de especies: editando sobre el modelo estadístico desarrollado por BioModelos, creando un mapa de experto en la aplicación o publicando un modelo que hayas desarrollado.</p>
		</div>
		<h2>DESARROLLO MODELO</h2>

		<div class="steptitle">1. A partir de modelo estadístico</div>
		<div class="dinblock">
			<div href="" class="editthumb">
				<a href=""><%= image_tag(continuous_t.thumbUrl) %></a>
			</div>
			<div class="editactions clearfix">
				<%= link_to models_download_model_path(:thumb_url => continuous_t.tifUrl), {:class => 'download', :remote => true, :title => "Bajar el modelo", :rel => "tooltip"} do %>
					<%= image_tag("downicon.png") %>
				<% end %>
				<a href="" title="Ver metadatos del modelo" rel="tooltip"><%= image_tag("metaicon.png") %></a>
				<%= hidden_field_tag 'continuous_t_url', continuous_t.pngUrl %>
				<%= hidden_field_tag 'zero_t_url', zero_t.pngUrl %>
				<%= hidden_field_tag 'ten_t_url', ten_t.pngUrl %>
				<%= hidden_field_tag 'twenty_t_url', twenty_t.pngUrl %>
				<%= hidden_field_tag 'thirty_t_url', thirty_t.pngUrl %>
				<button class="newgrbtn" id="cbt_editBtn">editar</a>
			</div>
		</div>
		<div class="dinblock">
			<p class="estadistico">UMBRAL</p>
			<p>Utiliza el slider para identificar el modelo que mejor representa el área climáticamente idónea para la especie (los límites de distribución se definen con la herramienta polígono). Si quieres mayor información sobre la definición del umbral, consulta el documento metodológico de BioModelos.</p>
			<p class="estadistico edicon">HERRAMIENTAS DE POLÍGONO</p>
			<p>El botón inicial crea poligonos. Se puede dibujar un area sobre la cual recortar la distribución propuesta, así como agregar áreas que no se muestren en el modelo estadístico o sustraer áreas de. Los otros dos botones permiten modificar los polígonos dibujados o eliminarlos.</p>
			<p class="estadistico veicon">VARIABLES ECOLÓGICAS</p>
			<p>Selecciona las coberturas terrestres adecuadas para la manutención de poblaciones de la especie, de acuerdo a la leyenda nacional de coberturas de la tierra.</p>
		</div>
		<div class="steptitle">2. Crea tu mapa</div>
		<p>Utilizando la herramienta polígono podrás delinear las áreas que corresponden al rango de distribución de una especie.</p>
		<div class="editactions clearfix">
			<button class="newgrbtn" id="cbt_crearBtn">crear</button>
		</div>

		<div class="steptitle">3. Publica tu mapa</div>
		<p>Este enlace te llevará al formulario que describe el procedimiento para publicar tus modelos en BioModelos.</p>
		<%= link_to image_tag("uploadicon.png"), home_publish_path %>