<% if !@forest_loss.blank? %>
	<div id="extchart"></div>
	<div class="convenciones clearfix">
		<p class="bluesq"><%= t('biomodelos.visor.statistics.forest_graphic_blue') %></p></br>
		<p class="removeline"><%= t('biomodelos.visor.statistics.forest_graphic_trend') %></p>
		<p class="orangesq"><%= t('biomodelos.visor.statistics.forest_graphic_orange') %></p>
		<p class="redsq"><%= t('biomodelos.visor.statistics.forest_graphic_red') %></p>
		<p class="yellsq"><%= t('biomodelos.visor.statistics.forest_graphic_yellow') %></p>
	</div>
	<script type="text/javascript">
			google.charts.load('current', {'packages':['line']});
			google.charts.setOnLoadCallback(drawForestLossChart);

			function drawForestLossChart() {
				var years = <%= @forest_loss["years"] %>;
				var values = <%= @forest_loss["values"] %>;
				var rows = [];
				years.forEach(function(val, idx) {
					if (idx === years.length - 1) {
						rows.push([new Date(years[idx],0,1), values[idx], values[idx], values[idx], values[idx]]);
					} else {
						rows.push([new Date(years[idx],0,1), values[idx], , , ,]);
					}
				})
				rows.push([
					new Date(2030,0,1),
					,
					<%= @forest_loss["statFutureForest30h"].blank? ? 0 : @forest_loss["statFutureForest30h"] %>,
					<%= @forest_loss["statFutureForest30d"].blank? ? 0 : @forest_loss["statFutureForest30d"] %>,
					<%= @forest_loss["statFutureForest30c"].blank? ? 0 : @forest_loss["statFutureForest30c"] %>
				]);

				var data = new google.visualization.DataTable();
				data.addColumn('date', '<%= t('biomodelos.visor.statistics.forest_graphic_year') %>');
				data.addColumn('number', '<%= t('biomodelos.visor.statistics.forest_graphic_col_1') %>');
				data.addColumn('number', '<%= t('biomodelos.visor.statistics.forest_graphic_col_2') %>');
				data.addColumn('number', '<%= t('biomodelos.visor.statistics.forest_graphic_col_3') %>');
				data.addColumn('number', '<%= t('biomodelos.visor.statistics.forest_graphic_col_4') %>');

				data.addRows(rows)

				var options = {
					width: 500,
					height: 300,
					legend: { position: 'none' },
					hAxis: {
						format: 'yyyy'
					},
					vAxis: {
						title: '<%= t('biomodelos.visor.statistics.forest_graphic_percentage') %>'
					},
					chartArea: {left:50, right:50, width: 400},
					colors: ['#124c5e','#18b4b1','#c12a26', '#e3af24']
				};

				var date_formatter = new google.visualization.DateFormat({
					pattern: "yyyy"
				});
				date_formatter.format(data, 0);

				var chart = new google.charts.Line(document.getElementById('extchart'));

				chart.draw(data, google.charts.Line.convertOptions(options));
			}
	</script>
<% end %>
