<div id="eco_var_accordion">
	<v-accordion class="vAccordion--default">
	        <v-pane>
		        <v-pane-header title="<%= t('biomodelos.visor.covers.cover_1_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_1') %>
		      	</v-pane-header>
		        <v-pane-content>
	                <v-accordion>
	                    <v-pane>
		                    <v-pane-header title="<%= t('biomodelos.visor.covers.cover_11_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_11') %>
		                	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="2"></input><label title="<%= t('biomodelos.visor.covers.cover_111_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_111') %></label></div>
		                        <div><input type="checkbox" name="3"></input><label title="<%= t('biomodelos.visor.covers.cover_112_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_112') %></label></div>
		                    </v-pane-content>
	                    </v-pane>
	                </v-accordion>
	                <v-accordion>
	                    <v-pane>
		                    <v-pane-header title="<%= t('biomodelos.visor.covers.cover_12_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_12') %>
		                    </v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="5"></input><label title="<%= t('biomodelos.visor.covers.cover_121_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_121') %></label></div>
		                        <div><input type="checkbox" name="6"></input><label title="<%= t('biomodelos.visor.covers.cover_122_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_122') %></label></div>
		                        <div><input type="checkbox" name="7"></input><label title="<%= t('biomodelos.visor.covers.cover_123_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_123') %></label></div>
		                        <div><input type="checkbox" name="8"></input><label title="<%= t('biomodelos.visor.covers.cover_124_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_124') %></label></div>
		                        <div><input type="checkbox" name="9"></input><label title="<%= t('biomodelos.visor.covers.cover_125_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_125') %></label></div>
		                    </v-pane-content>
	                    </v-pane>
	                </v-accordion>
	                <v-accordion>
	                    <v-pane>
		                    <v-pane-header title="<%= t('biomodelos.visor.covers.cover_13_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_13') %>
		                    </v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="11"></input><label title="<%= t('biomodelos.visor.covers.cover_131_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_131') %></label></div>
		                        <div><input type="checkbox" name="12"></input><label title="<%= t('biomodelos.visor.covers.cover_132_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_132') %></label></div>
		                    </v-pane-content>
	                    </v-pane>
	                </v-accordion>
	                <v-accordion>
	                    <v-pane>
		                    <v-pane-header title="<%= t('biomodelos.visor.covers.cover_14_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_14') %>
		                    </v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="14"></input><label title="<%= t('biomodelos.visor.covers.cover_141_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_141') %></label></div>
		                        <div><input type="checkbox" name="15"></input><label title="<%= t('biomodelos.visor.covers.cover_142') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_142') %></label></div>
		                    </v-pane-content>
	                    </v-pane>
	                </v-accordion>
	            </v-pane-content>
			</v-pane>
			<v-pane>
	          	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_2_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_2') %>
	      		</v-pane-header>
		        <v-pane-content>
	                <v-accordion>
	                    <v-pane>
	                    	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_21_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_21') %>
	                    	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="17"></input><label title="<%= t('biomodelos.visor.covers.cover_211_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_211') %></label></div>
		                        <div><input type="checkbox" name="18"></input><label title="<%= t('biomodelos.visor.covers.cover_212_tt') %>." rel="tooltip"><%= t('biomodelos.visor.covers.cover_212') %></label></div>
		                        <div><input type="checkbox" name="19"></input><label title="<%= t('biomodelos.visor.covers.cover_213_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_213') %></label></div>
		                        <div><input type="checkbox" name="20"></input><label title="<%= t('biomodelos.visor.covers.cover_214_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_214') %></label></div>
		                        <div><input type="checkbox" name="21"></input><label title="<%= t('biomodelos.visor.covers.cover_215_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_215') %></label></div>
							</v-pane-content>
	                    </v-pane>
	                </v-accordion>
	                <v-accordion>
	                    <v-pane>
	                    	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_22_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_22') %>
	                    	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="23"></input><label title="<%= t('biomodelos.visor.covers.cover_221_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_221') %></label></div>
		                        <div><input type="checkbox" name="24"></input><label title="<%= t('biomodelos.visor.covers.cover_222_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_222') %></label></div>
		                        <div><input type="checkbox" name="25"></input><label title="<%= t('biomodelos.visor.covers.cover_223_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_223') %></label></div>
		                        <div><input type="checkbox" name="26"></input><label title="<%= t('biomodelos.visor.covers.cover_224_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_224') %></label></div>
		                        <div><input type="checkbox" name="27"></input><label title="<%= t('biomodelos.visor.covers.cover_225_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_225') %></label></div>
							</v-pane-content>
	                    </v-pane>
	                </v-accordion>
	                <v-accordion>
	                    <v-pane>
	                    	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_23_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_23') %>
	                    	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="29"></input><label title="<%= t('biomodelos.visor.covers.cover_231_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_231') %></label></div>
		                        <div><input type="checkbox" name="30"></input><label title="<%= t('biomodelos.visor.covers.cover_232_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_232') %></label></div>
		                        <div><input type="checkbox" name="31"></input><label title="<%= t('biomodelos.visor.covers.cover_233_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_233') %></label></div>
							</v-pane-content>
	                    </v-pane>
	                </v-accordion>
	                <v-accordion>
	                    <v-pane>
	                    	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_24_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_24') %>
	                    	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="33"></input><label title="<%= t('biomodelos.visor.covers.cover_241_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_241') %></label></div>
		                        <div><input type="checkbox" name="34"></input><label title="<%= t('biomodelos.visor.covers.cover_242_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_242') %></label></div>
		                        <div><input type="checkbox" name="35"></input><label title="<%= t('biomodelos.visor.covers.cover_243_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_243') %></label></div>
		                        <div><input type="checkbox" name="36"></input><label title="<%= t('biomodelos.visor.covers.cover_244_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_244') %></label></div>
		                        <div><input type="checkbox" name="37"></input><label title="<%= t('biomodelos.visor.covers.cover_245_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_245') %></label></div>
							</v-pane-content>
	                    </v-pane>
	                </v-accordion>
				</v-pane-content>       
	        </v-pane>
	        <v-pane>
	          	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_3_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_3') %>
	          	</v-pane-header>
	            <v-pane-content>
	                <v-accordion>
	                	<v-pane>
		                    <v-pane-header title="<%= t('biomodelos.visor.covers.cover_31_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_31') %>
		                	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="39"></input><label title="<%= t('biomodelos.visor.covers.cover_311_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_311') %></label></div>
		                        <div><input type="checkbox" name="40"></input><label title="<%= t('biomodelos.visor.covers.cover_312_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_312') %></label></div>
		                        <div><input type="checkbox" name="41"></input><label title="<%= t('biomodelos.visor.covers.cover_313_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_313') %></label></div>
		                        <div><input type="checkbox" name="42"></input><label title="<%= t('biomodelos.visor.covers.cover_314_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_314') %></label></div>
		                        <div><input type="checkbox" name="43"></input><label title="<%= t('biomodelos.visor.covers.cover_315_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_315') %></label></div>
		                    </v-pane-content>
		                </v-pane>
		            </v-accordion>
					<v-accordion>
	                	<v-pane>
		                    <v-pane-header title="<%= t('biomodelos.visor.covers.cover_32_tt_html') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_32') %>
							</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="45"></input><label title="<%= t('biomodelos.visor.covers.cover_321_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_321') %></label></div>
		                        <div><input type="checkbox" name="46"></input><label title="<%= t('biomodelos.visor.covers.cover_322_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_322') %></label></div>
		                        <div><input type="checkbox" name="47"></input><label title="<%= t('biomodelos.visor.covers.cover_323_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_323') %></label></div>
		                    </v-pane-content>
	                	</v-pane>
		            </v-accordion>
					<v-accordion>
	                	<v-pane>
		                    <v-pane-header title="<%= t('biomodelos.visor.covers.cover_33_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_33') %>
		                	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="49"></input><label title="<%= t('biomodelos.visor.covers.cover_331_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_331') %></label></div>
		                        <div><input type="checkbox" name="50"></input><label title="<%= t('biomodelos.visor.covers.cover_332_tt_html') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_332') %></label></div>
		                        <div><input type="checkbox" name="51"></input><label title="<%= t('biomodelos.visor.covers.cover_333_tt_html') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_333') %></label></div>
		                        <div><input type="checkbox" name="52"></input><label title="<%= t('biomodelos.visor.covers.cover_334_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_334') %></label></div>
		                        <div><input type="checkbox" name="53"></input><label title="<%= t('biomodelos.visor.covers.cover_335_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_335') %></label></div>
	                    	</v-pane-content>
	                    </v-pane>
	                </v-accordion>
	        	</v-pane-content>
	        </v-pane>
	        <v-pane>
	          	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_4_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_4') %>
	          	</v-pane-header>
	            <v-pane-content>
	                <v-accordion>
	                	<v-pane>
		                    <v-pane-header title="<%= t('biomodelos.visor.covers.cover_41_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_41') %>
		                	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="55"></input><label title="<%= t('biomodelos.visor.covers.cover_411_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_411') %></label></div>
		                        <div><input type="checkbox" name="56"></input><label title="<%= t('biomodelos.visor.covers.cover_412_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_412') %></label></div>
		                        <div><input type="checkbox" name="57"></input><label title="<%= t('biomodelos.visor.covers.cover_413_tt_html') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_413') %></label></div>
		                    </v-pane-content>
		                </v-pane>
	                </v-accordion>
	                <v-accordion>
	                	<v-pane>
	                    	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_42_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_42') %>
	                    	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="59"></input><label title="<%= t('biomodelos.visor.covers.cover_421_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_421') %></label></div>
		                        <div><input type="checkbox" name="60"></input><label title="<%= t('biomodelos.visor.covers.cover_422_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_422') %></label></div>
		                        <div><input type="checkbox" name="61"></input><label title="<%= t('biomodelos.visor.covers.cover_423_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_423') %></label></div>
	                    	</v-pane-content>
	                    </v-pane>
	                </v-accordion>
	        	</v-pane-content>
	        </v-pane>
	        <v-pane>
	          	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_5_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_5') %>
	          	</v-pane-header>
	            <v-pane-content>
					<v-accordion>
	                	<v-pane>
	                    	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_51_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_51') %>
	                    	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="63"></input><label title="<%= t('biomodelos.visor.covers.cover_511_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_511') %></label></div>
		                        <div><input type="checkbox" name="64"></input><label title="<%= t('biomodelos.visor.covers.cover_512_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_512') %></label></div>
		                        <div><input type="checkbox" name="65"></input><label title="<%= t('biomodelos.visor.covers.cover_513_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_513') %></label></div>
		                        <div><input type="checkbox" name="66"></input><label title="<%= t('biomodelos.visor.covers.cover_514_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_514') %></label></div>
		                    </v-pane-content>
		                </v-pane>
	                </v-accordion>
	                <v-accordion>
	                	<v-pane>
	                    	<v-pane-header title="<%= t('biomodelos.visor.covers.cover_52_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_52') %>
	                    	</v-pane-header>
		                    <v-pane-content>
		                        <div><input type="checkbox" name="68"></input><label title="<%= t('biomodelos.visor.covers.cover_521_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_521') %></label></div>
		                        <div><input type="checkbox" name="69"></input><label title="<%= t('biomodelos.visor.covers.cover_522_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_522') %></label></div>
		                        <div><input type="checkbox" name="70"></input><label title="<%= t('biomodelos.visor.covers.cover_523_tt') %>" rel="tooltip"><%= t('biomodelos.visor.covers.cover_523') %></label></div>
	                    	</v-pane-content>
	                    </v-pane>
	                </v-accordion>
	        	</v-pane-content>
	        </v-pane>
        </v-accordion>
</div>