<% if @models && !@models.blank? %>
	<p>Estas hipótesis corresponden al modelo aprobado en BioModelos, mapas de expertos o modelos publicados. Pueden ser calificadas por los miembros del grupo al que pertenece esta especie. Aquella con mayor calificación es la que se muestra por defecto. Puedes realizar la descarga de los modelos y consultar sus metadatos. </p>
	<% @models.each_with_index do |model, i| %>
		<div class="maparea">
			<div href="" class="mapthumb">
				<div class="flipper">
					<div class="front2"><%= image_tag(model.thumbUrl) %></div>
					<a class="back2 sp_model_link">
						<%= hidden_field_tag('imgsrc_model', model.pngUrl) %>
						<div class="titlethumb">
							<%= model_title_thumb(model.modelStatus) %>
						</div>
						<div class="infothumb">
							Calificación promedio
							<div class="calificacion"><%= Rating.average_rating(model.modelID) %> <b>(12 votos)</b></div>
						</div>
						<div class="infothumb">
							Número descargas
							<div class="calificacion">3</div>
						</div>
						<div class="citathumb">Gutiérrez, et.al, 2015</div>
					</a>
				</div>
			</div>
			<div class="mmicon clearfix">
				<a href="" title="Descargar el modelo" rel="tooltip" class="pad3"><%= image_tag("downicon.png") %></a>
				<a target="_blank" href="/models/<%= model.modelID %>/metadata" title="Ver metadatos del modelo" rel="tooltip" class="pad3"><%= image_tag("metaicon.png") %></a>
				<% if user_signed_in?%>
					<div class="user_star">
						<%= hidden_field_tag('myscore', ratings[model.modelID], :class => 'myscore') %>
						<%= hidden_field_tag('model', model.modelID, :class => 'model_id' )  %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
<% else %>
	<p>Esta especie no cuenta con una hipótesis de distribución.</br>
		<b>Razones Posibles:</b></br>
		1)	Se encuentra en desarrollo.</br>
		2)	No hay suficientes registros para poder desarrollar un modelo.</br>
		3)	No contamos con expertos para esta especie.</br>
		4)	En revisión ej. por cambio taxonómico.</br>
	</p>
	<div class="maparea">
			<div href="" class="mapthumb">
				<div class="flipper">
					<div class="front2"><%= image_tag("nomap2.png") %></div>
					<div class="back2">
						<div class="titlethumb">
							SIN MODELO
						</div>
					</div>
				</div>
			</div>
			<div class="mmicon clearfix">
			</div>
		</div>
<% end %>


<h3>FORO <i>Aglaiocercus coelestis</i></h3>
<form action="">
	<textarea name="" id="" cols="30" rows="4" placeholder="Foro exclusivo para comentar las hipótesis de distribución disponibles para esta especie."></textarea>
</form>
<input type="submit" value="COMENTAR"></input>
<div class="clearfix"></div>
<div class="notif">
	<%= image_tag("nouserthumb.png") %>
	<a class="foroname" href="">Victor Setina Liz</a>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	<p>Fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
	<div class="foroactions">
		<a href="">responder</a>
		<a href="">editar</a>
		<a href="">borrar</a>
	</div>
</div>
<div class="notif reply">
	<%= image_tag("userthumbp.png") %>
	<a class="foroname" href="">César Gutiérrez</a>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	<p>Fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
	<div class="foroactions">
		<a href="">responder</a>
		<a href="">borrar</a>
	</div>
</div>
<script type="text/javascript">
/* Rating */
$('.user_star').raty({ 
	path: '../assets/raty/lib/images',
	hints: ['No representa', 'Representa pobremente', 'Representa regularmente', 'Representa adecuadamente', 'Representa muy bien'],
	cancel: true,
	cancelHint:   'Eliminar calificación',
	score:  function() {
		return $(this).find('.myscore').val();
	},
	click: function(score, evt) {
		model_clicked_id = $(this).find('.model_id').val();
		if(evt.currentTarget.className === "raty-cancel")
		{
			if(<%= user_signed_in? %>){
				$.ajax({
					type: "DELETE",
					url: "/ratings/destroy",
					data: { model_id: $(this).find('.model_id').val(), uid: $('#bio_user_id').val()}
				});
			}
		}
		else{

			$.ajax({
				type: "POST",
				url: "/ratings/rate_model",
				data: { model_id: $(".model_id[value='"+model_clicked_id+"']").val(), species_id: $("#species_id_field").val(), score: score,},
				success: function(data){                
					
				},
				error: function(data){
					alertify.alert("Ha ocurrido un error al guardar la calificación");
				}
			});

		} 
	} 
});
</script>