<div class="vcbase">
			<h1>HIPÓTESIS DISPONIBLES</h1>
			<a ng-click="hipotesis=!hipotesis" class="closevb" id="clsModelsBox">x</a>
		</div>
		<div class="cvcolumn">
			<div class="followstate fright">
				<a href="" class="follow invisible">seguir</a>
				<div class="follow siguiendo">siguiendo</div>
			</div>
			<p>Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula, a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui.</p>

			
				<div class="maparea">
					<div href="" class="mapthumb">
						<div class="flipper">
							<div class="front2"><%= image_tag("mapthumb.png") %></div>
							<a class="back2">
								<div class="titlethumb">
									MODELO VALIDADO BIOMODELOS
								</div>
								<div class="infothumb">
									Calificación promedio
									<div class="calificacion">4.2 <b>(12 votos)</b></div>
								</div>
								<div class="infothumb">
									Número descargas
									<div class="calificacion">3</div>
								</div>
								<div class="citathumb">Gutiérrez, et.al, 2015</div>
							</a>
						</div>
					</div>
					<div class="mmicon clearfix">
						<a href="" title="Bajar el modelo" rel="tooltip"><%= image_tag("downicon.png") %></a>
						<a href="" title="Ver metadatos del modelo" rel="tooltip"><%= image_tag("metaicon.png") %></a>
						<a href="" title="Borrar calificación" rel="tooltip" class="delicon"><%= image_tag("delicon.png") %></a>
					</div>
				</div>
				<div class="maparea">
					<div href="" class="mapthumb">
						<div class="flipper">
							<div class="front2"><%= image_tag("mapthumb.png") %></div>
							<a class="back2">
								<div class="titlethumb">
									MODELO VALIDADO BIOMODELOS
								</div>
								<div class="infothumb">
									Calificación promedio
									<div class="calificacion">4.2 <b>(12 votos)</b></div>
								</div>
								<div class="infothumb">
									Número descargas
									<div class="calificacion">3</div>
								</div>
								<div class="citathumb">Gutiérrez, et.al, 2015</div>
							</a>
						</div>
					</div>
					<div class="mmicon clearfix">
						<a href="" title="Descargar el modelo" rel="tooltip"><%= image_tag("downicon.png") %></a>
						<a href="" title="Ver metadatos del modelo" rel="tooltip"><%= image_tag("metaicon.png") %></a>
						<a href="" title="Borrar calificación" rel="tooltip" class="delicon"><%= image_tag("delicon.png") %></a>
					</div>
				</div>
				<div class="maparea">
					<div href="" class="mapthumb">
						<div class="flipper">
							<div class="front2"><%= image_tag("mapthumb.png") %></div>
							<a class="back2">
								<div class="titlethumb">
									MODELO VALIDADO BIOMODELOS
								</div>
								<div class="infothumb">
									Calificación promedio
									<div class="calificacion">4.2 <b>(12 votos)</b></div>
								</div>
								<div class="infothumb">
									Número descargas
									<div class="calificacion">3</div>
								</div>
								<div class="citathumb">Gutiérrez, et.al, 2015</div>
							</a>
						</div>
					</div>
					<div class="mmicon clearfix">
						<a href="" title="Descargar modelo continuo" rel="tooltip"><%= image_tag("downicon.png") %></a>
						<a href="" title="Ver metadatos del modelo" rel="tooltip"><%= image_tag("metaicon.png") %></a>
						<a href="" title="Borrar calificación" rel="tooltip" class="delicon"><%= image_tag("delicon.png") %></a>
					</div>
				</div>
				
				<h3>FORO <i>Aglaiocercus coelestis</i></h3>
				<form action="">
					<textarea name="" id="" cols="30" rows="4" placeholder="Comentarios sobre esta especie"></textarea>
				</form>
				<input type="submit" value="COMENTAR"></input>
				<div class="clearfix"></div>
				<div class="notif">
					<%= image_tag("nouserthumb.png") %>
					<a class="foroname" href="">Victor Setina Liz</a>
					<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
					<p>Fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
					<div class="foroactions">
						<a href="">responder</a>
						<a href="">editar</a>
						<a href="">borrar</a>
					</div>
				</div>
				<div class="notif reply">
					<%= image_tag("userthumbp.png") %>
					<a class="foroname" href="">César Gutiérrez</a>
					<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
					<p>Fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
					<div class="foroactions">
						<a href="">responder</a>
						<a href="">borrar</a>
					</div>
				</div>

		</div>