<div class="vcbase">
  <h1><%= t('biomodelos.visor.search.title') %></h1>
  <a ng-click="find=!find" class="closevb" id="clsSearchBox">x</a>
</div>
<div class="cvcolumn">
  <p><%= t('biomodelos.visor.search.text_1') %></p>
  <%= form_tag({:controller => 'species', :action => 'set_species'}, {:method => 'post', :remote => true,:id => 'sp_search_form'})  do %>
    <%= text_field_tag :query, '', :id => 'search_form', :placeholder => t('biomodelos.home.search_ph'), :include_blank => false, :rel => 'autocomplete' %>
    <%= hidden_field_tag 'species_id' %>
    <%= submit_tag '', :name => nil, :class => 'searchbtnhome', :id => 'species_src_btn', :title => t('biomodelos.home.go_to_species_tt'), :rel => "tooltip" %>
  <% end %>
  <h2><%= t('biomodelos.visor.search.filters_title') %></h2>
  <div class="typebtn">
    <label>
      <input type="checkbox" name="taxon" value="4" />
      <p><%= t('biomodelos.visor.search.validated') %></p>
    </label>
    <label>
      <input type="checkbox" name="taxon" value="5" />
      <p><%= t('biomodelos.visor.search.withmodel') %></p>
    </label>
    <label>
      <input type="checkbox" name="taxon" value="1" />
      <p><%= t('biomodelos.visor.search.endemic') %></p>
    </label>
    <label>
      <input type="checkbox" name="taxon" value="2" />
      <p><%= t('biomodelos.visor.search.invasive') %></p>
    </label>
    <label>
      <input type="checkbox" name="taxon" value="3" />
      <p><%= t('biomodelos.visor.search.threatened') %></p>
    </label>
  </div>
  <div class="sppbtn">
    <label>
      <input type="checkbox" name="taxon" value="1"/>
      <%= image_tag("mambtn.png", :title => t('biomodelos.visor.search.mammals_tt'), :rel => "tooltip") %>
    </label>
    <label>
      <input type="checkbox" name="taxon" value="2" />
      <%= image_tag("avesbtn.png", :title => t('biomodelos.visor.search.birds_tt'), :rel => "tooltip") %>
    </label>
    <label>
      <input type="checkbox" name="taxon" value="3" />
      <%= image_tag("repbtn.png", :title => t('biomodelos.visor.search.reptiles_tt'), :rel => "tooltip") %>
    </label>
    <label>
      <input type="checkbox" name="taxon" value="4" />
      <%= image_tag("anfbtn.png", :title => t('biomodelos.visor.search.amphibians_tt'), :rel => "tooltip") %>
    </label>
    <label>
      <input type="checkbox" name="taxon" value="5" />
      <%= image_tag("pecesbtn.png", :title => t('biomodelos.visor.search.fish_tt'), :rel => "tooltip") %>
    </label>
    <label>
      <input type="checkbox" name="taxon" value="6" />
      <%= image_tag("invbtn.png", :title => t('biomodelos.visor.search.invertebrates_tt'), :rel => "tooltip") %>
    </label>
    <label>
      <input type="checkbox" name="taxon" value="7" />
      <%= image_tag("plantbtn.png", :title => t('biomodelos.visor.search.plants_tt'), :rel => "tooltip") %>
    </label>
  </div>
  <div class="sp_list_box"></div>
</div>
