<div class="vcbase">
			<h1>BUSCADOR DE ESPECIES</h1>
			<a ng-click="find=!find" class="closevb" id="clsSearchBox">x</a>
		</div>
		<div class="cvcolumn">
			<p>Activando nuestro sistema de filtros puedes reducir o aumentar el listado de especies hasta encontrar la especie deseada, o escribir su nombre directamente en el buscador. Ten en cuenta que no todas las especies tienen modelo de distribución, pero si opciones para avanzar en su desarrollo.</p>
			<%= form_tag({:controller => 'species', :action => 'set_species'}, {:method => 'post', :remote => true,:id => 'sp_search_form'})  do %>
				<%= text_field_tag :query, '', :id => 'search_form', :placeholder => 'Consulta una especie por su nombre científico', :include_blank => false, :rel => 'autocomplete' %>
				<%= hidden_field_tag 'species_id' %>
				<%= submit_tag '', :name => nil, :class => 'searchbtnhome', :id => 'species_src_btn', :title => 'Ir a especie', :rel => "tooltip" %>
			<% end %>
			<h2>FILTROS</h2>
			<div class="sppbtn">
				<label>
		            <input type="checkbox" name="taxon" value="1"/>
		            <%= image_tag("mambtn.png", :title => 'Mamiferos', :rel => "tooltip") %>
		        </label>
		        <label>
		            <input type="checkbox" name="taxon" value="2" />
		            <%= image_tag("avesbtn.png", :title => 'Aves', :rel => "tooltip") %>
		        </label>
		        <label>
		            <input type="checkbox" name="taxon" value="3" />
		            <%= image_tag("repbtn.png", :title => 'Reptiles', :rel => "tooltip") %>
		        </label>
		        <label>
		            <input type="checkbox" name="taxon" value="4" />
		            <%= image_tag("anfbtn.png", :title => 'Anfibios', :rel => "tooltip") %>
		        </label>
		        <label>
		            <input type="checkbox" name="taxon" value="5" />
		            <%= image_tag("pecesbtn.png", :title => 'Peces', :rel => "tooltip") %>
		        </label>
		        <label>
		            <input type="checkbox" name="taxon" value="6" />
		            <%= image_tag("invbtn.png", :title => 'Invertebrados', :rel => "tooltip") %>
		        </label>
		        <label>
		            <input type="checkbox" name="taxon" value="7" />
		            <%= image_tag("plantbtn.png", :title => 'Plantas', :rel => "tooltip") %>
		        </label>
			</div>
			<div class="typebtn">
				<label>
		            <input type="checkbox" name="taxon" value="1" />
		            <p>endémicas</p>
		        </label>
				<label>
		            <input type="checkbox" name="taxon" value="2" />
		            <p>invasoras</p>
		        </label>
				<label>
		            <input type="checkbox" name="taxon" value="3" />
		            <p>amenazadas</p>
		        </label>
				<!-- <label>
		            <input type="checkbox" name="taxon" value="4" />
		            <p>validadas</p>
		        </label>
				<label>
		            <input type="checkbox" name="taxon" value="5" />
		            <p>con modelo</p>
		        </label> -->
			</div>
			<section class="resultados">
				Aburria aburri</br>
				Aburria cumanensis</br>
				Aburria pipile</br>
				Accipiter bicolor</br>
				Accipiter collaris</br>
				Accipiter poliogaster</br>
				Accipiter striatus</br>
				Accipiter superciliosus</br>
				Acropternis orthonyx</br>
				Actitis macularius</br>
				Adelomyia melanogenys</br>
				Aeronautes montivagus</br>
				Agamia agami</br>
				Aglaeactis cupripennis</br>
				Aglaiocercus coelestis</br>
				Aglaiocercus kingii</br>
				Agriornis montanus
			</section>
		</div>