<p>Estas hipótesis corresponden al modelo aprobado en BioModelos, mapas de expertos o modelos publicados. Pueden ser calificadas por los miembros del grupo al que pertenece esta especie. Aquella con mayor calificación es la que se muestra por defecto. Puedes realizar la descarga de los modelos y consultar sus metadatos. </p>

<% @models.each_with_index do |model, i| %>
<div class="maparea">
	<div href="" class="mapthumb">
		<div class="flipper">
			<div class="front2"><%= image_tag(model.thumbUrl) %></div>
			<a class="back2 sp_model_link">
				<%= hidden_field_tag('imgsrc_model', model.pngUrl) %>
				<div class="titlethumb">
					<%= model_title_thumb(model.modelStatus) %>
				</div>
				<div class="infothumb">
					Calificación promedio
					<div class="calificacion">4.2 <b>(12 votos)</b></div>
				</div>
				<div class="infothumb">
					Número descargas
					<div class="calificacion">3</div>
				</div>
				<div class="citathumb">Gutiérrez, et.al, 2015</div>
			</a>
		</div>
	</div>
	<div class="mmicon clearfix">
		<a href="" title="Descargar el modelo" rel="tooltip"><%= image_tag("downicon.png") %></a>
		<a href="" title="Ver metadatos del modelo" rel="tooltip"><%= image_tag("metaicon.png") %></a>
		<% if user_signed_in?%>
		<div class="user_star">

		</div>
		<% end %>
		<a href="" title="Borrar calificación" rel="tooltip" class="delicon"><%= image_tag("delicon.png") %></a>
	</div>
</div>
<% end %>

<h3>FORO <i>Aglaiocercus coelestis</i></h3>
<form action="">
	<textarea name="" id="" cols="30" rows="4" placeholder="Foro exclusivo para comentar las hipótesis de distribución disponibles para esta especie."></textarea>
</form>
<input type="submit" value="COMENTAR"></input>
<div class="clearfix"></div>
<div class="notif">
	<%= image_tag("nouserthumb.png") %>
	<a class="foroname" href="">Victor Setina Liz</a>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	<p>Fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
	<div class="foroactions">
		<a href="">responder</a>
		<a href="">editar</a>
		<a href="">borrar</a>
	</div>
</div>
<div class="notif reply">
	<%= image_tag("userthumbp.png") %>
	<a class="foroname" href="">César Gutiérrez</a>
	<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
	<p>Fue aceptado en el grupo <a href="">Mamíferos de Colombia</a></p>
	<div class="foroactions">
		<a href="">responder</a>
		<a href="">borrar</a>
	</div>
</div>
<script type="text/javascript">
/* Rating */
$('.user_star').raty({ 
	path: '../assets/raty/lib/images',
	hints: ['No representa', 'Representa pobremente', 'Representa regularmente', 'Representa adecuadamente', 'Representa muy bien'],
	cancel: true,
	cancelHint:   'Eliminar calificación',
	score:  function() {
		return $(this).find('.myscore').val();
	},
	click: function(score, evt) {
		model_clicked_id = $(this).find('.mid').val();
		if(evt.currentTarget.className === "raty-cancel")
		{
			if(<%= user_signed_in? %>){
				$.ajax({
					type: "DELETE",
					url: "/ratings/destroy",
					data: { mid: $(this).find('.mid').val(), uid: $('#bio_user_id').val()}
				});
			}
		}
		else{

			$.ajax({
				url: "/ratings/exists_rating",
				datatype: "json",
				contenType: "application/json; charset=utf-8",
				type: "POST",
				data:{
					'mid': $(this).find('.mid').val(),
					'lvl': $(this).find('.lvl').val()
				},
				success: function(data){                
					if(data)
					{
						alert("¡Sólo puede calificar un modelo por pestaña!");
						$(".mid[value='"+model_clicked_id+"']").parent().raty('cancel');
					}   
					else
					{
						$.ajax({
							type: "POST",
							url: "/ratings/rate_model",
							data: { mid: $(".mid[value='"+model_clicked_id+"']").val(), score: score, lvl: $(".mid[value='"+model_clicked_id+"']").parent().find('.lvl').val()}
						});                          
					}
				},
				error: function(data){
					alert("Something went wrong");
				}
			});

		} 
	} 
});
</script>