		<div class="cvcolumn">
			<!-- <div class="followstate fright"><div class="follow siguiendo">siguiendo</div></div> -->
			<p><%= t('biomodelos.visor.contributions.text_1') %></p>
		</div>
		<h2><%= t('biomodelos.visor.contributions.model_development') %></h2>

		<div class="steptitle">1. <%= t('biomodelos.visor.contributions.statistical_model') %></div>
		<div class="dinblock">
			<% if continuous_t %>
				<div class="editthumb">
					<%= image_tag(set_path(continuous_t.thumbUrl, "thumb")) %>
				</div>
			<div class="editactions clearfix">
					<%= button_to models_download_terms_path(:zip_url => set_path(continuous_t.zipUrl, "zip"), :box => 1, :model_id => continuous_t.modelID, :species_id => @species_id), {:class => 'pad3', :title => t('biomodelos.visor.hypotheses.download_tt'), :rel => "tooltip", :remote => true} do %>
						<%= image_tag("downicon.png") %>
					<% end %>
					<%= link_to "/#{I18n.locale}/models/#{continuous_t.modelID}/metadata",  target: "_blank", title: t('biomodelos.visor.hypotheses.metadata_tt'), rel: "tooltip"  do %>
						<%= image_tag("metaicon.png") %>
					<% end %>
					<%= hidden_field_tag 'continuous_t_url', set_path(continuous_t.pngUrl, "model") %>
					<button class="newgrbtn btnemergencia" id="cbt_editBtn"><%= t('biomodelos.visor.contributions.edit_btn') %></a>
			<% else %>
				<div class="editthumb">
					<%= image_tag("nomap.png") %>
				</div>
				<div class="editactions clearfix">
			<% end %>
			<% if zero_t %>
				<%= hidden_field_tag 'zero_t_url', set_path(zero_t.pngUrl, "model") %>
			<% else %>
				<%= hidden_field_tag 'zero_t_url' %>
			<% end %>
			<% if ten_t %>
				<%= hidden_field_tag 'ten_t_url', set_path(ten_t.pngUrl, "model") %>
			<% else %>
				<%= hidden_field_tag 'ten_t_url' %>
			<% end %>
			<% if twenty_t %>
				<%= hidden_field_tag 'twenty_t_url', set_path(twenty_t.pngUrl, "model") %>
			<% else %>
				<%= hidden_field_tag 'twenty_t_url' %>
			<% end %>
			<% if thirty_t %>
				<%= hidden_field_tag 'thirty_t_url', set_path(thirty_t.pngUrl, "model") %>
			<% else %>
				<%= hidden_field_tag 'thirty_t_url' %>
			<% end %>
			</div>
		</div>
		<div class="dinblock">
			<p class="estadistico"><%= t('biomodelos.visor.contributions.threshold_title') %></p>
			<p><%= t('biomodelos.visor.contributions.threshold_text') %></p>
			<p class="estadistico edicon"><%= t('biomodelos.visor.contributions.tools_title') %></p>
			<p><%= t('biomodelos.visor.contributions.tools_text') %></p>
			<p class="estadistico veicon"><%= t('biomodelos.visor.contributions.variables_title') %></p>
			<p><%= t('biomodelos.visor.contributions.variables_text') %></p>
		</div>
		<div class="steptitle">2. <%= t('biomodelos.visor.contributions.create_your_map') %></div>
		<p><%= t('biomodelos.visor.contributions.create_your_map_text') %></p>
		<div class="editactions clearfix">
			<button class="newgrbtn" id="cbt_crearBtn"><%= t('biomodelos.visor.contributions.create_btn') %></button>
		</div>

		<div class="steptitle">3. <%= t('biomodelos.visor.contributions.publish') %></div>
		<p><%= t('biomodelos.visor.contributions.publish_text') %></p>
		<%= link_to image_tag("uploadicon.png"), home_publish_path %>
		<div class ="termbox"></div>
