<% if !@eoo.blank? %>
	<div class="maindata">
		<h4><%= @eoo["statRangeSize"].nil? ? '-': @eoo["statRangeSize"].round %> km<b>2</b></h4>
		<h5><%= t('biomodelos.visor.statistics.eoo_geo_range') %></h5>
	</div>
	<div class="seconddata">
		<h4><%= @eoo["statModelEOO"].nil? ? '-': @eoo["statModelEOO"].round %> km<b>2</b></h4>
		<h5><%= t('biomodelos.visor.statistics.eoo_pmc_models') %></h5>
	</div>
	<div class="seconddata fdata">
		<h4><%= @eoo["statRecsEOO"].nil? ? '-': @eoo["statRecsEOO"].round %> km<b>2</b></h4>
		<h5><%= t('biomodelos.visor.statistics.eoo_pmc_records') %></h5>
	</div>
<% end %>