<div class="vcbase">
			<h1><%= t('biomodelos.visor.statistics.title') %><br><i id="info_species_name"></i></h1>
			<a ng-click="info=!info" class="closevb vatop" id="clsInfoBox">x</a>
</div>
<div class="cvcolumn">
	<div class="subinfo">
		<h3 class="reg" title="<%= t('biomodelos.visor.statistics.records_number_tt') %>" rel="tooltip"><%= t('biomodelos.visor.statistics.records_number') %><b id="info_records_number"></b></h3>
		<h3 class="metreg" title="<%= t('biomodelos.visor.statistics.records_metadata_tt') %>" rel="tooltip"><div id="info_records_metadata"></div></h3>
	</div>
	<div class="infofollow">
		<div class="sppcategories">
			<!-- <div class="sppcateg">MIGRATORIA</div>
			<div class="sppcateg">cites</div> -->
		</div>
		<div class="followstate"></div>
	</div>
	<div id="valid_model_info" hidden></div>
	<div class="databox">
		<h2 class="infotitle" ng-click="extinfo=!extinfo"><%= t('biomodelos.visor.statistics.eoo_title') %></h2>
		<div ng-show="extinfo" class="infobox">
			<h2><%= t('biomodelos.visor.statistics.eoo_title') %></h2>
			<a ng-click="extinfo=!extinfo" class="closevb">x</a>
			<p><%= t('biomodelos.visor.statistics.eoo_text_1_html') %></p>
			<p><%= t('biomodelos.visor.statistics.eoo_text_2_html') %></p>
			<%= image_tag("fig1.png") %>
			<div class="figtxt"><%= t('biomodelos.visor.statistics.eoo_fig_1_html') %></div>
			<p><%= t('biomodelos.visor.statistics.eoo_text_3_html') %></p>
			<%= image_tag("fig2.png") %>
			<div class="figtxt"><%= t('biomodelos.visor.statistics.eoo_fig_2_html') %></div>
		</div>
		<div id="eoo_info"></div>
	</div>
	<div class="databox">
		<h2 class="infotitle" ng-click="repinfo=!repinfo"><%= t('biomodelos.visor.statistics.rpa_title') %></h2>
		<div ng-show="repinfo" class="infobox">
			<h2><%= t('biomodelos.visor.statistics.rpa_title') %></h2>
			<a ng-click="repinfo=!repinfo" class="closevb">x</a>
			<p><%= t('biomodelos.visor.statistics.rpa_text_1') %></p>
		</div>
		<div id="rpa_info"></div>
	</div>
	<div class="databox">
		<h2 class="infotitle dtab" ng-click="perinfo=!perinfo"><%= t('biomodelos.visor.statistics.forest_loss_title') %></h2>
		<div ng-show="perinfo" class="infobox">
			<h2><%= t('biomodelos.visor.statistics.forest_loss_title') %></h2>
			<a ng-click="perinfo=!perinfo" class="closevb">x</a>
			<p><%= t('biomodelos.visor.statistics.forest_loss_text_1') %></p>
			<div class="figtxt"><%= t('biomodelos.visor.statistics.forest_loss_text_2') %></div>
		</div>
		<div id="forest_info"></div>
	</div>
	<div class="databox">
		<h2 class="infotitle" ng-click="cobinfo=!cobinfo"><%= t('biomodelos.visor.statistics.covers_title') %></h2>
		<div ng-show="cobinfo" class="infobox">
			<h2><%= t('biomodelos.visor.statistics.covers_title') %></h2>
			<a ng-click="cobinfo=!cobinfo" class="closevb">x</a>
			<p><%= t('biomodelos.visor.statistics.covers_text_1') %></p>
		</div>
		<div id="covers_info"></div>
	</div>
<!-- 	<div class="databox">
		<h2 class="infotitle" ng-click="ameninfo=!ameninfo">amenazas</h2>
		<div ng-show="ameninfo" class="infobox">
			<h2>amenazas</h2>
			<a ng-click="ameninfo=!ameninfo" class="closevb">x</a>
			<p>Esta información corresponde al modelo validado BioModelos, el cual tiene la mayor calificación entre las hipótesis de distribución disponibles para este especie. Las estadísticas que se presentan a continuación corresponden únicamente a este modelo.</p>
		</div>
		<div class="resdata">
			Bosque de galería y ripario</br>
			Bosque fragmentado
		</div>
	</div> -->
</div>
<div class="cvcol40">
	<button class="urllink" title="<%= t('biomodelos.visor.statistics.copy_url_tt') %>" rel="tooltip"></button>
	<!-- <div class="amenaza" title="Categoría de amenaza" rel="tooltip"><%= image_tag("caten.png") %></div> -->
</div>
<script>
    var clipboard = new Clipboard('.urllink', {
    	text: function() {
            return '<%= url_for controller: 'species', action: 'visor', only_path: false %>?species_id=' + $("#species_id_field").val();
        }
    });
</script>

