<div class="mapcontainer" id="map"></div>
<div ng-controller="visorCtrl">
	<div class="spname">Tessmanniacanthus chlamydocardioides</div>
	<div class="modelname">Modelo validado BioModelos</div>
	<div id="layerbtn" class="visorbtn"></div>
	<div ng-click="find=!find; activeButton()" ng-class="{'vbtnact': isActive}" class="visorbtn vbtnfind"></div>
	<div ng-click="info=!info; activeButton()" ng-class="{'vbtnact': isActive}"  class="visorbtn vbtninfo"></div>
	<div ng-click="hipotesis=!hipotesis; activeButton()" ng-class="{'vbtnact': isActive}"  class="visorbtn vbtnhipo"></div>
	<div ng-click="edit=!edit; activeButton()" ng-class="{'vbtnact': isActive}"  class="visorbtn vbtnedit"></div>

	<div ng-show="find" class="cajavisor">
		<%= render 'species/species_browser' %>
	</div>

	<div ng-show="info" class="cajavisor">
		<%= render 'species/species_info' %>
	</div>

	<div ng-show="hipotesis" class="cajavisor hipotesis">
		<%= render 'species/species_models' %>
	</div>

	<div ng-show="edit" class="cajavisor editbox">
		<%= render 'species/species_contributions' %>
	</div>

	<div ng-click="registros=!registros; activeButton()" ng-class="{'regactive': isActive}" class="btnregistros">registros y filtros</div>
	<div ng-click="editar=!editar; activeButton()" ng-class="{'edactive': isActive}" class="btnedicion">edición</div>

	<div ng-show="registros" class="cajaregistros">
		<%= render 'species/species_records' %>
	</div>

	<div ng-show="editar" class="cajitaeditar">
		<%= render 'species/species_edition' %>
	</div>
</div>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAz6sPnMLuIJrOWvNKnn6-PWYK56PDGa30'%>
<%= javascript_include_tag 'Google.js' %>
<%= javascript_include_tag 'biovisor' %>

<div class="visorfooter">
			<a href="http://www.humboldt.org.co" class="humboldtft" target="_blank">
				<div class="humbname">
					<h1>Instituto de Investigación de Recursos Biológicos</br>
						Alexander von Humboldt</h1>
				</div>
			</a>
			<nav>
				<ul id="subnav">
					<li>
						<%= link_to 'Tutorial', root_path %>
					</li>
				</ul>
				<ul id="subnav">
					<li>
						<%= link_to 'Info', root_path %>
					</li>
				</ul>
				<%= image_tag("logolba.png") %>
			</nav>
</div>

<script>
$(document).ready(function(){
 	$(".leaflet-control-layers").removeClass("leaflet-control-layers-expanded");

	$("#layerbtn").on("click",function(){

	if($("#layerbtn").hasClass("vbtnact")){
	 $("#layerbtn").removeClass("vbtnact");
	 }
	else {
	 	$("#layerbtn").addClass("vbtnact");
	}

	if($(".leaflet-control-layers").hasClass("leaflet-control-layers-expanded")){
	 $(".leaflet-control-layers").removeClass("leaflet-control-layers-expanded");
	 }
	else {
	 	$(".leaflet-control-layers").addClass("leaflet-control-layers-expanded");
	}
	});


	$(".polig").click(function(e){
		_BioModelosVisorModule.drawPolygon();
		$(this).toggleClass("polibtnact");
		e.preventDefault();
	})
	$(".edipoli").click(function(e){
		_BioModelosVisorModule.editPolygon();
		$(this).toggleClass("polibtnact");
		$(".editbotones").toggle();
		e.preventDefault();
	})
	$(".delpoli").click(function(e){
		_BioModelosVisorModule.editPolygon();
		$(this).toggleClass("polibtnact");
		$(".delbotones").toggle();
		e.preventDefault();
	})
	$(".saveedit").click(function(e){
		_BioModelosVisorModule.saveEditPolygon();
		e.preventDefault();
	})
	$(".canceledit").click(function(e){
		_BioModelosVisorModule.cancelEditPolygon();
		e.preventDefault();
	})

	$(".marbtnreg").click(function(e){
		_BioModelosVisorModule.drawSinglePoint();
		$(this).toggleClass("btngenact");
		e.preventDefault();
	});

	$(".taxbtn").click(function(e){
		$(this).toggleClass("taxbtnact");
		e.preventDefault();
	});
});


$('.cajavisor').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

$('.cajitaeditar').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

$('.resultados').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

$('.cajaregistros').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

// $('body').on('popupopen', '.regscroller', function(){
// 	console.log("alertaaaaa");
//   	$(".regscroller").niceScroll({
// 		cursorcolor: "#fff",
// 		cursorwidth: "7px",
// 		cursorborder: "none"
// 	});
// });


$('select').each(function(){
    var $this = $(this), numberOfOptions = $(this).children('option').length;
  
    $this.addClass('select-hidden'); 
    $this.wrap('<div class="select"></div>');
    $this.after('<div class="select-styled"></div>');

    var $styledSelect = $this.next('div.select-styled');
    $styledSelect.text($this.children('option').eq(0).text());
  
    var $list = $('<ul />', {
        'class': 'select-options'
    }).insertAfter($styledSelect);
  
    for (var i = 0; i < numberOfOptions; i++) {
        $('<li />', {
            text: $this.children('option').eq(i).text(),
            rel: $this.children('option').eq(i).val()
        }).appendTo($list);
    }
  
    var $listItems = $list.children('li');
  
    $styledSelect.click(function(e) {
        e.stopPropagation();
        $('div.select-styled.active').each(function(){
            $(this).removeClass('active').next('ul.select-options').hide();
        });
        $(this).toggleClass('active').next('ul.select-options').toggle();
    });
  
    $listItems.click(function(e) {
        e.stopPropagation();
        $styledSelect.text($(this).text()).removeClass('active');
        $this.val($(this).attr('rel'));
        $list.hide();
        //console.log($this.val());
    });
  
    $(document).click(function() {
        $styledSelect.removeClass('active');
        $list.hide();
    });

});

</script>