<% if !params[:search].blank? && params[:search] == "1" %>
      <script>
          $(document).ready(function(){
          	$(".vbtnfind").click();
          });
      </script>
<% elsif !params[:species_id].blank? && is_integer_num(params[:species_id]) %>
      <script>
          //Unique URL for each species
          $.ajax({
                          type: "POST",
                          url: "/species/set_species",
                          data: { species_id: <%=j params[:species_id]%> }
          });
      </script>
<% end %>
<div class="mapcontainer" id="map"></div>
<div class="reportBox"></div>
<div id="visCntrl" ng-controller="visorCtrl">
	<div class="spname"></div>
	<%= hidden_field_tag 'species_id_field'%>
	<div class="modelname"> <!-- agregar en Continuo class: gradient --></div>
	<div id="layerbtn" title="Capas geográficas" rel="tooltip" class="visorbtn"></div>
	<div ng-click="find=!find" title="Búsqueda Avanzada" rel="tooltip" class="visorbtn vbtnfind" selectable></div>
	<div ng-click="info=!info" title="Información de la especie" rel="tooltip" class="visorbtn vbtninfo" selectable></div>
	<div ng-click="hipotesis=!hipotesis" title="Hipótesis de distribución" rel="tooltip" class="visorbtn vbtnhipo" selectable></div>
	<div id="edit_model_btn"></div>

	<div ng-show="find" class="cajavisor cajasearch">
		<%= render 'species/species_browser' %>
	</div>

	<div ng-show="info" class="cajavisor infocaja">
		<%= render 'species/species_info' %>
	</div>

	
	<div ng-show="hipotesis" class="cajavisor hipotesis">
		<div class="vcbase">
			<h1>HIPÓTESIS DISPONIBLES</h1>
			<a ng-click="hipotesis=!hipotesis" class="closevb" id="clsModelsBox">x</a>
		</div>
		<div class="cvcolumn">
			<div class="followstate fright">
				<a href="" class="follow invisible">seguir</a>
				<div class="follow siguiendo">siguiendo</div>
			</div>
			<div id="hipotesisbox_content"></div>
		</div>
	</div>
	
	<% if user_signed_in? %>
		<div ng-show="edit" class="cajavisor editbox">
			<div class="vcbase">
				<h1>EDICIÓN Y CONTRIBUCIÓN</h1>
				<a ng-click="edit=!edit" class="closevb" id="clsEditBox">x</a>
			</div>
			<div id="editbox_content"></div>
			</div>
	<% end %>

	<div ng-click="registros=!registros" class="btnregistros" selectable>registros y filtros</div>

	<div ng-show="registros" class="cajaregistros" id="registros_div">
		<%= render partial: 'species/species_records' %>
		<div class="littleline"></div>
		<div class="foreditors" id="add_records_box"></div>
	</div>

	<% if user_signed_in? %>
			<div id="edit_box_btn"></div>
	<% end %>

	<% if user_signed_in? %>
		<div id="edit_tools_box"></div>
	<% end %>
</div>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ Rails.application.secrets.google_maps_key %>
<%= javascript_include_tag 'Google.js' %>
<%= javascript_include_tag 'biovisor' %>

<div class="visorfooter">
			<a href="http://www.humboldt.org.co" class="humboldtft" target="_blank">
				<div class="humbname">
					<h1>Instituto de Investigación de Recursos Biológicos</br>
						Alexander von Humboldt</h1>
				</div>
			</a>
			<nav>
				<ul id="subnav">
					<!-- <li>
						<%= link_to 'Tutorial', root_path %>
					</li> -->
				</ul>
				<ul id="subnav">
					<li>
						<%= link_to 'Info', info_index_path %>
					</li>
				</ul>
				<%= image_tag("logolba.png") %>
			</nav>
</div>

<script>
$(document).ready(function(){

 	$(".leaflet-control-layers").removeClass("leaflet-control-layers-expanded");

	$("#layerbtn").on("click",function(){

	if($("#layerbtn").hasClass("vbtnact")){
	 $("#layerbtn").removeClass("vbtnact");
	 }
	else {
	 	$("#layerbtn").addClass("vbtnact");
	}

	if($(".leaflet-control-layers").hasClass("leaflet-control-layers-expanded")){
	 	$(".leaflet-control-layers").removeClass("leaflet-control-layers-expanded");
	}
	else {
	 	$(".leaflet-control-layers").addClass("leaflet-control-layers-expanded");
	}
	});

	$(".taxbtn").click(function(e){
		$(this).toggleClass("taxbtnact");
		e.preventDefault();
	});
});


$('.cajavisor').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

$('.cajitaeditar').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

$('.resultados').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

$('.cajaregistros').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

</script>