<% if !params[:search].blank? && params[:search] == "1" %>
      <script>
          $(document).ready(function(){
          	$(".vbtnfind").click();
          });
      </script>
<% elsif !params[:species_id].blank? && is_integer_num(params[:species_id]) %>
      <script>
          //Unique URL for each species
          $.ajax({
                          type: "POST",
                          url: "/species/set_species",
                          data: { species_id: <%=j params[:species_id]%> }
          });
      </script>
<% end %>
<div class="mapcontainer" id="map"></div>
<div class="reportBox"></div>
<div id="visCntrl" ng-controller="visorCtrl">
	<div class="spname"></div>
	<%= hidden_field_tag 'species_id_field'%>
	<div class="modelname">Modelo validado BioModelos</div>
	<div id="layerbtn" class="visorbtn"></div>
	<div ng-click="find=!find" class="visorbtn vbtnfind" selectable></div>
	<div ng-click="info=!info" class="visorbtn vbtninfo" selectable></div>
	<div ng-click="hipotesis=!hipotesis" class="visorbtn vbtnhipo" selectable></div>
	<% if user_signed_in? %>
		<div ng-click="edit=!edit" class="visorbtn vbtnedit" selectable></div>
	<% end %>

	<div ng-show="find" class="cajavisor cajasearch">
		<%= render 'species/species_browser' %>
	</div>

	<div ng-show="info" class="cajavisor">
		<%= render 'species/species_info' %>
	</div>

	
	<div ng-show="hipotesis" class="cajavisor hipotesis">
		<div class="vcbase">
			<h1>HIPÓTESIS DISPONIBLES</h1>
			<a ng-click="hipotesis=!hipotesis" class="closevb" id="clsModelsBox">x</a>
		</div>
		<div id="hipotesisbox_content"></div>
	</div>
	
	<% if user_signed_in? %>
		<div ng-show="edit" class="cajavisor editbox">
			<div class="vcbase">
				<h1>EDICIÓN Y CONTRIBUCIÓN</h1>
				<a ng-click="edit=!edit" class="closevb" id="clsEditBox">x</a>
			</div>
			<div id="editbox_content"></div>
		</div>
	<% end %>

	<div ng-click="registros=!registros" class="btnregistros" selectable>registros y filtros</div>
	
	<% if user_signed_in? %>
		<div ng-click="editar=!editar" class="btnedicion" selectable>edición</div>
	<% end %>

	<div ng-show="registros" class="cajaregistros" id="registros_div">
		<%= render 'species/species_records' %>
	</div>

	<% if user_signed_in? %>
		<div ng-show="editar" class="cajitaeditar">
			<%= render 'species/species_edition' %>
		</div>
		<%= hidden_field_tag 'user_id_field', current_user.id %>
		<%= hidden_field_tag 'newModel_field', false %>
		<%= hidden_field_tag 'layer_id_field' %>
	<% end %>
</div>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAz6sPnMLuIJrOWvNKnn6-PWYK56PDGa30'%>
<%= javascript_include_tag 'Google.js' %>
<%= javascript_include_tag 'biovisor' %>

<div class="visorfooter">
			<a href="http://www.humboldt.org.co" class="humboldtft" target="_blank">
				<div class="humbname">
					<h1>Instituto de Investigación de Recursos Biológicos</br>
						Alexander von Humboldt</h1>
				</div>
			</a>
			<nav>
				<ul id="subnav">
					<li>
						<%= link_to 'Tutorial', root_path %>
					</li>
				</ul>
				<ul id="subnav">
					<li>
						<%= link_to 'Info', root_path %>
					</li>
				</ul>
				<%= image_tag("logolba.png") %>
			</nav>
</div>

<script>
$(document).ready(function(){

	$('#cities').change(function(){
	    var home_city =$("#cities option:selected").val();
	    console.log(home_city);
	});

 	$(".leaflet-control-layers").removeClass("leaflet-control-layers-expanded");

	$("#layerbtn").on("click",function(){

	if($("#layerbtn").hasClass("vbtnact")){
	 $("#layerbtn").removeClass("vbtnact");
	 }
	else {
	 	$("#layerbtn").addClass("vbtnact");
	}

	if($(".leaflet-control-layers").hasClass("leaflet-control-layers-expanded")){
	 	$(".leaflet-control-layers").removeClass("leaflet-control-layers-expanded");
	}
	else {
	 	$(".leaflet-control-layers").addClass("leaflet-control-layers-expanded");
	}
	});

	$(".taxbtn").click(function(e){
		$(this).toggleClass("taxbtnact");
		e.preventDefault();
	});
});


$('.cajavisor').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

$('.cajitaeditar').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

$('.resultados').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

$('.cajaregistros').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});

</script>