<h1 class="tasks">tareas</h1> 
<% if @current_group_user && @current_group_user.is_admin %>
	<div class="newtask" ng-click="taskbox=!taskbox" rel="tooltip" title="Agregar nueva tarea"><%= image_tag("newtask.png") %></div>
	<div class="clearfix"></div>
	<div class="addtask" ng-show="taskbox">
		<%= render partial:'tasks/new_tasks_form', locals: {task: @task, group: @group, group_members: @group_members, group_species: @group_species} %>	
	</div>
<% end %>
<div class="clearfix"></div>
<div class="colspp tabletit">
	<h2>Especie</h2>
</div><!-- 
--><div class="coladv tabletit" rel="tooltip" title="Curación de registros">
	<%= image_tag("regperfil.png") %>
</div><!-- 
--><div class="coladv tabletit" rel="tooltip" title="Edición de modelos">
	<%= image_tag("penperfil.png") %>
</div><!--  
--><div class="coladv tabletit" rel="tooltip" title="Variables ecológicas">
	<%= image_tag("veicon2.png") %>
</div><!-- 
--><div class="coladv tabletit" rel="tooltip" title="Modelo aprobado">
	<%= image_tag("aprobicon.png") %>
</div><!-- 
--><div class="coladv tabletit" rel="tooltip" title="Porcentaje de avance">
	<%= image_tag("percicon.png") %>
</div>
<div id="group_tasks_table"></div>
