<h1><%= t('biomodelos.groups.profile.statistics_tab') %></h1>

<div class="estadbox">
	<h2><%= t('biomodelos.groups.profile.experts_in_group') %></h2>
	<h6><%= @group_members_number %></h6>
</div>
<div class="estadbox">
	<h2><%= t('biomodelos.groups.profile.species_in_group') %></h2>
	<h6><%= @species_ids.size %></h6>
</div>
<!--<div class="estadbox">
	<h2><%= t('biomodelos.groups.profile.species_with_tasks') %></h2>
	<h6></h6>
</div> 
<div class="estadbox">
	<h2>modelos aprobados</h2>
	<h6><%= @models_approved %></h6>
</div> -->

<!-- <div class="top5">
	<h2>TOP 5 Colaboradores</h2>
	<h3>Aportes</h3>
</div>
<div class="top5users">
	<a href="">Daniel Lopez</a>
	<p>15</p>
</div>
<div class="top5users">
	<a href="">Daniel Lopez</a>
	<p>15</p>
</div>
<div class="top5users">
	<a href="">Daniel Lopez</a>
	<p>15</p>
</div>
<div class="top5users">
	<a href="">Daniel Lopez</a>
	<p>15</p>
</div>
<div class="top5users">
	<a href="">Daniel Lopez</a>
	<p>15</p>
</div> -->