<h1>especies</h1>
<% if @current_group_user %>
	<a ng-click="sugeridor=!sugeridor; activeButton()" ng-class="{'btnact': isActive}" class="closecb">SUGERIR ESPECIE</a>
	<div ng-show="sugeridor" class="sugeridor">
		<%= simple_form_for @groups_species, :remote => true do |f| %>
			<%= text_field_tag :query, '', :id => 'search_form', :placeholder => 'Consulta una especie por su nombre científico', :include_blank => false, :rel => 'autocomplete' %>
			<%= f.hidden_field :groups_species_state_id, :value => 2 %>
			<%= f.hidden_field :species_id, :id => "species_id_home" %>
			<%= f.hidden_field :group_id, :id => "group_id_home", :value => @group.id %>
			<%= f.submit "+", :class=> "searchbtnspp bigplus" %>
		<% end %>
	</div>
<% end %>

<div class="spptit">
	<h2>Especies sugerida</h2>
</div>
<div class="spp">
	<a>wingardium leviosa</a>
	<div class="acceptbuttons">
	<a href=""><%= image_tag("delicon.png", :title => 'No Aprobar', :rel => "tooltip") %></a>
	<a href=""><%= image_tag("aprobicon.png", :title => 'Aprobar especie', :rel => "tooltip") %></a>
	</div>
</div>

<div class="spptit">
	<h2>Nombre de la especie</h2>
	<h3>% Avance</h3>
</div>
<% @group_species.each do |species| %>
	<div class="spp">
		<a><%= species[0] %></a>
		<p class="spperc">100%</p>
	</div>
<% end %>