<h1>tareas</h1>
		<div class="colspp tabletit">
			<h2>Especie</h2>
		</div><!-- 
	 --><div class="coladv tabletit">
			<%= image_tag("regperfil.png") %>
		</div><!-- 
	 --><div class="coladv tabletit">
			<%= image_tag("penperfil.png") %>
		</div><!-- 
	 --><div class="coladv tabletit specialicon">
			<h3>Aprobado</h3>
			<%= image_tag("aprobicon.png") %>
		</div><!-- 
	 --><div class="coladv tabletit specialicon">
			<h3>%Avance</h3>
			<%= image_tag("percicon.png") %>
		</div>
	<% @species_with_tasks.each_with_index do |species, i| %>
		<div class="tareaspp"><!-- 
		--><div class="colspp"><a><%= species[0] %></a><button ng-click="expertlist<%= i %>=!expertlist<%= i %>" class="arrrowsm" arrow></button></a></div><!-- 
		--><p class="coladv">50%</p><!-- 
		--><p class="coladv">100%</p><!-- 
		--><p class="coladv">50%</p><!-- 
		--><p class="coladv">50%</p>
		</div>
		<div ng-show="expertlist<%= i %>">
			<% @tasks.select{|x| x.species_id == species[1]}.each do |task| %>
				<div class="userspp"><!-- 
				--><a class="colspp"><%= task.user.name %></a><!-- 
				--><div class="coladv"><%= image_tag("check.png") %></div><!-- 
				--><div class="coladv"><%= image_tag("check.png") %></div><!-- 
				--><div class="coladv"><input type="checkbox" ></input></div><!-- 
				--><p class="coladv"></p>
				</div>
			<% end %>
		</div>
	<% end %>