<h1>especies</h1>
<a ng-click="sugeridor=!sugeridor; activeButton()" ng-class="{'btnact': isActive}" class="closecb">SUGERIR ESPECIE</a>
<div ng-show="sugeridor" class="sugeridor">
	<%= simple_form_for @groups_species do |f| %>
		<%= text_field_tag :query, '', :id => 'search_form', :placeholder => 'Consulta una especie por su nombre científico', :include_blank => false, :rel => 'autocomplete' %>
		<%= f.hidden_field :species_id, :id => "species_id_home" %>
		<%= f.hidden_field :group_id, :id => "group_id_home", :value => @group.id %>
		<%= f.submit "+", :class=> "searchbtnspp bigplus" %>
	<% end %>
</div>
<div class="spptit">
	<h2>Nombre de la especie</h2>
	<h3>% Avance</h3>
</div>
<% @group_species.each do |species| %>
	<div class="spp">
		<a><%= species[0] %></a>
		<p class="spperc">100%</p>
	</div>
<% end %>