<h1>expertos</h1>
<% if @current_group_user %>
	<a ng-click="invitador=!invitador; activeButton()" ng-class="{'btnact': isActive}" class="closecb">INVITAR EXPERTO</a>
	<div ng-show="invitador" class="forms">
		<%= simple_form_for :message do |f| %>
	         <%= f.error_notification %>
	         <%= f.input :email, :maxlength => 50, :placeholder => "E-mail", :name => "email", label: false %>
	         <%= f.input :content, :as => :text, :input_html => {:maxlength => 1200, :cols => "20", :rows => "6"}, :name => "cuerpo", label: false %>
	         <%= f.button :submit, :value => "ENVIAR", :class => 'boton1'%>
	   <% end %>
	</div>
<% end %>

<div id="group_users_tables"></div>

