<h1><%= t('biomodelos.groups.profile.species_tab') %></h1>
<% if @current_group_user %>
	<a ng-click="sugeridor=!sugeridor; activeButton()" ng-class="{'btnact': isActive}" class="genericbtn"><%= t('biomodelos.groups.species.suggest') %></a>
	<div ng-show="sugeridor" class="sugeridor">
		<%= simple_form_for @groups_species, :remote => true do |f| %>
			<%= text_field_tag :query, '', :id => 'search_form', :placeholder => t('biomodelos.home.search_ph'), :include_blank => false, :rel => 'autocomplete' %>
			<%= f.hidden_field :groups_species_state_id, :value => 2 %>
			<%= f.hidden_field :species_id, :id => "species_id_home" %>
			<%= f.hidden_field :group_id, :id => "group_id_home", :value => @group.id %>
			<%= f.submit "+", :class=> "searchbtnspp bigplus", data: { disable_with: "+" } %>
		<% end %>
	</div>
<% end %>

<div id="group_species_tables"></div>