<div class="innercontainer fondoplumas nbg4" ng-controller="perfilCtrl">
	<div class="cajainners">
		<div class="hcbase">
			<h1><%= t('biomodelos.groups.index.title') %></h1>
			<%= link_to '', root_path, class: 'closecb' %>
			<% if user_signed_in? %>
				<a ng-click="newgroup=!newgroup; activeButton()" ng-class="{'btnact': isActive}" class="newgrbtn"><%= t('biomodelos.groups.suggest_group.title') %></a>
				<div ng-show="newgroup" class="forms clearfix">
					<p><%= t('biomodelos.groups.suggest_group.text') %></p>
					<%= simple_form_for :suggested_group, :url => {:controller => "groups", :action => "suggest_group" }, :html => {:class => 'forma' } do |f| %>
					    <%= f.input :name, :maxlength => 50, :placeholder => t('biomodelos.groups.suggest_group.group_name_ph'), label: false %>
					    <%= f.input :moderator, :maxlength => 50, :placeholder => t('biomodelos.groups.suggest_group.moderator_ph'), label: false %>
					    <%= f.input :content, :placeholder => t('biomodelos.groups.suggest_group.content_ph'), :as => :text, :input_html => {:maxlength => 600, :cols => "10", :rows => "6"}, label: false %>
					    <%= f.button :submit, :value => t('biomodelos.groups.suggest_group.submit_btn') %>
					<% end %>
				</div>
			<% end %>
			<div class="sugeridor"></div>
			<div class="mt10"></div>
			<div class="aligner2">
				<% @groups.each do |group| %>
					<div class="groupcard">
						<div class="groupthumb">
						<%= link_to image_tag(group.logo.url(:thumb).to_s), group %>
						</div>
						<%= link_to group, :class => 'titgrcard' do%>
							<%= group.name %>
						<% end %>
						<div class="subtgr"><b><%= t('biomodelos.groups.index.moderator') %></b></br><%= group.admin.first.user.name %></div>
						<div class="colhalf subtgr lineright">
							<b><%= t('biomodelos.groups.index.species') %></b>
							<h5><%= GroupsSpecies.where(group_id: group.id, groups_species_state_id: 1).count %></h5>
						</div>
						<div class="colhalf subtgr clearfix">
							<b><%= t('biomodelos.groups.index.members') %></b>
							<h5><%= GroupsUser.where(group_id: group.id, groups_users_state_id: 1).count %></h5>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
