<div class="innercontainer fondoplumas nbg4" ng-controller="perfilCtrl">
	<div class="cajainners">
		<div class="hcbase">
			<h1>grupos biomodelos</h1>
			<%= link_to '', root_path, class: 'closecb' %>
			<p>Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula, a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui.</p>
			<a ng-click="newgroup=!newgroup; activeButton()" ng-class="{'btnact': isActive}" class="newgrbtn">Sugerir Grupo</a>
			<div ng-show="newgroup" class="forms clearfix">
				<p>Ingrese la información a continuación sobre el grupo que desea sugerir para que podamos contactarlo:</p>
				<form action="">
					<input type="text" placeholder="Nombre del grupo"></input>
					<input type="text" placeholder="Posible moderador"></input>
					<textarea name="" id="" cols="10" rows="6" maxlength="600" placeholder="Breve descripción"></textarea>
					<input type="submit" value="Enviar"></input>
				</form>
			</div>

			<div class="sugeridor"></div>
			<div class="mt10"></div>
			<div class="aligner2">
				<% @groups.each do |group| %>
					<div class="groupcard">
						<div class="groupthumb">
						<%= link_to image_tag(group.logo.url(:profile).to_s), group %>
						</div>
						<%= link_to group, :class => 'titgrcard' do%>
							<%= group.name %>
						<% end %>
						<div class="subtgr"><b>Moderador</b></br><%= group.admin.first.user.name %></div>
						<div class="colhalf subtgr lineright">
							<b>Especies</b>
							<h5><%= GroupsSpecies.where(group_id: group.id, groups_species_state_id: 1).count %></h5>
						</div>
						<div class="colhalf subtgr clearfix">
							<b>Miembros</b>
							<h5><%= GroupsUser.where(group_id: group.id, groups_users_state_id: 1).count %></h5>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
