<div class="innercontainer bckgroup" ng-controller="perfilCtrl">
<div class="perfilcont">
	<div class="col2">
		<h2>Magnolias de Colombia</h2>
		<div class="groupimg">
			<%= image_tag("gruposprueba.jpg") %>
		</div>
		<div class="perflinks">
			<a href="" class="mailto"></a>
			<a href="" class="joingroup"></a>
			<a href="" class="edituser"></a>
		</div>

		<div class="clearfix"></div>
		<div class="perfilsub modertext">Moderador(es)</div>
		<p>Norberto Lopez Alvarez</p>
		<div class="groupunder">Mensaje al grupo</div>
		<p>Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula, a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui.</p>
		<div class="groupunder">Última Actividad</div>
		<p class="actvspp"><a>Wingardium leviosa</a> · Aporte de Edición</p>
		<p class="actuser"><a>Norberto Lopez Alvarez</a> · 15/02/2016</p>
	</div>
	<div class="col1">

		<ul class="perfilnav groupnav">
	       	<li ng-class="{ active: isSet(1) }">
	          	<a href ng-click="setTab(1)">estadísticas</a>
	       	</li>
	       	<li ng-class="{ active: isSet(2) }">
	          	<a href ng-click="setTab(2)">tareas</a>
	       	</li>
	       	<li ng-class="{ active: isSet(3) }">
	          	<a href ng-click="setTab(3)">actividad</a>
	       	</li>
	       	<li ng-class="{ active: isSet(4) }">
	          	<a href ng-click="setTab(4)">especies</a>
	       	</li>
	       	<li ng-class="{ active: isSet(5) }">
	          	<a href ng-click="setTab(5)">miembros</a>
	       	</li>
	     </ul>

		<div ng-show="isSet(1)" class="cajaperfil scrollp">
			<h1>estadísticas</h1>
		
			<div class="estadbox">
				<h2>expertos en el grupo</h2>
				<h6>29</h6>
			</div>
			<div class="estadbox">
				<h2>especies vinculadas</h2>
				<h6>24</h6>
			</div>
			<div class="estadbox">
				<h2>especies en agenda</h2>
				<h6>15</h6>
			</div>
			<div class="estadbox">
				<h2>modelos aprobados</h2>
				<h6>04</h6>
			</div>

			<div class="top5">
				<h2>TOP 5 Colaboradores</h2>
				<h3>Aportes</h3>
			</div>
			<div class="top5users">
				<a href="">Daniel Lopez</a>
				<p>15</p>
			</div>
			<div class="top5users">
				<a href="">Daniel Lopez</a>
				<p>15</p>
			</div>
			<div class="top5users">
				<a href="">Daniel Lopez</a>
				<p>15</p>
			</div>
			<div class="top5users">
				<a href="">Daniel Lopez</a>
				<p>15</p>
			</div>
			<div class="top5users">
				<a href="">Daniel Lopez</a>
				<p>15</p>
			</div>
		</div>
		<div ng-show="isSet(2)" class="cajaperfil">
			<h1>tareas</h1>
				<div class="colspp tabletit">
					<h2>Especie</h2>
				</div><!-- 
			 --><div class="coladv tabletit">
					<%= image_tag("regperfil.png") %>
				</div><!-- 
			 --><div class="coladv tabletit">
					<%= image_tag("penperfil.png") %>
				</div><!-- 
			 --><div class="coladv tabletit specialicon">
					<h3>Aprobado</h3>
					<%= image_tag("aprobicon.png") %>
				</div><!-- 
			 --><div class="coladv tabletit specialicon">
					<h3>%Avance</h3>
					<%= image_tag("percicon.png") %>
				</div>
				<div class="tareaspp"><!-- 
				--><div class="colspp"><a>Wingardium leviosa</a><button ng-click="expertlist=!expertlist; activeButton()" ng-class="{'rotatearr': isActive}"  class="arrrowsm"></button></div><!-- 
				--><p class="coladv">50%</p><!-- 
				--><p class="coladv">100%</p><!-- 
				--><p class="coladv">50%</p><!-- 
				--><p class="coladv">50%</p>
				</div>
				<div ng-show="expertlist">
					<div class="userspp"><!-- 
					--><a class="colspp">Cesar Gutierrez</a><!-- 
					--><div class="coladv"><%= image_tag("check.png") %></div><!-- 
					--><div class="coladv"><%= image_tag("check.png") %></div><!-- 
					--><div class="coladv"><input type="checkbox" ></input></div><!-- 
					--><p class="coladv"></p>
					</div>
					<div class="userspp"><!-- 
					--><a class="colspp">Cesar Gutierrez</a><!-- 
					--><div class="coladv"><%= image_tag("check.png") %></div><!-- 
					--><div class="coladv"><%= image_tag("check.png") %></div><!-- 
					--><div class="coladv"><input type="checkbox" ></input></div><!-- 
					--><p class="coladv"></p>
					</div>
					<div class="userspp"><!-- 
					--><a class="colspp">Cesar Gutierrez</a><!-- 
					--><div class="coladv"><%= image_tag("check.png") %></div><!-- 
					--><div class="coladv"><%= image_tag("check.png") %></div><!-- 
					--><div class="coladv"><input type="checkbox" ></input></div><!-- 
					--><p class="coladv"></p>
					</div>
				</div>
				<div class="tareaspp"><!-- 
				--><a class="colspp">Wingardium leviosa</a><!-- 
				--><p class="coladv">50%</p><!-- 
				--><p class="coladv">100%</p><!-- 
				--><p class="coladv">50%</p><!-- 
				--><p class="coladv">50%</p>
				</div>
				<div class="tareaspp"><!-- 
				--><a class="colspp">Wingardium leviosa</a><!-- 
				--><p class="coladv">50%</p><!-- 
				--><p class="coladv">100%</p><!-- 
				--><p class="coladv">50%</p><!-- 
				--><p class="coladv">50%</p>
				</div>
				<div class="tareaspp"><!-- 
				--><a class="colspp">Wingardium leviosa</a><!-- 
				--><p class="coladv">50%</p><!-- 
				--><p class="coladv">100%</p><!-- 
				--><p class="coladv">50%</p><!-- 
				--><p class="coladv">50%</p>
				</div>
		</div>
		<div ng-show="isSet(3)" class="cajaperfil">
			<h1>actividad</h1>
			<div class="notif">
				<%= image_tag("nouserthumb.png") %>
				<h6 class="fechanotif">18 · Jun · 2016 - 16:36</h6>
				<p><a href="">Victor Setina Liz</a> hizo curación de registros para <a class="activity" href="">Wingardium leviosa</a></p>
			</div>
			<div class="notif">
				<%= image_tag("userthumbp.png") %>
				<h6 class="fechanotif">18 · Jun · 2016 - 16:35</h6>
				<p><a href="">Ricardo Reyes Jiménez</a> hizo una edición para <a class="activity" href="">Mustela frenata</a></p>
			</div>
			<div class="notif">
				<%= image_tag("nouserthumb.png") %>
				<h6 class="fechanotif">18 · Jun · 2016 - 16:35</h6>
				<p><a href="">Pável Tovar Lizcano</a> hizo una edición para <a class="activity" href="">Wingardium leviosa</a></p>
			</div>
			<div class="notif">
				<%= image_tag("userthumbp.png") %>
				<h6 class="fechanotif">21 · May · 2016 - 08:41</h6>
				<p><a href="">Juan Salvador Mendoza</a> aportó a las variables ecológicas de <a class="activity" href="">Aburria aburri</a></p>
			</div>
		</div>
		<div ng-show="isSet(4)" class="cajaperfil sppbox">
			<h1>especies</h1>
			<a ng-click="sugeridor=!sugeridor" class="closecb">Sugerir Especie</a>
			<div ng-show="sugeridor" class="sugeridor">
			<%= form_tag('', {:id => 'sp_search_form'})  do %>
				<%= text_field_tag :query, '', :id => 'search_form', :placeholder => 'Busca especie por nombre científico', :include_blank => false %>
				<%= submit_tag 'Enviar', :name => nil, :class => 'searchbtnspp', :id => 'species_src_btn' %>
			<% end %>
			</div>
			<div class="spptit">
				<h2>Nombre de la especie</h2>
				<h3>% Avance</h3>
			</div>
			<div class="spp">
				<a>Wingardium leviosa</a>
				<p class="spperc">100%</p>
			</div>
			<div class="spp">
				<a>Wingardium leviosa</a>
				<p class="spperc">50%</p>
			</div>
			<div class="spp">
				<a>Tessmanniacanthus chlamydocardioides</a>
				<p class="spperc">25%</p>
			</div>
			<div class="spp">
				<a>Wingardium leviosa</a>
				<p class="spperc">70%</p>
			</div>
		</div>

		<div ng-show="isSet(5)" class="cajaperfil">
			<h1>miembros</h1>
			<div class="expindex groupexindex">
				<div class="expcard"><%= image_tag("perfilprueba.jpg") %></div>
				<div href="" class="rankblue"></div>
				<h2 class="clearfix"><b>Ranking</b></br>400</h2>
				<h5><a href="">Cesar Fernando Gutierrez Montoya</a></h5>
			</div>
			<div class="expindex groupexindex">
				<div class="expcard"><%= image_tag("perfilprueba.jpg") %></div>
				<div href="" class="rankblue"></div>
				<h2 class="clearfix"><b>Ranking</b></br>400</h2>
				<h5><a href="">Cesar Fernando Gutierrez Montoya</a></h5>
			</div>
			<div class="expindex groupexindex">
				<div class="expcard"><%= image_tag("perfilprueba.jpg") %></div>
				<div href="" class="rankblue"></div>
				<h2 class="clearfix"><b>Ranking</b></br>400</h2>
				<h5><a href="">Cesar Fernando Gutierrez Montoya</a></h5>
			</div>
			<div class="expindex groupexindex">
				<div class="expcard"><%= image_tag("perfilprueba.jpg") %></div>
				<div href="" class="rankblue"></div>
				<h2 class="clearfix"><b>Ranking</b></br>400</h2>
				<h5><a href="">Cesar Fernando Gutierrez Montoya</a></h5>
			</div>
			<div class="expindex groupexindex">
				<div class="expcard"><%= image_tag("perfilprueba.jpg") %></div>
				<div href="" class="rankblue"></div>
				<h2 class="clearfix"><b>Ranking</b></br>400</h2>
				<h5><a href="">Cesar Fernando Gutierrez Montoya</a></h5>
			</div>

		</div>

	</div>


</div>
</div>

<script>$('.cajaperfil').perfectScrollbar(); </script>
<script>
$( ".tareaspp:odd" ).css( "background-color", "#f2f2f2" );
</script>

