<div class="innercontainer bckgroup" ng-controller="perfilCtrl">
<div class="perfilcont">
	<div class="col2">
		<h2><%= @group.name %></h2>
		<div class="groupimg">
			<%= image_tag("gruposprueba.jpg") %>
		</div>
		<div class="perflinks">
			<a href="" class="mailto"></a>
			<a href="" class="joingroup"></a>
			<a href="" class="edituser"></a>
		</div>

		<div class="clearfix"></div>
		<div class="perfilsub modertext">Moderador(es)</div>
		<% @group_members.select{|x| x.is_admin == true}.each do |admin| %>
			<p><%= admin.user.name %></p>
		<% end %>
		<div class="groupunder">Mensaje al grupo</div>
		<p><%= @group.message %>.</p>
		<div class="groupunder">Última Actividad</div>
		<p class="actvspp"><a>Wingardium leviosa</a> · Aporte de Edición</p>
		<p class="actuser"><a>Norberto Lopez Alvarez</a> · 15/02/2016</p>
	</div>
	<div class="col1">

		<ul class="perfilnav groupnav">
	       	<li ng-class="{ active: isSet(1) }">
	          	<a href ng-click="setTab(1)">estadísticas</a>
	       	</li>
	       	<li ng-class="{ active: isSet(2) }">
	          	<a href ng-click="setTab(2)">tareas</a>
	       	</li>
	       	<li ng-class="{ active: isSet(3) }">
	          	<a href ng-click="setTab(3)">actividad</a>
	       	</li>
	       	<li ng-class="{ active: isSet(4) }">
	          	<a href ng-click="setTab(4)">especies</a>
	       	</li>
	       	<li ng-class="{ active: isSet(5) }">
	          	<a href ng-click="setTab(5)">miembros</a>
	       	</li>
	     </ul>

		<div ng-show="isSet(1)" class="cajaperfil scrollp">
			<%= render 'groups/groups_statistics' %>
		</div>
		<div ng-show="isSet(2)" class="cajaperfil">
			<%= render 'groups/groups_tasks' %>
		</div>
		<div ng-show="isSet(3)" class="cajaperfil">
			<%= render 'groups/groups_activity' %>
		</div>
		<div ng-show="isSet(4)" class="cajaperfil sppbox">
			<%= render 'groups/groups_species' %>
		</div>
		<div ng-show="isSet(5)" class="cajaperfil">
			<%= render 'groups/groups_users' %>
		</div>

	</div>


</div>
</div>

<script>
$('.cajaperfil').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});
$( ".tareaspp:odd" ).css( "background-color", "#f2f2f2" );
</script>

