<div id="perfilCntrl" ng-controller="perfilCtrl" class="innercontainer bckgroup">
	<div class="perfilcont">
		<div class="col2">
			<h2><%= @group.name %></h2>
			<%= hidden_field_tag 'group_id_field', @group.id %>
			<% if @current_group_user && @current_group_user.is_admin %>
				<div ng-show="editgroup" class="editgroupform">
					<%= render 'groups/edit_group' %>
				</div>
				<div class="editgroupform" ng-show="messagebox">
				<h2><%= t('biomodelos.groups.group_message.title') %></h2>
				<%= simple_form_for :message, :url =>  groups_bulk_group_email_path, :method => :post do |f|  %>
					<%= f.input :message, :as => :text, :placeholder => t('biomodelos.groups.group_message.message_ph'), :input_html => {:maxlength => 500, :cols => "20", :rows => "8"}, :name => "cuerpo", label: false %>
					<%= f.hidden_field :group_id, :value => @group.id %>
				    <div class="clearfix"></div>
				    <%= f.submit t('biomodelos.groups.group_message.submit_btn'), class: "btngen ml0", data: { disable_with: t('biomodelos.groups.group_message.submit_btn') }%>
				    <a class="closeedit" ng-click="messagebox=!messagebox">X</a>
				<% end %>
				</div>
			<% end %>
			<div class="groupimg">
				<%= image_tag(@group.logo.url(:profile).to_s) %>
			</div>
			<div class="perflinks">
				<% if user_signed_in? %>
					<% if !@user_group %>
						<%= simple_form_for @groups_users do |f| %>
							<%= f.hidden_field :group_id, :value =>  @group.id %>
							<%= f.hidden_field :groups_users_state_id, :value => 2 %>
							<%= f.submit "", :class=> "joingroup", :title=>t('biomodelos.groups.profile.join_group_tt'), :rel=>"tooltip", data: { disable_with: "" } %>
						<% end %>
					<% elsif @user_group.groups_users_state_id == 2 %>
						<%= image_tag "groupjoin2.png", :title=>t('biomodelos.groups.profile.waiting_approval_tt'), :rel=>"tooltip" %>
					<% elsif @user_group.groups_users_state_id == 1 %>
						<%= link_to groups_user_path(@user_group), {method: :delete, data: { confirm: t('biomodelos.groups.profile.leave_group_confirm') }}  do %>
							<%= image_tag "leave.png", title:t('biomodelos.groups.profile.leave_group_tt'), class: 'leavegroup', rel: 'tooltip' %>
						<% end %>
						<% if @user_group.is_admin%>
							<a href="" title="<%= t('biomodelos.groups.profile.group_message_tt') %>" rel="tooltip" class="mailto" ng-click="messagebox=!messagebox"></a>
							<a href="" title="<%= t('biomodelos.groups.profile.edit_group_tt') %>" rel="tooltip" class="edituser" ng-click="editgroup=!editgroup"></a>
						<% end %>
					<% end %>
				<% end %>
			</div>

			<div class="clearfix"></div>
			<div class="perfilsub modertext"><%= t('biomodelos.groups.profile.moderators') %></div>
			<% @group_admins.each do |admin| %>
				<p class="moderlink"><a href="/users/<%= admin.user_id %>" class="moderlink"><%= admin.user.name %></a></p>
			<% end %>
			<div class="groupunder"><%= t('biomodelos.groups.profile.moderator_message') %></div>
			<p><%= @group.message %></p>
			<!-- <div class="groupunder">Última Actividad</div>
			<p class="actvspp"><a>Wingardium leviosa</a> · Aporte de Edición</p>
			<p class="actuser"><a>Norberto Lopez Alvarez</a> · 15/02/2016</p> -->
		</div>
		<div class="col1">

			<ul class="perfilnav groupnav">
		       	<li ng-class="{ active: isSet(1) }">
		          	<a href ng-click="setTab(1)"><%= t('biomodelos.groups.profile.statistics_tab') %></a>
		       	</li>
		       	<li ng-class="{ active: isSet(2) }">
		          	<a href ng-click="setTab(2)" class="group_tasks_tab"><%= t('biomodelos.groups.profile.tasks_tab') %></a>
		       	</li>
		       	<li ng-class="{ active: isSet(3) }">
		          	<a href ng-click="setTab(3)" class="group_activity_tab"><%= t('biomodelos.groups.profile.activity_tab') %></a>
		       	</li>
		       	<li ng-class="{ active: isSet(4) }">
		          	<a href ng-click="setTab(4)" class="group_species_tab"><%= t('biomodelos.groups.profile.species_tab') %></a>
		       	</li>
		       	<li ng-class="{ active: isSet(5) }">
		          	<a href ng-click="setTab(5)" class="group_users_tab"><%= t('biomodelos.groups.profile.experts_tab') %></a>
		       	</li>
		     </ul>

			<div ng-show="isSet(1)" class="cajaperfil scrollp">
				<%= render 'groups/groups_statistics' %>
			</div>
			<div ng-show="isSet(2)" class="cajaperfil group_tasks_box">
				<%= render 'groups/groups_tasks' %>
			</div>
			<div ng-show="isSet(3)" class="cajaperfil">
				<div id="group_activity_table"></div>
			</div>
			<div ng-show="isSet(4)" class="cajaperfil sppbox">
				<%= render 'groups/groups_species' %>
			</div>
			<div ng-show="isSet(5)" class="cajaperfil usrbox">
				<%= render 'groups/groups_users' %>
			</div>
		</div>
	</div>
</div>
<script>
$('.cajaperfil').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});
$( ".tareaspp:odd" ).css( "background-color", "#f2f2f2" );
$(document).ready(function() {
	HomeControllerModule.typeahead_f();
});
</script>
