<div id="perfilCntrl" ng-controller="perfilCtrl" class="innercontainer bckgroup">
	<div class="perfilcont">
		<div class="col2">
			<h2><%= @group.name %></h2>
			<%= hidden_field_tag 'group_id_field', @group.id %>
			<% if @current_group_user && @current_group_user.is_admin %>
				<div ng-show="editgroup" class="editgroupform">
					<%= render 'groups/edit_group' %>
				</div>
				<div class="editgroupform" ng-show="messagebox">
				<h2>Mensaje al Grupo</h2>
				<%= simple_form_for :message, :url =>  groups_bulk_group_email_path, :method => :post do |f|  %>
					<%= f.input :message, :as => :text, :placeholder => "máximo 500 caracteres", :input_html => {:maxlength => 500, :cols => "20", :rows => "8"}, :name => "cuerpo", label: false %>
					<%= f.hidden_field :group_id, :value => @group.id %>
				    <div class="clearfix"></div>
				    <%= f.submit 'ENVIAR', class: "btngen ml0"%>
				    <a class="closeedit" ng-click="messagebox=!messagebox">X</a>
				<% end %>
				</div>
			<% end %>
			<div class="groupimg">
				<%= image_tag(@group.logo.url(:profile).to_s) %>
			</div>
			<div class="perflinks">
				<% if user_signed_in? %>
				 	<% if @user_group && @user_group.groups_users_state_id == 2 %>
						<%= image_tag "groupjoin2", :title=>"En espera de aprobación", :rel=>"tooltip" %>
					<% elsif @user_group && @user_group.groups_users_state_id == 1 %>
						<%= image_tag "member", :title=>"Miembro del grupo", :rel=>"tooltip" %>
					<% elsif  !@current_group_user %>
						<%= simple_form_for @groups_users do |f| %>
		                  <%= f.hidden_field :group_id, :value =>  @group.id %>
		                  <%= f.hidden_field :groups_users_state_id, :value => 2 %>
		                  <%= f.submit "", :class=> "joingroup", :title=>"Solicitar unirse a este grupo", :rel=>"tooltip" %>
		                <% end %>
		            <% end %>
				<% end %>
				<% if @current_group_user && @current_group_user.is_admin%>
					<a href="" title="Mensaje a miembros del grupo" rel="tooltip" class="mailto" ng-click="messagebox=!messagebox"></a>
					<a href="" title="Editar información del grupo" rel="tooltip" class="edituser" ng-click="editgroup=!editgroup"></a>
				<% end %>
			</div>

			<div class="clearfix"></div>
			<div class="perfilsub modertext">Moderador(es)</div>
			<% @group_members.select{|x| x.is_admin == true}.each do |admin| %>
				<p class="moderlink"><a href="/users/<%= admin.user_id %>" class="moderlink"><%= admin.user.name %></a></p>
			<% end %>
			<div class="groupunder">Mensaje moderador</div>
			<p><%= @group.message %>.</p>
			<div class="groupunder">Última Actividad</div>
			<p class="actvspp"><a>Wingardium leviosa</a> · Aporte de Edición</p>
			<p class="actuser"><a>Norberto Lopez Alvarez</a> · 15/02/2016</p>
		</div>
		<div class="col1">

			<ul class="perfilnav groupnav">
		       	<li ng-class="{ active: isSet(1) }">
		          	<a href ng-click="setTab(1)">estadísticas</a>
		       	</li>
		       	<li ng-class="{ active: isSet(2) }">
		          	<a href ng-click="setTab(2)" class="group_tasks_tab">tareas</a>
		       	</li>
		       	<li ng-class="{ active: isSet(3) }">
		          	<a href ng-click="setTab(3)" class="group_activity_tab">actividad</a>
		       	</li>
		       	<li ng-class="{ active: isSet(4) }">
		          	<a href ng-click="setTab(4)" class="group_species_tab">especies</a>
		       	</li>
		       	<li ng-class="{ active: isSet(5) }">
		          	<a href ng-click="setTab(5)" class="group_users_tab">expertos</a>
		       	</li>
		     </ul>

			<div ng-show="isSet(1)" class="cajaperfil scrollp">
				<%= render 'groups/groups_statistics' %>
			</div>
			<div ng-show="isSet(2)" class="cajaperfil group_tasks_box">
				<%= render 'groups/groups_tasks' %>
			</div>
			<div ng-show="isSet(3)" class="cajaperfil">
				<div id="group_activity_table"></div>
			</div>
			<div ng-show="isSet(4)" class="cajaperfil sppbox">
				<%= render 'groups/groups_species' %>
			</div>
			<div ng-show="isSet(5)" class="cajaperfil usrbox">
				<%= render 'groups/groups_users' %>
			</div>
		</div>
	</div>
</div>
<script>
$('.cajaperfil').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});
$( ".tareaspp:odd" ).css( "background-color", "#f2f2f2" );
</script>

