<h1>mis mapas</h1>
<div class="aligner">
	<div class="mymap">
		<h4>En desarrollo</h4>
		<div class="mmicon clearfix">
			<%= image_tag("downiconf.png") %>
			<%= image_tag("metaiconf.png") %>
			<%= image_tag("linkiconf.png") %>
			<%= image_tag("deliconf.png", :class => 'delicon') %>
		</div>
		<div class="mymapthumb"><%= image_tag("nomap.png") %></div>
	</div>
	<div class="mymap">
		<a class="spmapname">Tessmanniacanthus chlamydocardioides</a>
		<h6 class="fechamapa">18 路 Jun 路 2016 - 16:36</h6>
		<div class="mmicon clearfix">
			<a href=""><%= image_tag("downicon.png") %></a>
			<a href=""><%= image_tag("metaicon.png") %></a>
			<a href=""><%= image_tag("linkicon.png") %></a>
			<a href="" class="delicon"><%= image_tag("delicon.png") %></a>
		</div>
		<a href="">
			<div class="mymapthumb"><%= image_tag("mapthumb.png") %></div>
		</a>
	</div>
	<div class="mymap">
		<a class="spmapname">Aburria aburri</a>
		<h6 class="fechamapa">18 路 Jun 路 2016 - 16:36</h6>
		<div class="mmicon clearfix">
			<a href=""><%= image_tag("downicon.png") %></a>
			<a href=""><%= image_tag("metaicon.png") %></a>
			<a href=""><%= image_tag("linkicon.png") %></a>
			<a href="" class="delicon"><%= image_tag("delicon.png") %></a>
		</div>
		<a href="">
			<div class="mymapthumb"><%= image_tag("mapthumb.png") %></div>
		</a>
	</div>
</div>