<h1>tareas</h1>
				<div class="colspp tabletit">
					<h2>Especie</h2>
				</div><!-- 
			 --><div class="coladv tabletit">
					<%= image_tag("regperfil.png") %>
				</div><!-- 
			 --><div class="coladv tabletit">
					<%= image_tag("penperfil.png") %>
				</div><!-- 
			 --><div class="coladv tabletit specialicon">
					<h3>Aprobado</h3>
					<%= image_tag("aprobicon.png") %>
				</div><!-- 
			 --><div class="coladv tabletit specialicon">
					<h3>%Avance</h3>
					<%= image_tag("percicon.png") %>
				</div>
				<% @species_with_tasks.each do |species| %>
					<% @tasks.select{|x| x.species_id == species[1]}.each do |task| %>
						<div class="tareaspp"><!-- 
						--><a class="colspp"><%= species[0] %></a><!-- 
						--><div class="coladv">
							<% if task.task_type_id == 1 %>
								<% if task.task_state_id == 2 %>
									<%= image_tag("check.png") %>
								<% else %>
									<% if user_signed_in? && @user.id == current_user.id %>
										<input type="checkbox" \>
									<% end %>
								<% end %>
							<% end %>
						</div><!-- 
						--><div class="coladv">
							<% if task.task_type_id == 2 %>
								<% if task.task_state_id == 2 %>
									<%= image_tag("check.png") %>
								<% else %>
									<% if user_signed_in? && @user.id == current_user.id %>
										<input type="checkbox" \>
									<% end %>
								<% end %>
							<% end %>
							</div><!-- 
						--><div class="coladv"><input type="checkbox" ></input></div><!-- 
						--><p class="coladv">50%</p>
						</div>
					<% end %>
				<% end %>