<h1>tareas</h1>
<div class="colspp tabletit">
	<h2>Especie</h2>
</div><!-- 
--><div class="coladv tabletit" rel="tooltip" title="Curación de registros">
	<%= image_tag("regperfil.png") %>
</div><!-- 
--><div class="coladv tabletit" rel="tooltip" title="Edición de modelos">
	<%= image_tag("penperfil.png") %>
</div><!-- 
--><div class="coladv tabletit" rel="tooltip" title="Variables ecológicas">
	<%= image_tag("veicon2.png") %>
</div><!--  
--><div class="coladv tabletit" rel="tooltip" title="Modelo aprobado">
	<%= image_tag("aprobicon.png") %>
</div><!-- 
--><div class="coladv tabletit" rel="tooltip" title="Porcentaje de avance">
	<%= image_tag("percicon.png") %>
</div>
<div id="user_tasks_table"></div>