<h1>tareas</h1>
				<div class="colspp tabletit">
					<h2>Especie</h2>
				</div><!-- 
			 --><div class="coladv tabletit">
					<%= image_tag("regperfil.png") %>
				</div><!-- 
			 --><div class="coladv tabletit">
					<%= image_tag("penperfil.png") %>
				</div><!-- 
			 --><div class="coladv tabletit specialicon">
					<h3>Aprobado</h3>
					<%= image_tag("aprobicon.png") %>
				</div><!-- 
			 --><div class="coladv tabletit specialicon">
					<h3>%Avance</h3>
					<%= image_tag("percicon.png") %>
				</div>
				<% @tasks.each do |task| %>
					<div class="tareaspp"><!-- 
					--><a class="colspp"><%= task.species.sci_name %></a><!-- 
					--><div class="coladv"><%= image_tag("check.png") %></div><!-- 
					--><div class="coladv"><%= image_tag("check.png") %></div><!-- 
					--><div class="coladv"><input type="checkbox" ></input></div><!-- 
					--><p class="coladv">50%</p>
					</div>
				<% end %>