<div class="innercontainer fondoplumas nbg1">
	<div class="cajainners">
		<div class="hcbase">
			<h1>nuestra red de expertos</h1>
			<%= link_to '', root_path, class: 'closecb' %>
			<p>Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula, a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui.</p>
			<button class="botonfiltro acti">A-Z</button>
			<button class="botonfiltro">Rank</button>
			<select name="" id="Filtroporgrupo">
				<option value="hide">- Filtro por Grupo -</option>
				<option value="Magnolias">Magnolias</option>
				<option value="Aves">Aves acuaticas de Colombia</option>
				<option value="Magnolias">Mamiferos</option>
			</select>
			<div class="clearfix mt10"></div>
			<div class="aligner2">
			<div class="expindex">
				<div class="expcard"><%= image_tag("perfilprueba.jpg") %></div>
				<div href="" class="rankblue"></div>
				<h2 class="clearfix"><b>Ranking</b></br>400</h2>
				<h5><a href="">Cesar Fernando Gutierrez Montoya</a></h5>
				<div class="gr">Grupos</div>
				<a href="" class="grlink">Especie del mes</a>
				<a href="" class="grlink">Especie del mes</a>
				<a href="" class="grlink">Especie del mes</a>
				<a href="" class="grlink">Especie del mes</a>
			</div>
			<div class="expindex">
				<div class="expcard"><%= image_tag("perfilprueba.jpg") %></div>
				<div href="" class="rankblue"></div>
				<h2 class="clearfix"><b>Ranking</b></br>400</h2>
				<h5><a href="">Cesar Fernando Gutierrez Montoya</a></h5>
				<div class="gr">Grupos</div>
				<a href="" class="grlink">Especie del mes</a>
				<a href="" class="grlink">Especie del mes</a>
			</div>
			<div class="expindex">
				<div class="expcard"><%= image_tag("perfilprueba.jpg") %></div>
				<div href="" class="rankblue"></div>
				<h2 class="clearfix"><b>Ranking</b></br>400</h2>
				<h5><a href="">Cesar Fernando Gutierrez Montoya</a></h5>
				<div class="gr">Grupos</div>
				<a href="" class="grlink">Especie del mes</a>
				<a href="" class="grlink">Especie del mes</a>
			</div>
			<div class="expindex">
				<div class="expcard"><%= image_tag("perfilprueba.jpg") %></div>
				<div href="" class="rankblue"></div>
				<h2 class="clearfix"><b>Ranking</b></br>400</h2>
				<h5><a href="">Cesar Fernando Gutierrez Montoya</a></h5>
				<div class="gr">Grupos</div>
				<a href="" class="grlink">Especie del mes</a>
				<a href="" class="grlink">Especie del mes</a>
			</div>
			<div class="expindex">
				<div class="expcard"><%= image_tag("perfilprueba.jpg") %></div>
				<div href="" class="rankblue"></div>
				<h2 class="clearfix"><b>Ranking</b></br>400</h2>
				<h5><a href="">Cesar Fernando Gutierrez Montoya</a></h5>
				<div class="gr">Grupos</div>
				<a href="" class="grlink">Especie del mes</a>
				<a href="" class="grlink">Especie del mes</a>
			</div>
			</div>
		</div>
	</div>
</div>

<script>
$('select').each(function(){
    var $this = $(this), numberOfOptions = $(this).children('option').length;
  
    $this.addClass('select-hidden'); 
    $this.wrap('<div class="select"></div>');
    $this.after('<div class="select-styled"></div>');

    var $styledSelect = $this.next('div.select-styled');
    $styledSelect.text($this.children('option').eq(0).text());
  
    var $list = $('<ul />', {
        'class': 'select-options'
    }).insertAfter($styledSelect);
  
    for (var i = 0; i < numberOfOptions; i++) {
        $('<li />', {
            text: $this.children('option').eq(i).text(),
            rel: $this.children('option').eq(i).val()
        }).appendTo($list);
    }
  
    var $listItems = $list.children('li');
  
    $styledSelect.click(function(e) {
        e.stopPropagation();
        $('div.select-styled.active').each(function(){
            $(this).removeClass('active').next('ul.select-options').hide();
        });
        $(this).toggleClass('active').next('ul.select-options').toggle();
    });
  
    $listItems.click(function(e) {
        e.stopPropagation();
        $styledSelect.text($(this).text()).removeClass('active');
        $this.val($(this).attr('rel'));
        $list.hide();
        //console.log($this.val());
    });
  
    $(document).click(function() {
        $styledSelect.removeClass('active');
        $list.hide();
    });

});
</script>