<div class="innercontainer bckperfil" ng-controller="perfilCtrl">
<div class="perfilcont">
	<div class="col2">
		<h2><%= @user.name %></h2>
		<div class="perfilsub intgroups"><%= @user.expertise %></div>
		<div class="perfilsub"><%= @user.organization %></div>
		<div class="perfilsub"><%= @user.location %></div>
		<div class="perfilimg">
			<%= image_tag("perfilprueba.jpg") %>
		</div>
		<div class="perflinks">
			<div class="rank">400</div>
			<a href="" class="mailto"></a>
			<a href="" class="edituser"></a>
		</div>

		<div class="clearfix"></div>
		<div class="perfilunder">Biografía</div>
		<p><%= @user.bio %></p>
		<div class="perfilunder">Grupos</div>
		<% @user_groups.each do |group| %>
			<p class="groupuser"><a href="/groups/<%= group.group_id %>"><%= group.group.name %>  ·  </a><%= group.updated_at.to_time.strftime("%F") %></p>
		<% end %>
	</div>
	<div class="col1">

		<ul class="perfilnav">
	       	<li ng-class="{ active: isSet(1) }">
	          	<a href ng-click="setTab(1)">estadísticas</a>
	       	</li>
	       	<li ng-class="{ active: isSet(2) }">
	          	<a href ng-click="setTab(2)">tareas</a>
	       	</li>
	       	<li ng-class="{ active: isSet(3) }">
	          	<a href ng-click="setTab(3)">mis mapas</a>
	       	</li>
	       	<li ng-class="{ active: isSet(4) }">
	          	<a href ng-click="setTab(4)">especies</a>
	       	</li>
	       	<li ng-class="{ active: isSet(5) }">
	          	<a href ng-click="setTab(5)">actividad</a>
	       	</li>
	       	<li ng-class="{ active: isSet(6) }">
	          	<a href ng-click="setTab(6)">notificaciones</a>
	       	</li>
	     </ul>

		<div ng-show="isSet(1)" class="cajaperfil scrollp">
			<%= render 'users/users_statistics' %>
		</div>
		<div ng-show="isSet(2)" class="cajaperfil">
			<%= render 'users/users_tasks' %>
		</div>
		<div ng-show="isSet(3)" class="cajaperfil">
			<%= render 'users/users_maps' %>
		</div>
		<div ng-show="isSet(4)" class="cajaperfil sppbox">
			<%= render 'users/users_species' %>
		</div>
		<div ng-show="isSet(5)" class="cajaperfil">
			<%= render 'users/users_activity' %>
		</div>
		<div ng-show="isSet(6)" class="cajaperfil">
			<%= render 'users/users_notifications' %>
		</div>
	</div>
</div>
</div>
