<div class="innercontainer bckperfil" ng-controller="perfilCtrl">
<div class="perfilcont">
	<div class="col2">
		<h2><%= @user.name %></h2>
		<%= hidden_field_tag 'user_id_field', @user.id %>
		<div class="perfilsub intgroups"><%= @user.expertise %></div>
		<div class="perfilsub"><%= @user.organization %></div>
		<div class="perfilsub"><%= @user.location %></div>
		<div class="perfilimg">
			<%= image_tag(@user.avatarURL.url(:profile).to_s) %>
		</div>
		<% if user_signed_in? && @user.id != current_user.id %>
			<div class="editgroupform" ng-show="messagebox">
						<h2><%= t('biomodelos.users.message_to_expert') %></h2>
						<%= simple_form_for :message, :url =>   users_send_message_to_user_path, :method => :post do |f|  %>
							<%= f.input :message, :as => :text, :placeholder => t('biomodelos.users.max_message_ph'), :input_html => {:maxlength => 500, :cols => "20", :rows => "8"}, :name => "cuerpo", label: false %>
							<%= f.hidden_field :user_id, :value => @user.id %>
						    <div class="clearfix"></div>
						    <%= f.submit t('biomodelos.contact.submit_btn'), class: "btngen ml0"%>
						    <a class="closeedit" ng-click="messagebox=!messagebox">X</a>
						<% end %>
			</div>
		<% end %>
		<div class="perflinks">
			<!-- <div class="rank" rel="tooltip" title="Ranking BioModelos del usuario">400</div> -->
		<!-- 	<a href="" class="edituser" rel="tooltip" title="Editar usuario"></a> -->
		<% if user_signed_in? %>
			<% if @user.id != current_user.id %>
				<a href="" class="mailto" rel="tooltip" title="<%= t('biomodelos.users.message_to_expert_tt') %>" ng-click="messagebox=!messagebox"></a>
			<% else %>
				<%= link_to '', edit_user_registration_path, class: 'edituser', rel: "tooltip", title: t('biomodelos.users.edit_user_tt') %>
			<% end %>
		<% end %>
		</div>
		<div class="clearfix"></div>
		<div class="perfilunder"><%= t('biomodelos.users.bio') %></div>
		<p><%= @user.bio %></p>
		<div class="perfilunder"><%= t('biomodelos.users.groups') %></div>
		<% @user_groups.each do |group| %>
			<p class="groupuser"><a href="/groups/<%= group.group_id %>"><%= group.group.name %>  ·  </a><%= group.updated_at.to_time.strftime("%F") %></p>
		<% end %>
	</div>
	<div class="col1">

		<ul class="perfilnav">
	       	<li ng-class="{ active: isSet(1) }">
	          	<a href ng-click="setTab(1)"><%= t('biomodelos.users.statistics_tab') %></a>
	       	</li>
	       	<li ng-class="{ active: isSet(2) }">
	          	<a href ng-click="setTab(2)" class="user_tasks_tab"><%= t('biomodelos.users.tasks_tab') %></a>
	       	</li>
<!-- 	       	<li ng-class="{ active: isSet(3) }">
	          	<a href ng-click="setTab(3)">mis mapas</a>
	       	</li>
	       	<li ng-class="{ active: isSet(4) }">
	          	<a href ng-click="setTab(4)">especies</a>
	       	</li>
	       	<li ng-class="{ active: isSet(5) }">
	          	<a href ng-click="setTab(5)">actividad</a>
	       	</li>
	       	<li ng-class="{ active: isSet(6) }">
	          	<a href ng-click="setTab(6)">notificaciones</a>
	       	</li> -->
	     </ul>

		<div ng-show="isSet(1)" class="cajaperfil scrollp">
			<%= render 'users/users_statistics' %>
		</div>
		<div ng-show="isSet(2)" class="cajaperfil">
			<%= render 'users/users_tasks' %>
		</div>
<!-- 		<div ng-show="isSet(3)" class="cajaperfil">
			<%= render 'users/users_maps' %>
		</div>
		<div ng-show="isSet(4)" class="cajaperfil sppbox">
			<%= render 'users/users_species' %>
		</div>
		<div ng-show="isSet(5)" class="cajaperfil">
			<%= render 'users/users_activity' %>
		</div>
		<div ng-show="isSet(6)" class="cajaperfil">
			<%= render 'users/users_notifications' %>
		</div> -->
	</div>
</div>
</div>