<footer>
		<div class="lbabfooter">
			<a href="http://www.humboldt.org.co" class="humboldtft" target="_blank">
				<%= image_tag("logohumboldt.png") %>
				<div class="humbname">
					<h1>Instituto de Investigación de Recursos Biológicos</br>
						Alexander von Humboldt</h1>
					<h2>Programa de Evaluación y Monitoreo de la Biodiversidad
					</h2>
				</div>
			</a>
		</div>
		<div class="sitemap">
			<nav>
				<ul id="subnav">
					<li>
						<%= link_to 'Modelos', species_visor_path %>
					</li>
					<li>
						<%= link_to 'Grupos', groups_path %>
					</li>
					<li>
						<%= link_to 'Expertos', users_path %>
					</li>

				</ul>
				<ul id="subnav">
					<li>
						<%= link_to 'Publicar', home_publish_path %>
					</li>
					<li>
						<%= link_to 'Tutorial', root_path %>
					</li>
					<li>
						<%= link_to 'Info', info_index_path %>
					</li>
					<!-- 
					<li>
						<%= link_to 'Blog', root_path, class: 'smallnavli'  %>
					</li>
					<li>
						<%= link_to 'Docs', root_path, class: 'smallnavli'  %>
					</li> -->
				</ul>
				<ul id="subnav">
					<li class="linehnav">
						<%= link_to 'Acerca de Biomodelos', home_about_us_path %>
					</li>
					<li>
						<%= link_to 'Contacto', home_contact_us_path %>
					</li>
					<!-- 					
					<li>
						<%= link_to 'Api', home_api_path %>
					</li> -->
				</ul>
			</nav>
			<%= image_tag("logolba.png") %>
		</div>
</footer>