<footer>
		<div class="lbabfooter">
			<a href="http://www.humboldt.org.co" class="humboldtft" target="_blank">
				<%= image_tag("logohumboldt.png") %>
				<div class="humbname">
					<h1><%= t('biomodelos.footer.institute_html') %></h1>
					<h2><%= t('biomodelos.footer.program') %></h2>
				</div>
			</a>
		</div>
		<div class="sitemap">
			<nav>
				<ul id="subnav">
					<% if I18n.locale == :es %>
					  <%= link_to url_for(locale: :en), {class: 'lang', rel: 'tooltip', title:"English"} do %>
					    en
					  <% end %>
					<% else %>
					  <%= link_to url_for(locale: :es), {class: 'lang', rel: 'tooltip', title:"Español"} do %>
					    es
					  <% end %>
					<% end %>
					<div class="clearfix mb5"></div>
					<li>
						<%= link_to t('biomodelos.footer.models'), species_visor_path %>
					</li>
					<li>
						<%= link_to t('biomodelos.footer.groups'), groups_path %>
					</li>
 					<!--<li>
						<%= link_to 'Expertos', root_path %>
					</li> -->

				</ul>
				<ul id="subnav">
					<li>
						<%= link_to t('biomodelos.footer.publish'), home_publish_path %>
					</li>
					<!-- <li>
						<%= link_to 'Tutorial', root_path %>
					</li> -->
					<li>
						<%= link_to t('biomodelos.footer.info'), info_index_path %>
					</li>
					<!-- 
					<li>
						<%= link_to 'Blog', root_path, class: 'smallnavli'  %>
					</li>
					<li>
						<%= link_to 'Docs', root_path, class: 'smallnavli'  %>
					</li> -->
				</ul>
				<ul id="subnav">
					<li class="linehnav">
						<%= link_to t('biomodelos.footer.about'), home_about_us_path %>
					</li>
					<li>
						<%= link_to t('biomodelos.footer.terms'), home_terms_path %>
					</li>
					<li>
						<%= link_to t('biomodelos.footer.contact'), home_contact_us_path %>
					</li>
					<!-- 					
					<li>
						<%= link_to 'Api', home_api_path %>
					</li> -->
				</ul>
			</nav>
			<%= image_tag("logolba.png") %>
		</div>
</footer>