<header>
	<h1>BioModelos</h1>
	<nav class="menu">
		<ul class="active">
			<li><%= link_to 'Inicio', root_path, class: 'current' %></li>
			<li><%= link_to 'Modelos', species_visor_path %></li>
			<li><%= link_to 'Grupos', groups_path %></li>
			<% if user_signed_in? %>
			  <div class="usuario">
			    <%= link_to current_user.email, user_path(:id => current_user.id), :title=>'Perfil' %>
			    <%= hidden_field_tag 'user_name', current_user.name %>
			    <%= link_to '', destroy_user_session_path, :method=>'delete', :class=>'xsalir', :title=>'Salir' %>
			  </div>
			<% else %>
			    <li><%= link_to 'Ingresar', new_user_session_path %></li>
			    <li><%= link_to 'Registrarse', new_user_registration_path %></li>
			<% end %>
		</ul>
		<a class="toggle-nav" href="#">&#9776;</a>
	</nav>
</header>

<script>
	jQuery(document).ready(function() {
    jQuery('.toggle-nav').click(function(e) {
        jQuery(this).toggleClass('active');
        jQuery('.menu ul').toggleClass('active');
 
        e.preventDefault();
    });
});
</script>
