<header>
	<%= link_to "BioModelos", root_path %>
	<%= hidden_field_tag 'locale_field', I18n.locale %>
	<nav class="menu">
		<ul class="active">
			<li><%= link_to t('biomodelos.header.home'), root_path %></li>
			<li><%= link_to t('biomodelos.header.models'), species_visor_path %></li>
			<li><%= link_to t('biomodelos.header.groups'), groups_path %></li>
			<% if user_signed_in? %>
			  <div class="usuario">
			    <%= link_to current_user.email, user_path(:id => current_user.id), :title=> t('biomodelos.header.profile_tt') %>
			    <%= hidden_field_tag 'user_name', current_user.name %>
			    <%= link_to '', destroy_user_session_path, :method=>'delete', :class=>'xsalir', :rel=> 'tooltip', :title=> t('biomodelos.header.log_out_tt') %>
			  </div>
			<% else %>
			    <li><%= link_to t('biomodelos.header.log_in'), new_user_session_path %></li>
			    <li><%= link_to t('biomodelos.header.sign_up'), new_user_registration_path %></li>
			<% end %>
		</ul>
		<a class="toggle-nav" href="#">&#9776;</a>
		<% if I18n.locale == :es %>
		  <%= link_to url_for(locale: :en), {class: 'lang', rel: 'tooltip', title: 'English'} do %>
		    en
		  <% end %>
		<% else %>
		  <%= link_to url_for(locale: :es), {class: 'lang', rel: 'tooltip', title:"Español"} do %>
		    es
		  <% end %>
		<% end %>
	</nav>
</header>

<script>
	$(document).jQuery(function(){
    $('.active li a').each(function(index) {
        if(this.href.trim() == window.location)
            $(this).addClass("current");
    });
});
</script>
