<header>
	<h1>BioModelos</h1>
	<nav>
		<%= link_to 'Inicio', root_path, class: 'current' %>
		<%= link_to 'Modelos', species_visor_path %>
		<%= link_to 'Grupos', root_path %>
		<%= link_to 'Ingresar', new_user_session_path %>
		<%= link_to 'Registrarse', new_user_registration_path %>
	</nav>
</header>
