<div class="innercontainer aboutbg">
	<div class="centerbox" id="centerbox">
		<div class="scrolledContent mb30 scrolledPadding">
			<div class="maintitle">
				BioModelos
			</div>
			<div class="slogan">
				<%= t('biomodelos.home.slogan') %>
			</div>
			<div class="mb30"> <%= image_tag("Animatedworld.gif") %></div>
			<p><%= t('biomodelos.about_us.text_1_html') %></p>
			<div class="subt">
				<%= t('biomodelos.about_us.team') %>
			</div>
			<div class="equipo">
				<div class="member">
				<%= image_tag("elkin.png") %>
				ELKIN NOGUERA URBANO</br>
				<%= t('biomodelos.about_us.coordinator') %>
				</div>
				<div class="member">
				<%= image_tag("daniel.jpg") %>
				DANIEL LÓPEZ</br>
				<%= t('biomodelos.about_us.developer') %>
				</div>
				<div class="member">
				<%= image_tag("cesar.jpg") %>
				CÉSAR GUTIÉRREZ</br>
				<%= t('biomodelos.about_us.frontend') %>
				</div>
				<div class="member">
				<%= image_tag("helena.jpg") %>
				HELENA OLAYA</br>
				<%= t('biomodelos.about_us.network') %>
				</div>
				<div class="member">
				<%= image_tag("erika.png") %>
				ERIKA SUAREZ</br>
				<%= t('biomodelos.about_us.developer') %>
				</div>
				<div class="member">
				<%= image_tag("Cristian.png") %>
				CRISTIAN CRUZ</br>
				<%= t('biomodelos.about_us.analyst') %>
				</div>
			</div>
			<div class="subt">
				<%= t('biomodelos.about_us.founders') %>
			</div>
				<div class="member">
				<%= image_tag("jorge.jpg") %>
				JORGE VELÁSQUEZ</br>
				<%= t('biomodelos.about_us.founderinv') %>
				</div>
				<div class="member">
				<%= image_tag("mariac.jpg") %>
				MARÍA CECILIA LONDOÑO</br>
				<%= t('biomodelos.about_us.founderinv') %>
				</div>
				<div class="member">
				<%= image_tag("ivan.jpg") %>
				IVAN GONZÁLEZ</br>
				<%= t('biomodelos.about_us.founderinv') %>
				</div>
			<div class="subt">
				<%= t('biomodelos.about_us.acknowledgments') %>
			</div>
			<div class="member">
	<!-- 			<%= image_tag("felipe.jpg") %> -->
				<b><%= t('biomodelos.about_us.photovid') %></b></br>
				FELIPE VILLEGAS</br>
				<%= t('biomodelos.about_us.humboldtname') %>
			</div>
			<div class="member">
				<b><%= t('biomodelos.about_us.developer') %></b></br>
				RICARDO BASTIDAS</br>
				VALENTINA GRAJALES</br>
				RICARDO REYES</br>
				ALEJANDRO MORENO</br>
			</div>
			<div class="member">
				<b><%= t('biomodelos.about_us.juridical') %></b></br>
				<%= t('biomodelos.about_us.humboldtname') %>
			</div>
			<div class="member">
				<b><%= t('biomodelos.about_us.communic') %></b></br>
				<%= t('biomodelos.about_us.humboldtname') %>
			</div>
			<div class="subt mb30">
				<%= t('biomodelos.about_us.awards') %>
			</div>
			<div class="aliados">
				<a href="https://www.colciencias.gov.co/sala_de_prensa/por-primera-vez-se-premian-iniciativas-ciencia-abierta" target="_blank"><%= image_tag("premio.png") %></a>
			</div>
			<div class="aliados">
				<a href="http://www.humboldt.org.co/es/actualidad/item/1414-programa-biomodelos-recibe-medalla-humboldt-caldas-2019" target="_blank"><%= image_tag("medalla.png") %></a>
			</div>
			<div class="subt">
				<%= t('biomodelos.about_us.sponsors') %>
			</div>
				<div class="logos">
				<a href="https://www.minambiente.gov.co/" target="_blank"><%= image_tag("logoMA.png") %></a>
				</div>
				<div class="logos">
				<a href="http://sitio.fondoadaptacion.gov.co/" target="_blank"><%= image_tag("logoFA.png") %></a>
				</div>
			<div class="subt">
				<%= t('biomodelos.about_us.allies') %>
			</div>
				<div class="aliados">
				<a href="http://www.sibcolombia.net/" target="_blank"><%= image_tag("LogosSIB.png") %></a>
				</div>
				<div class="aliados">
				<a href="http://mamiferoscolombia.org/" target="_blank"><%= image_tag("logoscm.png") %></a>
				</div>
				<div class="aliados">
				<a href="http://calidris.org.co/" target="_blank"><%= image_tag("logocalidris.png") %></a>
				</div>
				<div class="aliados">
				<a href="http://www.asoprimatologicacolombiana.org/" target="_blank"><%= image_tag("LogosAPC.png") %></a>
				</div>
				<div class="aliados">
				<a href="http://www.acherpetologia.org/" target="_blank"><%= image_tag("logoach.png") %></a>
				</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$('#centerbox').niceScroll(".scrolledContent", {
		cursorcolor: "#5d5e5e",
		cursorwidth: "7px",
		cursorborder: "none"
	});
});
</script>
