<div class="innercontainer aboutbg">
	<div class="centerbox" id="centerbox">
		<div class="maintitle">
			BioModelos
		</div>
		<div class="slogan">
			Mejores modelos con el apoyo de expertos
		</div>
		<p>BioModelos es una herramienta digital que permite la <b>comunicación entre expertos</b> en biodiversidad para el desarrollo de modelos de distribución de las especies existentes en Colombia de forma colaborativa y abierta.</br></br>
		Esta iniciativa surge con el fin de acercar a investigadores, instituciones gubernamentales, ONGs y ciudadanos, a una <b>información precisa y validada</b> por expertos sobre la distribución de especies en Colombia, que sirva como referencia para estudios y la toma de decisiones sobre biodiversidad.</p>
		<div class="subt">
			el equipo
		</div>
		<div class="equipo">
			<div class="member">
			<%= image_tag("jorge.jpg") %>
			JORGE VELÁSQUEZ</br>
			Investigador Principal
			</div>
			<div class="member">
			<%= image_tag("jorge.jpg") %>
			MARÍA CECILIA LONDOÑO</br>
			Investigador Principal
			</div>
			<div class="member">
			<%= image_tag("cesar.jpg") %>
			CÉSAR GUTIÉRREZ</br>
			Diseñador Gráfico
			</div>
			<div class="member">
			<%= image_tag("daniel.jpg") %>
			DANIEL LÓPEZ</br>
			Desarrollo Web
			</div>
			<div class="member">
			<%= image_tag("helena.jpg") %>
			HELENA OLAYA</br>
			Administradora de Redes
			</div>
			<div class="member">
			<%= image_tag("ivan.jpg") %>
			IVAN GONZÁLEZ</br>
			Manejo de Datos
			</div>
			<div class="member">
			<%= image_tag("ivan.jpg") %>
			RICARDO REYES</br>
			Bases de Datos
			</div>
		</div>
		<div class="subt">
			patrocinadores
		</div>
			<div class="logos">
			<%= image_tag("logoMA.png") %>
			</div>
			<div class="logos">
			<%= image_tag("logoFA.png") %>
			</div>
		<div class="subt">
			aliados
		</div>
			<div class="aliados">
			<%= image_tag("LogosSIB.png") %>
			</div>
			<div class="aliados">
			<%= image_tag("logoscm.png") %>
			</div>
			<div class="aliados">
			<%= image_tag("logocalidris.png") %>
			</div>
			<div class="aliados">
			<%= image_tag("LogosAPC.png") %>
			</div>
			<div class="aliados">
			<%= image_tag("logoach.png") %>
			</div>
		<div class="subt mb30">
			términos y condiciones
		</div>
			<p>BioModelos es una herramienta digital que permite la <b>comunicación entre expertos</b> en biodiversidad para el desarrollo de modelos de distribución de las especies existentes en Colombia de forma colaborativa y abierta.</br></br>
			Esta iniciativa surge con el fin de acercar a investigadores, instituciones gubernamentales, ONGs y ciudadanos, a una <b>información precisa y validada</b> por expertos sobre la distribución de especies en Colombia, que sirva como referencia para estudios y la toma de decisiones sobre biodiversidad.</p>
	</div>
</div>

<script>
$(document).ready(function(){
	$('#centerbox').niceScroll({
		cursorcolor: "#5d5e5e",
		cursorwidth: "7px",
		cursorborder: "none"
	});
});
</script>