<div class="innercontainer fondoplumas">
	<div class="cajainners">
            <div class="hcbase">
                  <h1>Contacto</h1>
                  <%= link_to '', root_path, class: 'closecb' %>
                  <div id="mailform" class="forms">       
                        <%= simple_form_for :message do |f| %>
                              <%= f.error_notification %>
                              <%= f.input :name, :maxlength => 50, :placeholder => "Nombre o Institución", :name => "nombre", label: false%>
                              <%= f.input :subject, :maxlength => 50, :placeholder => "Asunto", :name => "asunto", label: false %>
                              <%= f.input :email, :maxlength => 50, :placeholder => "E-mail", :name => "email", label: false %>
                              <%= f.input :content, :as => :text, :input_html => {:maxlength => 1200, :cols => "20", :rows => "12"}, :name => "cuerpo", label: false %>
                              <%= f.button :submit, :value => "ENVIAR", :class => 'boton1'%>
                        <% end %>
                        <p><strong>Dirección:</strong> calle 28A no. 15-09 Bogotá D.C., Colombia.</br>
                        <strong>Teléfono:</strong> pbx 57(1) 320 2767 ext. 1161</br>
                        <a href="mailto:biomodelos@humboldt.org.co">biomodelos@humboldt.org.co</a></p>
                  </div>
            </div>
	</div>
</div>

<!-- , :url => {:controller => "home", :action => "send_message" }, :html => {:class => 'forma' }, :remote => true  -->