<div class="innercontainer fondoplumas nbg2" ng-controller="perfilCtrl">
      <div class="cajainners">
            <div class="hcbase publish">
                  <%= simple_form_for @publication, :url => {:controller => "home", :action => "upload_model" } do |f| %>
                  <%= f.error :error, :class => "publierror" %>
            	<h1><%= t('biomodelos.publish.title') %></h1>
                  <%= link_to '', root_path, class: 'closecb' %>
                  <h3><%= t('biomodelos.publish.text_1') %></h3>

                  <p><b>1.</b> <%= t('biomodelos.publish.step_1_html') %></p>
                  <p><b>2.</b> <%= t('biomodelos.publish.step_2_1') %> <a ng-click="licencia=!licencia; activeButton()" ng-class="{'anglnkact': isActive}"><%= t('biomodelos.publish.step_2_2') %></a> <%= t('biomodelos.publish.step_2_3') %></p>
                        <div ng-show="licencia" class="pubcontent clearfix">
                              <h4><%= t('biomodelos.publish.cc_title') %></h4>
                        <div class="cclicenses">
                              <%= image_tag("bylarge.png", :title => t('biomodelos.publish.cc_attribution')) %>
                              <p><b><%= t('biomodelos.publish.cc_attribution') %></b></br><%= t('biomodelos.publish.cc_attribution_txt') %></p></br>
                              <%= image_tag("salarge.png", :title => t('biomodelos.publish.cc_sharealike')) %>
                              <p><b><%= t('biomodelos.publish.cc_sharealike') %></b></br><%= t('biomodelos.publish.cc_sharealike_txt') %></p></br>
                              <%= image_tag("nclarge.png", :title => t('biomodelos.publish.cc_noncommercial')) %>
                              <p><b><%= t('biomodelos.publish.cc_noncommercial') %></b></br><%= t('biomodelos.publish.cc_noncommercial_txt') %></p></br>
                              <%= image_tag("zerolarge.png", :title => t('biomodelos.publish.cc_public_domain')) %>
                              <p><b><%= t('biomodelos.publish.cc_public_domain') %></b></br><%= t('biomodelos.publish.cc_public_domain_txt_html') %></p>
                        </div>
                        <h6><%= t('biomodelos.publish.select_license') %></h6>
                            <div id="cc_licenses">
                                    <%= f.input :cc_license, :as => :hidden, error_html: {:class => 'publierror'} %>
                              <div id="class_checker">
                                    <label>
                                    <%= check_box_tag :cclicense, "by"  %>
                                    <%= image_tag("by.png", :title => t('biomodelos.publish.cc_attribution')) %>
                                    </label>
                                    <label>
                                    <%= check_box_tag :cclicense,"by-sa"  %>
                                    <%= image_tag("by-sa.png", :title => 'Reconocimiento - Compartir Igual') %>
                                    </label>
                                    <label>
                                    <%= check_box_tag :cclicense, "by-nc"  %>
                                    <%= image_tag("by-nc.png", :title => 'Reconocimiento - No Comercial') %>
                                    </label>
                                    <label>
                                    <%= check_box_tag :cclicense, "by-nc-sa"  %>
                                    <%= image_tag("by-nc-sa.png", :title => 'Reconocimiento - No Comercial - Compartir Igual') %>
                                    </label>
                                    <label>
                                    <%= check_box_tag :cclicense, "cc-zero"  %>
                                    <%= image_tag("cc-zero.png", :title => 'Dominio Público') %>
                                    </label>
                              </div>
                          </div>
                        </div>
                  <p><b>3.</b> <%= t('biomodelos.publish.step_3_1') %> <a ng-click="visual=!visual; activeButton()" ng-class="{'anglnkact': isActive}"><%= t('biomodelos.publish.step_3_2') %></a> <%= t('biomodelos.publish.step_3_3') %></p>
                        <div ng-show="visual" class="pubcontent clearfix">
                        <h4><%= t('biomodelos.publish.records_vis_permission') %></h4>
                        <p><%= t('biomodelos.publish.choose_option') %></p>
                        <%= f.collection_radio_buttons :records_vis, [['allusers', t('biomodelos.publish.all_users_opt')] ,['regusers', t('biomodelos.publish.experts_opt')]], :first, :last, { item_wrapper_tag: false, :checked => 'allusers', label: false } %>
                        
                        <div class="mt10"></div>
                        <p><%= t('biomodelos.publish.sib_col_data') %></p>
                        <%= f.collection_radio_buttons :sib_contact, [['SI', 'Si'] ,['NO', 'No'],['NA', 'No aplica']], :first, :last, { item_wrapper_tag: false, :checked => 'SI', label: false } %>
                        </div>
                  <p><b>4.</b> <%= t('biomodelos.publish.step_4_html') %></p>
                  <p><b>5.</b> <%= t('biomodelos.publish.step_5') %></p>
                  <div class="inputBtnSection">
                  <input id="uploadFile" class="disableInputField" placeholder="<%= t('biomodelos.publish.select_file_ph') %>" />
                        <label class="fileUpload">
                        <%= f.input :files, :as => :file, :required => true, label: false, error_html: {:class => 'publierror'}, :input_html => { :id => "uploadBtn", :class => "upload"} %>
                        <span class="uploadBtn"><%= t('biomodelos.publish.browse_btn') %></span>
                        </label>
                  </div>
                  <h5 class="mininota">* <%= t('biomodelos.publish.file_notice') %></h5>
                  <p><b>6.</b> <%= t('biomodelos.publish.step_6_1') %> <a ng-click="terminos=!terminos; activeButton()" ng-class="{'anglnkact': isActive}"><%= t('biomodelos.publish.step_6_2') %></a> <%= t('biomodelos.publish.step_6_3') %></p>
                  <div ng-show="terminos" class="pubcontent clearfix">
                        <h4><%= t('biomodelos.publish.terms_and_conditions_title') %></h4>
                        <%= t('biomodelos.publish.terms_and_conditions_html') %>
                  </div>
                  <div class="pubcontent">
                        <%= f.input :terminos, label: false, :as => :boolean, :required => true, error_html: {:class => 'publierror'} %><%= t('biomodelos.publish.have_read_terms') %>
                        <div class="clearfix"></div>
                        <%= f.input :atlas_agreement, label: false, :as => :boolean %><%= t('biomodelos.publish.atlas_notice_html') %>
                  </div>
                  <p><%= t('biomodelos.publish.contact_us') %> <a mailto="biomodelos@humboldt.org.co">biomodelos@humboldt.org.co</a></p>
                  <%= f.submit t('biomodelos.publish.upload_btn'), class: "upzip uzcolor"%>
                  <% end %>
            </div>
	</div>
</div>

<script>
      $( document ).ready(function() {
            $("#cclicense").click();

            document.getElementById("uploadBtn").onchange = function () {
                document.getElementById("uploadFile").value = this.value;
            };

            $('.cajainners').niceScroll({
                  cursorcolor: "#5d5e5e",
                  cursorwidth: "7px",
                  cursorborder: "none"
            });
      });
</script>