<div class="innercontainer" ng-controller="homeCtrl as hc">
	<div class="homeline" ng-style="{'background-image': hc.slide}">
		<div class="container homec">
			<div class="hlink">
				<%= link_to 'Versión 1', 'http://biomodelosv1.humboldt.org.co', target: "_blank" %>
				<%= link_to 'Busqueda avanzada', species_visor_path(:search => "1") %>
			</div>
			<%= form_tag({}, {:id => 'search_form_home'})  do %>
				<%= text_field_tag :query, '', :id => 'search_form', :placeholder => 'Consulta una especie por su nombre científico', :include_blank => false, :rel => 'autocomplete' %>
				<%= hidden_field_tag 'species_id_home' %>
				<%= submit_tag '', :name => nil, :class => 'searchbtnhome', :id => 'searchBtnHome', :title => 'Ir a especie', :rel => "tooltip" %>
			<% end %>
			
			<div class="hlbtn">
				<a ng-click="consulta=!consulta">MODELOS</a>
				<a ng-click="contribuye=!contribuye">CONTRIBUYE</a>
				<a ng-click="publica=!publica">PUBLICA</a>
			</div>
		</div>
	</div>
	<h1>MEJORES MODELOS CON EL APOYO DE EXPERTOS</h1>
	<div class="allgraphs">
		<div class="graphcont">
			<h3>MAMÍFEROS</h3>
			<h4 id="mam_lbl"></h4>
			<div class="graph" id="donutmam" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_mam.png") %>
		</div>
		<div class="graphcont">
			<h3>AVES</h3>
			<h4 id="av_lbl"></h4>
			<div class="graph" id="donutave" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_ave.png") %>
		</div>
		<div class="graphcont">
			<h3>REPTILES</h3>
			<h4 id="rep_lbl"></h4>
			<div class="graph" id="donutrep" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_rep.png") %>
		</div>
		<div class="graphcont">
			<h3>ANFIBIOS</h3>
			<h4 id="anf_lbl"></h4>
			<div class="graph" id="donutanf" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_anf.png") %>
		</div>
		<div class="graphcont">
			<h3>PECES</h3>
			<h4 id="pec_lbl"></h4>
			<div class="graph" id="donutpec" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_pec.png") %>
		</div>
		<div class="graphcont">
			<h3>INVERTEBRADOS</h3>
			<h4 id="inv_lbl"></h4>
			<div class="graph" id="donutinv" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_inv.png") %>
		</div>
		<div class="graphcont">
			<h3>PLANTAS</h3>
			<h4 id="pla_lbl"></h4>
			<div class="graph" id="donutpla" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_pla.png") %>
		</div>
	</div>
<!-- 	<div class="barhome" id="gruposbar" style="width: 800px; height: 30px;"></div> -->
	<div ng-show="consulta">
		<div class="cajabase">
			<div class="hcbase">
				<h1>consulta</h1>
				<a ng-click="consulta=!consulta" class="closecb">x</a>
			</div>
			<p>Ingresa directamente al buscador de BioModelos el nombre científico de la especie de tu interés para consultar su mapa de distribución en el visor. Allí podrás consultar las hipótesis de distribución disponibles para la especie y que calificación les han dado otros usuarios, así como algunas estadísticas sobre el rango de la especie.</p></br>
			<%= link_to 'IR', species_visor_path(:search => "1"),  class: 'botoncb' %>
			<p>Si deseas descargar el mapa deberás dirigirte a la sección de registro, llena el formulario e ingresa a la plataforma con tu usuario y contraseña. Para hacer aportes al conocimiento de la distribución de alguna especie, revisa la sección “contribuye”.</p>
			
		</div>
	</div>

	<div ng-show="contribuye">
		<div class="cajabase">
			<div class="hcbase">
				<h1>contribuye</h1>
				<a ng-click="contribuye=!contribuye" class="closecb">x</a>
			</div>
			<p>Para contribuir en BioModelos debes ser un usuario registrado y pertenecer a uno de los grupos de la plataforma.</p></br>
			<%= link_to 'REGISTRO', new_user_registration_path, class: 'botoncb' %>
			<h3>TIPOS DE APORTES</h3>
			<p>Puedes aportar a mejorar el conocimiento sobre la distribución geográfica de las especies a través de las siguientes actividades:</br>
			- Curación de registros biológicos.</br>
			- Edición de los modelos estadísticos desarrollados por el Laboratorio de Biogeografía Aplicada.</br>
			- Documentando las coberturas terrestres idóneas para las especie.</br>
			- Desarrollando mapas de experto , especialmente para especies que cuentan con muy pocos o ningún registro biológico.</br>
			- Participando en el foro de las especies para compartir opiniones con otros expertos.</br>
			- Calificando las hipótesis de distribución geográfica disponibles para las especies.</br></br>
			</p>
			<% if user_signed_in? %>
			    <%= link_to 'PERFIL', user_path(:id => current_user.id), class: 'botoncb' %>
			    <%= hidden_field_tag 'user_name', current_user.name %>
			<% else %>
			    <%= link_to 'INGRESAR', new_user_session_path, class: 'botoncb' %>
			<% end %>
		</div>
	</div>

	<div ng-show="publica">
		<div class="cajabase">
			<div class="hcbase">
				<h1>publica</h1>
				<a ng-click="publica=!publica" class="closecb">x</a>
			</div>
			<p>Si has desarrollado modelos de distribución para una o más especies, los puedes publicar a través de BioModelos. Así podrás visibilizar tu trabajo y facilitar su uso por otros investigadores, así como recibir la retroalimentación de expertos sobre el desempeño de tus modelos. <a href="http://biomodelos.humboldt.org.co/publicacion.pdf" target="_blank">Entérate más.</a></br></br>
			Sólo debes ser un usuario registrado en BioModelos, ingresar al link “Publica” y seguir las instrucciones.</p>
			<%= link_to 'PUBLICA', home_publish_path, class: 'botoncb' %>
		</div>
	</div>
</div>

<script>
$('.cajabase').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});
</script>
