<div class="innercontainer" ng-controller="homeCtrl as hc">
	<div class="homeline" ng-style="{'background-image': hc.slide}">
		<div class="container homec">
			<div class="hlink">
				<%= link_to 'Especie aleatoria', root_path %>
				<%= link_to 'Busqueda avanzada', species_visor_path(:search => "1") %>
			</div>
			<%= form_tag({}, {:id => 'search_form_home'})  do %>
				<%= text_field_tag :query, '', :id => 'search_form', :placeholder => 'Consulta una especie por su nombre científico', :include_blank => false, :rel => 'autocomplete' %>
				<%= hidden_field_tag 'species_id_home' %>
				<%= submit_tag '', :name => nil, :class => 'searchbtnhome', :id => 'searchBtnHome' %>
			<% end %>
			
			<div class="hlbtn">
				<a ng-click="consulta=!consulta">CONSULTA</a>
				<a ng-click="contribuye=!contribuye">CONTRIBUYE</a>
				<a ng-click="publica=!publica">PUBLICA</a>
			</div>
		</div>
	</div>
	<h1>MEJORES MODELOS CON EL APOYO DE EXPERTOS</h1>
	<div class="allgraphs">
		<div class="graphcont">
			<h3>MAMÍFEROS</h3>
			<h4>4800</h4>
			<div class="graph" id="donutmam" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_mam.png") %>
		</div>
		<div class="graphcont">
			<h3>AVES</h3>
			<h4>4800</h4>
			<div class="graph" id="donutave" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_ave.png") %>
		</div>
		<div class="graphcont">
			<h3>REPTILES</h3>
			<h4>4800</h4>
			<div class="graph" id="donutrep" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_rep.png") %>
		</div>
		<div class="graphcont">
			<h3>ANFIBIOS</h3>
			<h4>4800</h4>
			<div class="graph" id="donutanf" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_anf.png") %>
		</div>
		<div class="graphcont">
			<h3>PECES</h3>
			<h4>4800</h4>
			<div class="graph" id="donutpec" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_pec.png") %>
		</div>
		<div class="graphcont">
			<h3>INVERTEBRADOS</h3>
			<h4>4800</h4>
			<div class="graph" id="donutinv" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_inv.png") %>
		</div>
		<div class="graphcont">
			<h3>PLANTAS</h3>
			<h4>4800</h4>
			<div class="graph" id="donutpla" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_pla.png") %>
		</div>
	</div>
<!-- 	<div class="barhome" id="gruposbar" style="width: 800px; height: 30px;"></div> -->
	<div ng-show="consulta">
		<div class="cajabase">
			<div class="hcbase">
				<h1>consulta</h1>
				<a ng-click="consulta=!consulta" class="closecb">x</a>
			</div>
			<p>Ingresa directamente al buscador de BioModelos sin necesidad de registrarte en la plataforma para consultar el modelo de distribución disponible para tu especie de interés. Solamente ingresa el nombre científico de la especie para desplegar el mapa en el visor. Allí podrás consultar si existen más hipótesis de distribución disponibles para la especie y que calificación les han dado otros usuarios, así como algunas estadísticas e información básica de la especie.</p></br>
			<%= link_to 'IR', species_visor_path(:search => "1"),  class: 'botoncb' %>
			<p>Si deseas descargar el mapa o hacer aportes al conocimiento de la distribución de alguna especie, debes dirigirte a la sección de registro, llenar el formulario e ingresar a la plataforma con tu usuario y contraseña.</p>
			
		</div>
	</div>

	<div ng-show="contribuye">
		<div class="cajabase">
			<div class="hcbase">
				<h1>contribuye</h1>
				<a ng-click="contribuye=!contribuye" class="closecb">x</a>
			</div>
			<p>Para contribuir en BioModelos debes ser un usuario registrado y pertenecer a uno de los grupos de la plataforma.</p></br>
			<%= link_to 'REGISTRO', new_user_registration_path, class: 'botoncb' %>
			<h3>TIPOS DE APORTES</h3>
			<p>Tus aportes para mejorar el conocimiento sobre la distribución geográfica de una especie pueden estar asociadas a las siguientes actividades:</br>
			- Curaduría de registros biológicos de la especie.</br>
			- Edición de los modelos estadísticos desarrollados por el Laboratorio de Biogeografía Aplicada, aporte de información sobre variables eclógicas de la especie o generación de mapas de experto para aquellas especies que cuenten con muy pocos o ningún registro biológico.</br>
			- Participación en el foro de la especie para compartir opiniones con otros expertos y calificar la mejor hipótesis de distribución geográfica para la especie.</br></br>
			Los aportes que realices a una especie se verán reflejadas en tu perfil y serán reconocidas con tu nombre en la citación del mapa.</p>
			<% if user_signed_in? %>
			    <%= link_to 'PERFIL', user_path(:id => current_user.id), class: 'botoncb' %>
			    <%= hidden_field_tag 'user_name', current_user.name %>
			<% else %>
			    <%= link_to 'INGRESAR', new_user_session_path, class: 'botoncb' %>
			<% end %>
		</div>
	</div>

	<div ng-show="publica">
		<div class="cajabase">
			<div class="hcbase">
				<h1>publica</h1>
				<a ng-click="publica=!publica" class="closecb">x</a>
			</div>
			<p>Si has desarrollado modelos de distribución para una o un conjunto de especies, los puedes publicar a través de BioModelos. Al hacerlo, la plataforma te permitirá hacer una mayor difusión de tu trabajo, recibir aportes por parte de otros expertos y compartirlo con un amplio público, dentro del cual se incluyen tomadores de decisiones.</br></br>
			Sólo debes ser un usuario registrado en BioModelos, ingresar al link “Publica” y seguir las instrucciones.</p>
			<%= link_to 'PUBLICA', home_publish_path, class: 'botoncb' %>
		</div>
	</div>
</div>

<script>
$('.cajabase').niceScroll({
	cursorcolor: "#5d5e5e",
	cursorwidth: "7px",
	cursorborder: "none"
});
</script>
