<div class="fullcontainer">
	<div class="homeline">
		<div class="container homec">
			<div class="hlink">
				<%= link_to 'Especie aleatoria', root_path %>
				<%= link_to 'Busqueda avanzada', root_path %>
			</div>
			<%= form_tag('', {:id => 'sp_search_form'})  do %>
				<%= text_field_tag :query, '', :id => 'search_form', :placeholder => 'Consulta una especie por su nombre científico', :include_blank => false %>
				<%= submit_tag '', :name => nil, :class => 'searchbtnhome', :id => 'species_src_btn' %>
			<% end %>
			<div class="hlbtn">
				<%= link_to 'CONSULTA', root_path %>
				<%= link_to 'CONTRIBUYE', root_path %>
				<%= link_to 'PUBLICA', root_path %>
			</div>
		</div>
	</div>
	<h1>
	MEJORES MODELOS CON EL APOYO DE EXPERTOS
	</h1>
</div>
