<div class="fullcontainer">
	<div class="homeline">
		<div class="container homec">
			<div class="hlink">
				<%= link_to 'Especie aleatoria', root_path %>
				<%= link_to 'Busqueda avanzada', root_path %>
			</div>
			<%= form_tag('', {:id => 'sp_search_form'})  do %>
				<%= text_field_tag :query, '', :id => 'search_form', :placeholder => 'Consulta una especie por su nombre científico', :include_blank => false %>
				<%= submit_tag '', :name => nil, :class => 'searchbtnhome', :id => 'species_src_btn' %>
			<% end %>
			<div class="hlbtn">
				<%= link_to 'CONSULTA', root_path %>
				<%= link_to 'CONTRIBUYE', root_path %>
				<%= link_to 'PUBLICA', root_path %>
			</div>
		</div>
	</div>
	<h1>MEJORES MODELOS CON EL APOYO DE EXPERTOS</h1>
	<div class="allgraphs">
		<div class="graphcont">
			<h3>MAMÍFEROS</h3>
			<h4>4800</h4>
			<div class="graph" id="donutmam" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_mam.png") %>
		</div>
		<div class="graphcont">
			<h3>AVES</h3>
			<h4>4800</h4>
			<div class="graph" id="donutave" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_ave.png") %>
		</div>
		<div class="graphcont">
			<h3>REPTILES</h3>
			<h4>4800</h4>
			<div class="graph" id="donutrep" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_rep.png") %>
		</div>
		<div class="graphcont">
			<h3>ANFIBIOS</h3>
			<h4>4800</h4>
			<div class="graph" id="donutanf" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_anf.png") %>
		</div>
		<div class="graphcont">
			<h3>PECES</h3>
			<h4>4800</h4>
			<div class="graph" id="donutpec" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_pec.png") %>
		</div>
		<div class="graphcont">
			<h3>INVERTEBRADOS</h3>
			<h4>4800</h4>
			<div class="graph" id="donutinv" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_inv.png") %>
		</div>
		<div class="graphcont">
			<h3>PLANTAS</h3>
			<h4>4800</h4>
			<div class="graph" id="donutpla" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_pla.png") %>
		</div>
	</div>
	<div class="barhome" id="gruposbar" style="width: 800px; height: 30px;"></div>

<!-- 	<div class="cajabase">
		<div class="hcbase">
			<h1>consulta</h1>
			<a href="" class="closecb">x</a>
		</div>
		<p>Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula, a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna. In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>
		<h3>KDSFK SDFKSHDFLKL ASDF</h3>
		<p>Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula, a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna. In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem.</p>
		<%= link_to 'ir', root_path, class: 'botoncb' %>
	</div> -->
</div>
<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChart2);
      google.charts.setOnLoadCallback(drawChart3);
      google.charts.setOnLoadCallback(drawChart4);
      google.charts.setOnLoadCallback(drawChart5);
      google.charts.setOnLoadCallback(drawChart6);
      google.charts.setOnLoadCallback(drawChart7);
      google.charts.setOnLoadCallback(drawChart8);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Estado del modelo', 'Número de spp.'],
          ['Sin Modelo', 400],
          ['Modelo en desarrollo', 30],
          ['Modelo validado', 100],
        ]);

        var options = {
          titlePosition: 'none',
          pieHole: 0.7,
          backgroundColor: 'transparent',
          legend: {position: 'none'},
          chartArea:{left:12,top:12,width:'120',height:'120'},
          pieSliceBorderColor: 'none',
          pieStartAngle: '65',
          slices: {0: {color: '#25b19e'}, 1: {color: '#e3af24'}, 2: {color: '#db3f2a'}},
          sliceVisibilityThreshold: '0',
          fontSize: '12',
          pieSliceText: 'none',
          tooltip: {isHtml: true, textStyle: {color: '#fff'}},
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutmam'));
        chart.draw(data, options);
      }
      function drawChart2() {
        var data = google.visualization.arrayToDataTable([
          ['Estado del modelo', 'Número de spp.'],
          ['Sin Modelo', 1923],
          ['Modelo en desarrollo', 500],
          ['Modelo validado', 100],
        ]);

        var options = {
          titlePosition: 'none',
          pieHole: 0.7,
          backgroundColor: 'transparent',
          legend: {position: 'none'},
          chartArea:{left:12,top:12,width:'120',height:'120'},
          pieSliceBorderColor: 'none',
          pieStartAngle: '65',
          slices: {0: {color: '#25b19e'}, 1: {color: '#e3af24'}, 2: {color: '#db3f2a'}},
          sliceVisibilityThreshold: '0',
          fontSize: '12',
          pieSliceText: 'none',
          tooltip: {isHtml: true, textStyle: {color: '#fff'}},
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutave'));
        chart.draw(data, options);
      }
      function drawChart3() {
        var data = google.visualization.arrayToDataTable([
          ['Estado del modelo', 'Número de spp.'],
          ['Sin Modelo', 400],
          ['Modelo en desarrollo', 30],
          ['Modelo validado', 5],
        ]);

        var options = {
          titlePosition: 'none',
          pieHole: 0.7,
          backgroundColor: 'transparent',
          legend: {position: 'none'},
          chartArea:{left:12,top:12,width:'120',height:'120'},
          pieSliceBorderColor: 'none',
          pieStartAngle: '65',
          slices: {0: {color: '#25b19e'}, 1: {color: '#e3af24'}, 2: {color: '#db3f2a'}},
          sliceVisibilityThreshold: '0',
          fontSize: '12',
          pieSliceText: 'none',
          tooltip: {isHtml: true, textStyle: {color: '#fff'}},
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutrep'));
        chart.draw(data, options);
      }
      function drawChart4() {
        var data = google.visualization.arrayToDataTable([
          ['Estado del modelo', 'Número de spp.'],
          ['Sin Modelo', 400],
          ['Modelo en desarrollo', 30],
          ['Modelo validado', 5],
        ]);

        var options = {
          titlePosition: 'none',
          pieHole: 0.7,
          backgroundColor: 'transparent',
          legend: {position: 'none'},
          chartArea:{left:12,top:12,width:'120',height:'120'},
          pieSliceBorderColor: 'none',
          pieStartAngle: '65',
          slices: {0: {color: '#25b19e'}, 1: {color: '#e3af24'}, 2: {color: '#db3f2a'}},
          sliceVisibilityThreshold: '0',
          fontSize: '12',
          pieSliceText: 'none',
          tooltip: {isHtml: true, textStyle: {color: '#fff'}},
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutanf'));
        chart.draw(data, options);
      }
      function drawChart5() {
        var data = google.visualization.arrayToDataTable([
          ['Estado del modelo', 'Número de spp.'],
          ['Sin Modelo', 400],
          ['Modelo en desarrollo', 30],
          ['Modelo validado', 5],
        ]);

        var options = {
          titlePosition: 'none',
          pieHole: 0.7,
          backgroundColor: 'transparent',
          legend: {position: 'none'},
          chartArea:{left:12,top:12,width:'120',height:'120'},
          pieSliceBorderColor: 'none',
          pieStartAngle: '65',
          slices: {0: {color: '#25b19e'}, 1: {color: '#e3af24'}, 2: {color: '#db3f2a'}},
          sliceVisibilityThreshold: '0',
          fontSize: '12',
          pieSliceText: 'none',
          tooltip: {isHtml: true, textStyle: {color: '#fff'}},
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutpec'));
        chart.draw(data, options);
      }
      function drawChart6() {
        var data = google.visualization.arrayToDataTable([
          ['Estado del modelo', 'Número de spp.'],
          ['Sin Modelo', 400],
          ['Modelo en desarrollo', 30],
          ['Modelo validado', 5],
        ]);

        var options = {
          titlePosition: 'none',
          pieHole: 0.7,
          backgroundColor: 'transparent',
          legend: {position: 'none'},
          chartArea:{left:12,top:12,width:'120',height:'120'},
          pieSliceBorderColor: 'none',
          pieStartAngle: '65',
          slices: {0: {color: '#25b19e'}, 1: {color: '#e3af24'}, 2: {color: '#db3f2a'}},
          sliceVisibilityThreshold: '0',
          fontSize: '12',
          pieSliceText: 'none',
          tooltip: {isHtml: true, textStyle: {color: '#fff'}},
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutinv'));
        chart.draw(data, options);
      }
      function drawChart7() {
        var data = google.visualization.arrayToDataTable([
          ['Estado del modelo', 'Número de spp.'],
          ['Sin Modelo', 400],
          ['Modelo en desarrollo', 30],
          ['Modelo validado', 5],
        ]);

        var options = {
          titlePosition: 'none',
          pieHole: 0.7,
          backgroundColor: 'transparent',
          legend: {position: 'none'},
          chartArea:{left:12,top:12,width:'120',height:'120'},
          pieSliceBorderColor: 'none',
          pieStartAngle: '65',
          slices: {0: {color: '#25b19e'}, 1: {color: '#e3af24'}, 2: {color: '#db3f2a'}},
          sliceVisibilityThreshold: '0',
          fontSize: '12',
          pieSliceText: 'none',
          tooltip: {isHtml: true, textStyle: {color: '#fff'}},
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutpla'));
        chart.draw(data, options);
      }
	    function drawChart8() {
	      var data = google.visualization.arrayToDataTable([
	        ['Grupo', 'PLANTAS', 'AVES', 'ANFIBIOS', 'MAMÍFEROS',
	         'INVERTEBRADOS', 'PECES', 'REPTILES' ],
	        ['', 1571, 1613, 116, 172, 106, 106, 102],
	          ]);

	      var options = {
	      	backgroundColor: 'transparent',
	        legend: { position: 'none' },
	        isStacked: 'percent',
	        tooltip : { trigger: 'none' },
	        chartArea : {width: '100%', height: '100%'},
	        hAxis: { minValue: 0, ticks: [0, .5, 1], textPosition: 'none', gridlines: { color: 'transparent' }, baseline: { color: 'transparent' }},
	        bar: {groupWidth: '95%'},
	        colors: ['#0e5c5b', '#1b3337', '#0e5c5b', '#1b3337', '#0e5c5b', '#1b3337', '#0e5c5b'],
	      };

	      var chart = new google.visualization.BarChart(document.getElementById("gruposbar"));
	      chart.draw(data, options);
	  	}
    </script>
