<div class="innercontainer" ng-controller="homeCtrl as hc">
	<div class="homeline" ng-style="{'background-image': hc.slide}">
		<div class="container homec">
			<%= form_tag({}, {:id => 'search_form_home'})  do %>
				<%= text_field_tag :query, '', :id => 'search_form', :placeholder => t('biomodelos.home.search_ph'), :include_blank => false, :rel => 'autocomplete' %>
				<%= hidden_field_tag 'species_id_home' %>
				<%= submit_tag '', :name => nil, :class => 'searchbtnhome', :id => 'searchBtnHome', :title => t('biomodelos.home.go_to_species_tt'), :rel => "tooltip" %>
			<% end %>

			<div class="hlbtn">
				<a ng-click="consulta=!consulta"><%= t('biomodelos.home.models_btn') %></a>
				<a ng-click="contribuye=!contribuye"><%= t('biomodelos.home.contribute_btn') %></a>
				<a ng-click="publica=!publica"><%= t('biomodelos.home.publish_btn') %></a>
				<%= link_to t('biomodelos.home.advanced_search'), species_visor_path(:search => "1") %>
			</div>
		</div>
	</div>
	<h1><%= t('biomodelos.home.slogan') %></h1>
	<div class="allgraphs">
		<div class="graphcont">
			<h3><%= t('biomodelos.home.mammals') %></h3>
			<h4 id="mam_lbl"></h4>
			<div class="graph" id="donutmam" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_mam.png") %>
		</div>
		<div class="graphcont">
			<h3><%= t('biomodelos.home.birds') %></h3>
			<h4 id="av_lbl"></h4>
			<div class="graph" id="donutave" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_ave.png") %>
		</div>
		<div class="graphcont">
			<h3><%= t('biomodelos.home.reptiles') %></h3>
			<h4 id="rep_lbl"></h4>
			<div class="graph" id="donutrep" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_rep.png") %>
		</div>
		<div class="graphcont">
			<h3><%= t('biomodelos.home.amphibians') %></h3>
			<h4 id="anf_lbl"></h4>
			<div class="graph" id="donutanf" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_anf.png") %>
		</div>
		<div class="graphcont">
			<h3><%= t('biomodelos.home.fish') %></h3>
			<h4 id="pec_lbl"></h4>
			<div class="graph" id="donutpec" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_pec.png") %>
		</div>
		<div class="graphcont">
			<h3><%= t('biomodelos.home.invertebrates') %></h3>
			<h4 id="inv_lbl"></h4>
			<div class="graph" id="donutinv" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_inv.png") %>
		</div>
		<div class="graphcont">
			<h3><%= t('biomodelos.home.plants') %></h3>
			<h4 id="pla_lbl"></h4>
			<div class="graph" id="donutpla" style="width: 140px; height: 180px;"></div>
			<%= image_tag("home_pla.png") %>
		</div>
	<h3> <%= t(".models_status_text")%> </h3>
	</div>
	<!-- 	<div class="barhome" id="gruposbar" style="width: 800px; height: 30px;"></div> -->
	<div ng-show="consulta">
		<div class="cajabase">
			<div class="hcbase">
				<h1><%= t('biomodelos.home.consult.title') %></h1>
				<a ng-click="consulta=!consulta" class="closecb">x</a>
			</div>
			<p><%= t('biomodelos.home.consult.text_1') %></p></br>
			<%= link_to t('biomodelos.home.consult.go_btn'), species_visor_path(:search => "1"),  class: 'botoncb' %>
			<p><%= t('biomodelos.home.consult.text_2') %></p>
		</div>
	</div>

	<div ng-show="contribuye">
		<div class="cajabase">
			<div class="hcbase">
				<h1><%= t('biomodelos.home.contribute.title') %></h1>
				<a ng-click="contribuye=!contribuye" class="closecb">x</a>
			</div>
			<p><%= t('biomodelos.home.contribute.text_1') %></p></br>
			<%= link_to t('biomodelos.home.contribute.sign_up_btn'), new_user_registration_path, class: 'botoncb' %>
			<h3><%= t('biomodelos.home.contribute.contribution_types') %></h3>
			<p><%= t('biomodelos.home.contribute.text_2') %></br>
			<%= t('biomodelos.home.contribute.activities_list_html') %></br>
			</p>
			<% if user_signed_in? %>
			    <%= link_to t('biomodelos.home.contribute.profile_btn'), user_path(:id => current_user.id), class: 'botoncb' %>
			    <%= hidden_field_tag 'user_name', current_user.name %>
			<% else %>
			    <%= link_to t('biomodelos.log_in.log_in_btn'), new_user_session_path, class: 'botoncb' %>
			<% end %>
		</div>
	</div>

	<div ng-show="publica">
		<div class="cajabase">
			<div class="hcbase">
				<h1><%= t('biomodelos.home.publish.title') %></h1>
				<a ng-click="publica=!publica" class="closecb">x</a>
			</div>
			<p><%= t('biomodelos.home.publish.text_1') %> <a href="/publicacion.pdf" target="_blank"><%= t('biomodelos.home.publish.more_lnk') %></a></br></br>
			<%= t('biomodelos.home.publish.text_2') %></p>
			<%= link_to t('biomodelos.home.publish.publish_btn'), home_publish_path, class: 'botoncb' %>
		</div>
	</div>

	<div ng-hide="news" style="display:none">
		<div class="cajanews">
			<div class="hcbase2">
				<h1><%= t('biomodelos.home.news.title') %></h1>
				<a ng-click="news=!news" class="closecb">x</a>
			</div>
			<%= image_tag("home_news.png") %>
			<p><%= t('biomodelos.home.news.text_1') %></p></br>
			<p><%= t('biomodelos.home.news.text_2') %></br><a href="http://repository.humboldt.org.co/handle/20.500.11761/35544" target="_blank">http://repository.humboldt.org.co/handle/20.500.11761/35544</a></p>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	HomeControllerModule.typeahead_f();
	HomeControllerModule.google_charts_f();
});
</script>
