<div class="innercontainer aboutbg">
	<div class="centerbox" id="centerbox">
		<div id="scrolledContent" class="scrolledPadding">
			<div class="maintitle">
				BioModelos
			</div>
			<div class="slogan">
				<%= t('biomodelos.terms.title') %>
			</div>
			<a href="#general" class="btnterminos"><%= t('biomodelos.terms.general') %></a>
			<a href="#politica" class="btnterminos"><%= t('biomodelos.terms.sign_up') %></a>
			<a href="#publicacion" class="btnterminos"><%= t('biomodelos.terms.publish') %></a>
			<div class="subt" id="general">
				<%= t('biomodelos.terms.general') %>
			</div>
			<p class="smallp"><i><%= t('biomodelos.terms.general_text') %></i></p>
			<div class="thirdtitle"><b>1.</b> <%= t('biomodelos.terms.general') %></div>
			<p class="smallp"><%= t('biomodelos.terms.general_1_text') %></p>
			<div class="thirdtitle"><b>2.</b> <%= t('biomodelos.terms.general_2_title') %></div>
			<p class="smallp"><%= t('biomodelos.terms.general_2_text_html') %>
			</p>
			<div class="thirdtitle"><b>3.</b> <%= t('biomodelos.terms.general_3_title') %></div>
			<p class="smallp"><%= t('biomodelos.terms.general_3_text_html') %>
			</p>
			<div class="thirdtitle"><b>4.</b> <%= t('biomodelos.terms.general_4_title') %></div>
			<p class="smallp"><%= t('biomodelos.terms.general_4_text_html') %>
			</p>
			<div class="thirdtitle"><b>5.</b> <%= t('biomodelos.terms.general_5_title') %></div>
			<p class="smallp"><%= t('biomodelos.terms.general_5_text_html') %>
			</p>
			<div class="thirdtitle"><b>6.</b> <%= t('biomodelos.terms.general_6_title') %></div>
			<p class="smallp"><%= t('biomodelos.terms.general_6_text_html') %></p>
			<div class="thirdtitle"><b>7.</b> <%= t('biomodelos.terms.general_7_title') %></div>
			<p class="smallp"><%= t('biomodelos.terms.general_7_text_html') %>
			</p>
			<div class="thirdtitle"><b>8.</b> <%= t('biomodelos.terms.general_8_title') %></div>
			<p class="smallp"><%= t('biomodelos.terms.general_8_text_html') %></p>
			<div class="thirdtitle"><b>9.</b> <%= t('biomodelos.terms.general_9_title') %></div>
			<p class="smallp"><%= t('biomodelos.terms.general_9_text_html') %></br></br>
			<div class="specialp">Instituto de investigación de recursos biológicos Alexander von Humboldt – Gerencia de Información Científica</br>
			Avenida Paseo Bolívar 16 - 20</br>
			Bogotá, Colombia</br>
			Tel: +57 (1) 3202767</br>
			E-mail: biomodelos@humboldt.org.co</div>
			</p>

			<div class="subt" id="politica">
				<%= t('biomodelos.terms.sign_up') %>
			</div>
			<p class="smallp"></p>
			<div class="thirdtitle"><b>1.</b><%= t('biomodelos.terms.sign_up_1_title') %></b></div>
			<p class="smallp"><%= t('biomodelos.terms.sign_up_1_text_html') %>
			</p>
			<div class="thirdtitle" id="personales"><b>2.</b><%= t('biomodelos.terms.sign_up_2_title') %></div>
			<p class="smallp"><%= t('biomodelos.terms.sign_up_2_text_html') %></p>

			<div class="subt" id="publicacion">
				<%= t('biomodelos.terms.publish') %>
			</div>
			<div class="thirdtitle"><b>1.</b> <%= t('biomodelos.terms.publish_1_title') %></div>
			<p class="smallp specialp"><%= t('biomodelos.terms.publish_1_text_html') %></p>
			<div class="thirdtitle"><b>2.</b> <%= t('biomodelos.terms.publish_2_title') %></div>
			<p class="smallp specialp"><%= t('biomodelos.terms.publish_2_text_html') %></p>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$('#centerbox').niceScroll('#scrolledContent', {
		cursorcolor: "#5d5e5e",
		cursorwidth: "7px",
		cursorborder: "none"
	});
});
</script>
