  <div class="cajavisor2" >
  	<div class="dialog regdialog nobox">
      <h1>REGISTRO DE</br>
      <em><%= @record["species"] %></em></h1>
      <a class="closevb vatop" id="regboxclose">x</a>
      <blockquote>
        <p>
         <b>ID del registro:</b> 5824a335e21cc54c32cb91c1<br> <!-- _id -->
         <b>ID especie en BioModelos:</b> <%= @record["taxID"] %> <!-- taxID -->
        </p>
      </blockquote>
      <% if user_signed_in? %>
         <button id="editregbtn" class="botonpopup">editar</button>
         <a href="#" class="approved" title="Registro correcto" rel="tooltip"></a>
         <a href="#" class="unapproved" title="Reportar" rel="tooltip"></a>
            <form class="forms reportar invisible">
               <h3>Reportar Registro</h3>
               <input type="radio" name="badid" value="idIssue" checked="checked"><%= t('biomodelos.records.report.id_issue_lbl') %><br>
               <input type="radio" name="badid" value="geoIssue"><%= t('biomodelos.records.report.geo_issue_lbl') %><br>
               <input type="submit" value='<%= t('biomodelos.records.report.submit_btn') %>'>
               <input type="button" id='cancel-point-cmt' class="cancelbtn" value='<%= t('biomodelos.records.report.cancel_lnk') %>'>
            </form>
      <% end %>
      <div class="clearfix"></div>
      <h2>Taxonomía</h2>
      <p><b>Nombre aceptado:</b> <span class="contented" id="txtSpeciesEdit"><%= @record["acceptedNameUsage"] %></span></p> <!-- acceptedNameUsage -->
      <p><b>Nombre original:</b> <%= @record["speciesOriginal"] %></p> <!-- speciesOriginal -->
      <p><b>Familia:</b> xx</p> <!-- family -->
      <p><b>Orden:</b> xxx</p> <!-- order -->
      <p><b>Clase:</b> xxx</p> <!-- class -->
      <p><b>Reino:</b> xx</p> <!-- kingdom -->

      <h2>Ubicación</h2>
      <p><b>Latitud:</b> <span class="contented" id="txtLatEdit"><%= @record["decimalLatitude"] %></span></p> <!-- decimalLatitude -->
      <p><b>Longitud:</b> <span class="contented" id="txtLonEdit"><%= @record["decimalLongitude"] %></span></p> <!-- decimalLongitude -->
      <br>
      <div class="regcateg">
         <div><b>original</b> · <i>interpretado</i></div>
         <div>consistente</div>
      </div>
      <div class="colreg">
         <p><b>País:</b></p>
         <div class="camposreg">
            <div class="campouno"><%= @record["country"] %></div>
            <div class="campodos"><%= @record["suggestedCountry"] %></div>
            <% if @record["correctCountry"] %><div class="correctoreg"></div><% else %><div class="falsoreg"></div><% end %>
         </div><!-- country, suggestedCountry, correctCountry -->
         <p><b>Departamento:</b></p>
         <div class="camposreg">
            <div class="campouno"><span class="contented" id="txtAdm1Edit"><%= @record["stateProvince"].nil? ? '-': @record["stateProvince"] %></span></div>
            <div class="campodos"><%= @record["suggestedStateProvince"].nil? ? '-': @record["suggestedStateProvince"] %></div>
            <% if @record["correctStateProvince"] %><div class="correctoreg"></div><% else %><div class="falsoreg"></div><% end %>
         </div><!-- stateProvince, suggestedStateProvince, correctStateProvince -->
         <p><b>Municipio:</b></p>
         <div class="camposreg">
            <div class="campouno"><span class="contented" id="txtAdm2Edit"><%= @record["county"].nil? ? '-': @record["county"] %></span></div>
            <div class="campodos"><%= @record["suggestedCounty"].nil? ? '-': @record["suggestedCounty"] %></div> <!-- TODO: Validate if it is suggestedCounty -->
            <% if @record["correctCounty"] %><div class="correctoreg"></div><% else %><div class="falsoreg"></div><% end %>
         </div><!-- county, suggestedCounty, correctCounty -->
         <p><b>Localidad:</b></p>
         <div class="camposreg">
            <div class="campouno"><span class="contented" id="txtLocEdit"><%= @record["verbatimLocality"].nil? ? '-': @record["verbatimLocality"] %></span></div>
             <% if @record["hasLocality"] %><div class="correctoreg"></div><% else %><div class="falsoreg"></div><% end %>
         </div><!-- locality, hasLocality -->
         <p><b>Altitud:</b></p>
         <div class="camposreg">
            <div class="campouno"><span class="contented" id="txtAltEdit"><%= @record["alt"].nil? ? '-': @record["alt"] %></span></div>
            <div class="campodos"><%= @record["interpretedElevation"].nil? ? '-': @record["interpretedElevation"] %></div>
            <div class="correctoreg"></div>
         </div><!-- verbatimElevation, interpretedElevation, diferenceInAltitude (0 decimales)  -->
      </div>

      <div class="invisible" id="Reghidden">
         <h2>Información del registro</h2>
         <p><b>Fuente: </b> <%= @record["source"].nil? ? '-': @record["source"] %></p> <!-- source -->
         <p><b>ID registro original: </b> <%= @record["occurrenceID"].nil? ? '-': @record["occurrenceID"] %></p> <!-- occurrenceID -->
         <p><b>Fecha descarga fuente: </b> 17/05/2016</p> <!-- downloadDate -->
         <p><b>Institución: </b> <span class="contented"><%= @record["institutionCode"].nil? ? '-': @record["institutionCode"] %></span></p> <!-- institutionCode -->
         <p><b>Colección: </b> <span class="contented"><%= @record["collectionCode"].nil? ? '-': @record["collectionCode"] %></span></p> <!-- collectionCode -->
         <p><b>Número de catálogo: </b> <span class="contented"><%= @record["catalogNumber"].nil? ? '-': @record["catalogNumber"] %></span></p> <!-- catalogNumber -->
         <p><b>Colector: </b> <span class="contented"><%= @record["recordedBy"].nil? ? '-': @record["recordedBy"] %></span></p> <!-- recordedBy -->
         <p><b>Evidencia de registro: </b> <span class="contented"><%= @record["basisOfRecord"].nil? ? '-': @record["basisOfRecord"] %></span></p> <!-- basisOfRecord -->
         <p><b>URL: </b> <span class="contented"><%= @record["url"].nil? ? '-': @record["url"] %></span></p> <!-- url -->
         <p><b>Creado por: </b> Null</p> </br> <!-- userID -->

         <p><b>Fecha inicial: </b> <%= @record["earliestDateCollected"].nil? ? '-': @record["earliestDateCollected"] %></p> <!-- earliestDateCollected -->
         <p><b>Fecha final: </b> <%= @record["latestDateCollected"].nil? ? '-': @record["latestDateCollected"] %></p> <!-- latestDateCollected -->
         <p><b>Fecha interpretada: </b> <%= @record["year"].nil? ? '-': @record["year"] %>/<%= @record["month"].nil? ? '-': @record["month"] %>/<%= @record["day"].nil? ? '-': @record["day"] %></p> <!-- year month day -->
         <p><b>Fecha creación: </b> YYYY MM DD</p> <!-- year month day ligado a userID-->

         <h2>Calidad del registro</h2>
         <p><b>Error georeferenciación (m):</b> <%= @record["coordinateUncertaintyInMeters"].nil? ? '-': @record["coordinateUncertaintyInMeters"] %></p> <!-- coordinateUncertaintyInMeters -->
         <p><b>En casco urbano:</b> <%= @record["inUrbanArea"].nil? ? '-': @record["inUrbanArea"] %></p> <!-- inUrbanArea -->
         <p><b>Altitud en coordenadas:</b> <%= @record["demAltitude"].nil? ? '-': @record["demAltitude"] %></p> <!-- demAltitude -->
         <p><b>Altitud en rango conocido:</b> <%= @record["consistentAltitude"].nil? ? '-': @record["consistentAltitude"] %></p> <!-- consistentAltitude -->
         <p><b>Distancia a rango conocido:</b> <%= @record["dist2KnowRange"].nil? ? '-': @record["dist2KnowRange"] %></p> <!-- dist2KnowRange -->
         <p><b>Altitud atipica:</b> <%= @record["altitudinalOutlier"].nil? ? '-': @record["altitudinalOutlier"] %></p> <!-- altitudinalOutlier -->
         <p><b>Ambiente atípico:</b> <%= @record["environmentalOutlier"].nil? ? '-': @record["environmentalOutlier"] %></p> <!-- environmentalOutlier -->

         <br><br>
         <p><b>Último reporte: </b>
            <br>2001/12/12, Error de georeferenciación, Roberto Bolaños</p> <!-- reported -->
         <p><b>Última actualización: </b>
            <br>2001/12/12, Error de georeferenciación, Roberto Bolaños</p> <!-- updated -->

      </div>

      <div class="showreg" id="Showreg"></div>
      <div class="vermas"></div>

    </div>
</div>

<script>
$(document).ready(function(){
    $(".nobox").on("click", "#editregbtn", function(){
        $(".contented").attr("contenteditable","true").addClass("redtext");
        $("#editregbtn").replaceWith('<button id="saveregbtn" class="botonpopup2">guardar</button>');
    });
    $(".nobox").on("click", "#saveregbtn", function(){
        $(".contented").attr("contenteditable","false").removeClass("redtext");
        $("#saveregbtn").replaceWith('<button id="editregbtn" class="botonpopup">editar</button>');
    });

    $(".unapproved").on("click", function( event ) {
     $(".reportar").toggle("slow");
    });

    $("#cancel-point-cmt").on("click", function( event ) {
     $(".reportar").toggle("slow");
    });

    $("#Showreg").on("click", function( event ) {
     $("#Reghidden").toggle("slow");
     if ($("#Showreg").hasClass("rotate")){
       $("#Showreg").removeClass("rotate");
       $(".vermas").removeClass("vermenos");
      }
      else {
         $("#Showreg").addClass("rotate");
         $(".vermas").addClass("vermenos");
      }
    });

});

   // para maximo numero de caracteres.....
   //var content_id = 'editable_div';

   // max = 10;

   // $('#'+content_id).keydown(function(e){ check_charcount(content_id, max, e); });

   // function check_charcount(content_id, max, e)
   // {
   //     if(e.which != 8 && $('#'+content_id).text().length > max)
   //     {
   //        e.preventDefault();
   //     }
   // }
</script>
