  <div class="innercontainer metad">
  	<div class="dialog">
      <h1>Metadatos registros <em><%= @species_name %></em></h1>

      <h2>FUENTES</h2>
      <% if @sources.blank? || @sources[0]["source"].length == 1 && @sources[0]["source"][0].blank? %>
            <p>No hay información disponible.</p>
          <% else %>
            <% @sources[0]["source"].each_with_index do |source, i| %>
            <p><%= source %></p>
            <% end %>
          <% end %>
      </br>

      <p><b>Total registros únicos:</b> <%= @records_number %></p>
      <p><b>Actualizado: </b><% if @latest_date.blank? %> NA<% else %><%= @latest_date.to_time.strftime("%F") %><% end %></p>

      <h2>Instituciones</h2>
       <blockquote>
        <p>
          <% if @institutions.blank? || @institutions[0]["institution"].length == 1 && @institutions[0]["institution"][0].blank? %>
            No hay información disponible.
          <% else %>
            <% @institutions[0]["institution"].each_with_index do |institution, i| %><%= institution %><% if i < @institutions[0]["institution"].length - 1 %>, <% else %>.<% end %>
            <% end %>
          <% end %>
        </p> 
      </blockquote>
      <h2>Colecciones</h2>
       <blockquote>
        <p>
          <% if @collections.blank? || @collections[0]["colection_code"].blank? || @collections[0]["colection_code"].length == 1 && @collections[0]["colection_code"][0].blank? %>
            No hay información disponible.
          <% else %>
            <% @collections[0]["colection_code"].each_with_index do |colection, i| %><%= colection %><% if i < @collections[0]["colection_code"].length - 1 %>, <% else %>.<% end %>
            <% end %>
          <% end %>
        </p> 
      </blockquote>          
      <h2>Colectores</h2>
       <blockquote>
        <p>
          <% if @collectors.blank? || @collectors[0]["collector"].length == 1 && @collectors[0]["collector"][0].blank? %>
              No hay información disponible.
            <% else %>
              <% @collectors[0]["collector"].each_with_index do |collector, i| %><%= collector %><% if i < @collectors[0]["collector"].length - 1 %>, <% else %>.<% end %>
              <% end %>
            <% end %>
        </p>
      </blockquote>       
      <h2>Colaboradores en curaduría</h2>
      <blockquote>
        <p>
          <% if @collaborators["collaborators"].length == 0 %>
              No hay información disponible.
            <% else %>
              <% @collaborators["collaborators"].each_with_index do |collaborator, i| %><%= User.find(collaborator).name %><% if i < @collaborators["collaborators"].length - 1 %>, <% else %>.<% end %>
              <% end %>
            <% end %>
        </p>
      </blockquote>
      <h2>Cita</h2>
      <blockquote>
      <p><% if !@latest_date.blank? %><% @latest_date.split("/")[2] %>.<% end %> Biomodelos. Instituto Alexander von Humboldt.</p>
      </blockquote>

    </div>
</div>