<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="author" content="BioModelos - biomodelos@humboldt.org.co">
    <title>Experto aceptado</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
<style>
* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
	color: #db3f2a;
}

.linewidth {
	width: 700px;
	height: 150px;
	background-color: #1b3337;
	margin: 0 auto;
}

.contenido {
	width: 600px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 0 auto;
	margin-top: -70px;
}

h3 {
	color: #393836;
	margin-bottom: 35px;
}

h3 i,
h3 b {
	color: #424242;
}

h3 span {
	color: #db3f2a;
}

</style>

</head>
<body>
<div class="linewidth"></div>
<div class ="contenido">
	<h3>Saludos <%= @admin.name %>, moderador del grupo <b><%= @group.name %></b></h3>
	Ha recibido una solicitud por parte del usuario <a href="http://biomodelos.humboldt.org.co/users/<%= @user.id %>"><%= @user.name %></a> para unirse al grupo.<br/><br/>
	Solicitud recibida: <%= @datetime.strftime("%F %R") %><br/>
	<br/>
	Puede revisar el perfil del usuario, y en caso de requerir más información puede contactarlo al correo <%= @user.email %><br/>
	<br/>
	Para realizar alguna acción sobre esta solicitud, ingrese al perfil del <a href="http://biomodelos.humboldt.org.co/groups/<%= @group.id %>">grupo</a> y en la pestaña "Expertos" podrá consultar las solicitudes pendientes en la sección "Expertos por aprobar".<br/>
	<br/>
	Atentamente,<br/><br/>
	Equipo BioModelos
	<h3><a href="http://biomodelos.humboldt.org.co">biomodelos.humboldt.org.co</a><br/>
	biomodelos@humboldt.org.co</h3>
</div>
</body>
</html>