<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="author" content="BioModelos - biomodelos@humboldt.org.co">
    <title>Mensaje administrador</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
<style>
* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
	color: #db3f2a;
}

.linewidth {
	width: 700px;
	height: 150px;
	background-color: #1b3337;
	margin: 0 auto;
}

.contenido {
	width: 600px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 0 auto;
	margin-top: -70px;
}

h3 {
	color: #393836;
	margin-bottom: 35px;
}

h3 i,
h3 b {
	color: #424242;
}

h3 span {
	color: #db3f2a;
}

</style>

</head>
<body>
<div class="linewidth"></div>
<div class ="contenido">
	Se ha recibido una publicaci贸n en BioModelos con la siguiente informaci贸n:<br/>
	<br/>
	Hora de recepci贸n: <%= @datetime.strftime("%F %r") %><br/>
	<br/>
	<b>Experto:</b> <%= link_to @user.name, user_path(id: @user.id) %><br/>
	<b>E-Mail:</b> <%= @user.email %><br/>
	<b>Archivo:</b> <%= @publication.files %><br/>
	<b>Licencia CC:</b> <%= @publication.cc_license %><br/>
	<b>Visualizaci贸n:</b> <%= @publication.records_vis %><br/>
	<b>Contacto SiB:</b> <%= @publication.sib_contact %><br/>
	<b>Atlas de la Biodiversidad:</b> <%= @publication.atlas_agreement %><br/>
</div>
</body>
</html>
