<p><%= t('devise.mailer.reset_password_instructions.title')%> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.reset_password_instructions.text_1')%></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.text_2')%></p>
<p><%= t('devise.mailer.reset_password_instructions.text_3')%></p>

<p><%= t('devise.mailer.reset_password_instructions.text_4')%>
    <br/><br/>
    <%= t('devise.mailer.reset_password_instructions.text_5')%>
    <%= link_to 'BioModelos', url_for(controller: 'home', action: 'contact_us') %>
</p>
