<div class="innercontainer tilted">
	<div class="contenedor" ng-controller="perfilCtrl">
		<ul class="perfilnav infonav">
			<li ng-class="{ active: isSet(1) }">
	          	<a href ng-click="setTab(1)"><%= t('biomodelos.info.noticias') %></a>
	       	</li>
	       	<li ng-class="{ active: isSet(2) }">
	          	<a href ng-click="setTab(2)"><%= t('biomodelos.info.guias') %></a>
	       	</li>
	     </ul>
	     <h1>info</h1>

		<div ng-show="isSet(1)" class="cajainfo">
			<div class="infocontainer">
				<div class="blogg">
					<h4><%= t('biomodelos.info.titulovideo') %></h4>
					<p><%= t('biomodelos.info.cuerpovideo') %></p>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/6mNbBjPZzHM" title="¿Qué es BioModelos?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="blogg">
					<h4><%= t('biomodelos.info.titulovid') %></h4>
					<p><%= t('biomodelos.info.cuerpovid') %></p>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/xDu0uTt2sRM" title="¿Cómo contribuyen los expertos en BioModelos?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<a href="/PresentacionCuraduria.pdf" target="_blank" class="cajathumb">
					<h6>PDF Tutorial</h6>
					<p>+</p>
					</a>
				</div>
        <div class="atlasSec">
          <h4><%= t('biomodelos.info.tituloatlas') %></h4>
          <p style="max-width:700px">Fe de erratas: las descargas del Atlas de aves endémicas que se hicieron antes del 23 de abril de 2024 presentan un error en la fotografía de la especie <i>Phylloscartes lanyoni</i>. En esta nueva versión se corrige dicho error.</p>
          <a href="/atlas/AvesEndemicas.pdf" target="_blank" class="cajathumb">
            <%= image_tag("EndemicasP.png") %>
            <p>+</p>
          </a>
          <a href="/atlas/GrandesRoedores.pdf" target="_blank" class="cajathumb">
            <%= image_tag("roedores.png") %>
            <p>+</p>
          </a>
          <a href="/atlas/Anolis.pdf" target="_blank" class="cajathumb">
            <%= image_tag("AnolisP.png") %>
            <p>+</p>
          </a>
          <a href="/atlas/Primates.pdf" target="_blank" class="cajathumb">
            <%= image_tag("PrimatesP.png") %>
            <p>+</p>
          </a>
          <a href="/atlas/Zamias.pdf" target="_blank" class="cajathumb">
            <%= image_tag("ZamiasP.png") %>
            <p>+</p>
          </a>
        </div>
				<div class="atlasSec">
					<h4><%= t('biomodelos.info.tituloarticulos') %></h4>
					<a href="https://doi.org/10.1371/journal.pone.0214522" target="_blank" class="cajathumb">
						<%= image_tag("plosone.png") %>
						<p>+</p>
					</a>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div ng-show="isSet(2)" class="cajainfo">
			<div class="infocontainer">
				<h2><%= t('biomodelos.info.guias') %> 2018</h2>
				<h3>ES</h3>
				<a href="/Guiaun.pdf" target="_blank" class="cajathumb">
					<%= image_tag("guianres.png") %>
					<p>+</p>
				</a>
				<a href="/Guiaur.pdf" target="_blank" class="cajathumb">
					<%= image_tag("guiares.png") %>
					<p>+</p>
				</a>
				<a href="/Guiaer.pdf" target="_blank" class="cajathumb">
					<%= image_tag("guiaexp1es.png") %>
					<p>+</p>
				</a>
				<a href="/Guiaer2.pdf" target="_blank" class="cajathumb">
					<%= image_tag("guiaexp2es.png") %>
					<p>+</p>
				</a>
				<h3>EN</h3>
				<a href="/Quickuu.pdf" target="_blank" class="cajathumb">
					<%= image_tag("guideuu.png") %>
					<p>+</p>
				</a>
				<a href="/Quickru.pdf" target="_blank" class="cajathumb">
					<%= image_tag("guideru.png") %>
					<p>+</p>
				</a>
				<a href="/Quickeu.pdf" target="_blank" class="cajathumb">
					<%= image_tag("guiaexp1en.png") %>
					<p>+</p>
				</a>
				<a href="/Quickeu2.pdf" target="_blank" class="cajathumb">
					<%= image_tag("guiaexp2en.png") %>
					<p>+</p>
				</a>
				<h2><%= t('biomodelos.info.guias') %> 2017</h2>
				<a href="/moderadores.pdf" target="_blank" class="cajathumb">
					<%= image_tag("moderdocs.jpg") %>
					<p>+</p>
				</a>
				<a href="/publicacion.pdf" target="_blank" class="cajathumb">
					<%= image_tag("publidocs.jpg") %>
					<p>+</p>
				</a>
			</div>
		</div>

	    <div class="clearfix"></div>
	</div>
</div>
