<!DOCTYPE html>
<html>
	<head>
		<% if Rails.env.production? %>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-WD07J9FEXQ"></script>
            <%= javascript_include_tag 'analytics', async: true %>
		<% end %>
		<meta charset="utf-8">
		<meta name="google" content="notranslate">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<meta http-equiv="Content-Language" content="es" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta property="og:title" content="BioModelos - Mejores modelos con el apoyo de expertos">
		<meta property="og:url" content="http://biomodelos.humboldt.org.co/">
		<meta property="og:image" content="http://biomodelos.humboldt.org.co/biomodelosFB.jpg">
		<meta property="og:description" content="BioModelos es una herramienta digital que permite la comunicaci贸n entre expertos en biodiversidad para el desarrollo de modelos de distribuci贸n de las especies existentes en Colombia de forma colaborativa y abierta.">
		<meta name="description" content="BioModelos es una herramienta digital que permite la comunicaci贸n entre expertos en biodiversidad para el desarrollo de modelos de distribuci贸n de las especies existentes en Colombia de forma colaborativa y abierta." />
		<title>BioModelos - Mejores modelos con el apoyo de expertos</title>
		<%= favicon_link_tag 'favicon.ico' %>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,700italic,700,900,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js'%>
		<%= csrf_meta_tags %>
	</head>
	<body ng-app='biomodelos'>
	<!-- {{angular}} -->
    <div id="alerts">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" id="flashm"><%= value %></div>
      <% end %>
    </div>
		<%= render 'shared/header' %>
		<%= yield %>
		<%= render 'shared/footer' unless @skip_footer %>
	</body>

<!-- desaparece las alertas despues de 4 seg-->
<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('#flashm').remove();
    }, 3500);
  });
</script>
</html>
